<template>
  <Page actionBarHidden="true">
    <StackLayout>
      <GridLayout
        rows="*"
        columns="auto, *, auto"
        padding="15"
        paddingBottom="25"
        ref="navStatusBar"
        class="navStatusBar"
        verticalAlignment="top"
        width="100%"
        backgroundColor="#2cdfc3"
      >
        <Image
          src="~/assets/images/icons/icons8-left-black-48.png"
          stretch="aspectFit"
          height="20"
          row="0"
          col="0"
          @tap="$navigateBack()"
        />
        <Label
          marginLeft="20"
          text="Assets"
          textWrap="true"
          fontWeight="800"
          horizontalAlignment="center"
          color="white"
          fontSize="24"
          row="0"
          col="0"
          colSpan="3"
        />
        <!-- <Image
          src="~/assets/images/icons/icons8-share-50.png"
          stretch="aspectFit"
          height="25"
          row="0"
          col="2"
          horizontalAlignment="right"
        /> -->
      </GridLayout>
      <StackLayout orientation="horizontal" backgroundColor="#2cdfc3">
        <GridLayout
          columns="auto, *"
          height="50"
          marginLeft="50"
          marginRight="50"
          backgroundColor="white"
          borderRadius="30"
          marginBottom="80"
        >
          <Image
            src="~/assets/images/icons/icons8-search-48.png"
            stretch="aspectFit"
            height="20"
            col="0"
            marginLeft="20"
          />
          <TextField hint="Search" col="1" marginRight="10" />
        </GridLayout>
      </StackLayout>
      <StackLayout borderRadius="30" marginTop="-50" backgroundColor="white">
        <RadListView ref="listView" for="item in items" borderRadius="30">
          <v-template name="header">
            <GridLayout
              rows="auto, auto"
              columns="auto, *, auto"
              margin="10"
              marginTop="20"
            >
              <Image
                src="~/assets/images/icons/icons8-search-48.png"
                stretch="aspectFit"
                height="20"
                col="0"
                row="0"
                marginLeft="20"
              />
              <StackLayout col="1" marginLeft="10" row="0" rowSpan="2">
                <Label text="Items" textWrap="true" fontWeight="800" />
                <Label
                  text="View all the available assets items"
                  textWrap="true"
                  fontWeight="200"
                  fontSize="12"
                />
              </StackLayout>
              <Label
                text="Filter"
                textWrap="true"
                borderRadius="30"
                paddingLeft="30"
                paddingRight="30"
                paddingTop="2"
                paddingBottom="2"
                horizontalAlignment="right"
                verticalAlignment="center"
                col="2"
                row="0"
                backgroundColor="#28b0d2"
                color="white"
              />
            </GridLayout>
          </v-template>
          <v-template>
            <GridLayout
              rows="auto, auto, auto, auto"
              borderRadius="10"
              borderWidth="2"
              borderColor="#efefef"
              margin="15"
              marginBottom="0"
              padding="15"
              @tap="onItemTap(item)"
            >
              <GridLayout row="0" columns="auto, auto, auto">
                <Label
                  text="Lift not working"
                  textWrap="true"
                  fontWeight="800"
                />
                <StackLayout
                  col="1"
                  width="10"
                  height="10"
                  borderRadius="100%"
                  backgroundColor="#efefef"
                  marginRight="10"
                  marginLeft="10"
                >
                </StackLayout>
                <Label
                  col="2"
                  text="T10012328"
                  textWrap="true"
                  fontWeight="800"
                />
              </GridLayout>
              <GridLayout row="1" columns="auto, auto, auto">
                <Label
                  text="Chiller Water System"
                  textWrap="true"
                  fontWeight="200"
                />
                <StackLayout
                  col="1"
                  width="10"
                  height="10"
                  borderRadius="100%"
                  backgroundColor="#efefef"
                  marginRight="10"
                  marginLeft="10"
                >
                </StackLayout>
                <Label
                  col="2"
                  text="Chiller System"
                  textWrap="true"
                  fontWeight="200"
                />
              </GridLayout>

              <GridLayout row="2" columns="auto, *, " marginTop="3">
                <Image
                  src="~/assets/images/icons/icons8-search-48.png"
                  stretch="aspectFit"
                  height="15"
                  col="0"
                />
                <Label
                  marginLeft="5"
                  col="1"
                  text="Level 5 (Chiller Room)"
                  textWrap="true"
                  fontWeight="200"
                />
              </GridLayout>
              <GridLayout row="3" columns="auto" marginTop="10">
                <Label
                  text="Stock Out (Repairs)"
                  textWrap="true"
                  borderRadius="30"
                  paddingLeft="30"
                  paddingRight="30"
                  paddingTop="2"
                  paddingBottom="2"
                  horizontalAlignment="left"
                  verticalAlignment="center"
                  col="0"
                  backgroundColor="#28b0d2"
                  fontWeight="800"
                  color="white"
                />
              </GridLayout>
            </GridLayout>
          </v-template>
          <v-template name="footer">
            <StackLayout marginBottom="50"> </StackLayout>
          </v-template>
        </RadListView>
      </StackLayout>
    </StackLayout>
  </Page>
</template>

<script>
import AssetListing from "./AssetDetails";
export default {
  data() {
    return {
      items: [{}, {}, {}]
    };
  },
  methods: {
    onItemTap() {
      this.$navigateTo(AssetListing);
    }
  }
};
</script>

<style lang="scss" scoped>
TextField {
  border-bottom-width: 1;
  border-bottom-color: transparent;
}
</style>
