<template>
  <Page actionBarHidden="true">
    <StackLayout>
      <ScrollView scrollBarIndicatorVisible="false">
        <StackLayout>
          <GridLayout
            rows="auto, auto"
            columns="auto, *, auto"
            padding="15"
            paddingBottom="105"
            ref="navStatusBar"
            class="navStatusBar"
            verticalAlignment="top"
            width="100%"
            backgroundColor="#2cdfc3"
          >
            <Image
              src="~/assets/images/icons/icons8-left-black-48.png"
              stretch="aspectFit"
              height="20"
              row="0"
              col="0"
              @tap="$navigateBack()"
            />
            <Label
              marginLeft="20"
              text="Asset Details"
              textWrap="true"
              fontWeight="800"
              horizontalAlignment="center"
              color="white"
              fontSize="24"
              row="0"
              col="0"
              colSpan="3"
            />
            <!-- <Image
          src="~/assets/images/icons/icons8-share-50.png"
          stretch="aspectFit"
          height="25"
          row="0"
          col="2"
          horizontalAlignment="right"
        /> -->
            <Label
              row="1"
              col="0"
              colSpan="3"
              text="#BN0000123"
              textWrap="true"
              color="white"
              horizontalAlignment="center"
              marginTop="5"
              fontWeight="16 "
            />
          </GridLayout>
          <StackLayout
            margin="15"
            marginTop="-80"
            borderRadius="30"
            backgroundColor="white"
          >
            <Image
              borderRadius="30"
              src="~/assets/images/generic/generic_1.jpg"
              stretch="aspectFill"
              height="300"
              row="0"
              col="0"
              @tap="$navigateBack()"
            />
          </StackLayout>
          <GridLayout columns="auto, *">
            <StackLayout
              col="0"
              backgroundColor="#2cdfc3"
              height="20"
              width="8"
              marginLeft="10"
            >
            </StackLayout>
            <Label
              col="1"
              text="Water Cooled Screw Chiller"
              textWrap="true"
              marginLeft="10"
              fontWeight="800"
              fontSize="20"
            />
          </GridLayout>
          <GridLayout rows="auto,auto" columns="auto, *" margin="15">
            <Image
              src="~/assets/images/icons/icons8-left-black-48.png"
              stretch="aspectFit"
              height="20"
              row="0"
              col="0"
            />
            <Label row="0" col="1" textWrap="true" marginLeft="10">
              <FormattedString>
                <Span text="Activation Date: " />
                <Span text="Aug 15, 2019" fontWeight="800" />
              </FormattedString>
            </Label>
            <Image
              src="~/assets/images/icons/icons8-left-black-48.png"
              stretch="aspectFit"
              height="20"
              row="1"
              col="0"
              @tap="$navigateBack()"
            />
            <Label row="1" col="1" textWrap="true" marginLeft="10">
              <FormattedString>
                <Span text="Activation Date: " />
                <Span text="Aug 15, 2019" fontWeight="800" />
              </FormattedString>
            </Label>
          </GridLayout>
          <GridLayout
            rows="auto"
            columns="auto, *"
            margin="15"
            marginTop="5"
            marginBottom="5"
          >
            <Image
              src="~/assets/images/icons/icons8-left-black-48.png"
              stretch="aspectFit"
              height="20"
              row="0"
              col="0"
            />
            <Label
              row="0"
              col="1"
              textWrap="true"
              marginLeft="10"
              text="Level 5, Chiller Plant Room"
            >
            </Label>
          </GridLayout>
          <GridLayout
            rows="auto"
            columns="auto, *"
            margin="15"
            marginTop="5"
            marginBottom="5"
          >
            <Image
              src="~/assets/images/icons/icons8-left-black-48.png"
              stretch="aspectFit"
              height="20"
              row="0"
              col="0"
            />
            <Label
              row="0"
              col="1"
              textWrap="true"
              marginLeft="10"
              text="Department"
            >
            </Label>
          </GridLayout>
          <GridLayout
            rows="auto, auto"
            columns="auto, *"
            margin="15"
            marginTop="5"
            marginBottom="5"
          >
            <Image
              src="~/assets/images/icons/icons8-left-black-48.png"
              stretch="aspectFit"
              height="20"
              row="0"
              col="0"
            />
            <Label row="0" col="1" textWrap="true" marginLeft="10">
              <FormattedString>
                <Span text="Serial No: " />
                <Span text="CH-1" fontWeight="800" />
              </FormattedString>
            </Label>
            <Label row="1" col="1" textWrap="true" marginLeft="10">
              <FormattedString>
                <Span text="Serial No (Factory): " />
                <Span text="653" fontWeight="800" />
              </FormattedString>
            </Label>
          </GridLayout>
          <GridLayout
            rows="auto"
            columns="auto, *"
            margin="15"
            marginTop="5"
            marginBottom="5"
          >
            <Image
              src="~/assets/images/icons/icons8-left-black-48.png"
              stretch="aspectFit"
              height="20"
              row="0"
              col="0"
            />
            <Label row="0" col="1" textWrap="true" marginLeft="10">
              <FormattedString>
                <Span text="Model: " />
                <Span text="Z-WKWX3" fontWeight="800" />
              </FormattedString>
            </Label>
          </GridLayout>
          <GridLayout
            rows="auto, auto"
            width="30%"
            backgroundColor="#2cdfc3"
            borderRadius="30"
          >
            <Label
              row="0"
              text="Alert Days"
              textWrap="true"
              horizontalAlignment="center"
              fontWeight="800"
              color="white"
              marginTop="3"
            />
            <StackLayout
              row="1"
              width="80%"
              backgroundColor="white"
              borderRadius="30"
              marginTop="5"
              marginBottom="10"
            >
              <Label
                text="4"
                textWrap="true"
                fontSize="50"
                fontWeight="800"
                backgroundColor="white"
                horizontalAlignment="center"
                borderRadius="30"
                paddingTop="10"
                paddingBottom="10"
              />
            </StackLayout>
          </GridLayout>
          <StackLayout
            margin="15"
            borderRadius="30"
            borderWidth="2"
            borderColor="#efefef"
          >
            <Label
              text="Remarks"
              fontWeight="800"
              fontSize="20"
              textWrap="true"
              margin="15"
              marginBottom="0"
            />

            <Label
              margin="15"
              text="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum"
              textWrap="true"
            />
          </StackLayout>
        </StackLayout>
      </ScrollView>
    </StackLayout>
  </Page>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped></style>
