<template>
  <Page actionBarHidden="true">
    <StackLayout>
      <GridLayout
        rows="*"
        columns="auto, *, auto"
        padding="15"
        paddingBottom="25"
        ref="navStatusBar"
        class="navStatusBar"
        verticalAlignment="top"
        width="100%"
        backgroundColor="#2cdfc3"
      >
        <Image
          src="~/assets/images/icons/icons8-left-black-48.png"
          stretch="aspectFit"
          height="20"
          row="0"
          col="0"
          @tap="$navigateBack()"
        />
        <Label
          marginLeft="20"
          text="Inventory"
          textWrap="true"
          fontWeight="800"
          horizontalAlignment="center"
          color="white"
          fontSize="24"
          row="0"
          col="0"
          colSpan="3"
        />
        <!-- <Image
          src="~/assets/images/icons/icons8-share-50.png"
          stretch="aspectFit"
          height="25"
          row="0"
          col="2"
          horizontalAlignment="right"
        /> -->
      </GridLayout>
      <StackLayout orientation="horizontal" backgroundColor="#2cdfc3">
        <GridLayout
          columns="auto, *"
          height="50"
          marginLeft="50"
          marginRight="50"
          backgroundColor="white"
          borderRadius="30"
          marginBottom="80"
        >
          <Image
            src="~/assets/images/icons/icons8-search-48.png"
            stretch="aspectFit"
            height="20"
            col="0"
            marginLeft="20"
          />
          <TextField hint="Search" col="1" marginRight="10" />
        </GridLayout>
      </StackLayout>
      <StackLayout borderRadius="30" marginTop="-50" backgroundColor="white">
        <RadListView ref="listView" for="item in items" borderRadius="30">
          <v-template name="header">
            <GridLayout
              rows="auto, auto"
              columns="auto, *, auto"
              margin="10"
              marginTop="20"
            >
              <Image
                src="~/assets/images/icons/icons8-search-48.png"
                stretch="aspectFit"
                height="20"
                col="0"
                row="0"
                marginLeft="20"
              />
              <StackLayout col="1" marginLeft="10" row="0" rowSpan="2">
                <Label text="Items" textWrap="true" fontWeight="800" />
                <Label
                  text="View all the available inventory items"
                  textWrap="true"
                  fontWeight="200"
                  fontSize="12"
                />
              </StackLayout>
              <Label
                text="Filter"
                textWrap="true"
                borderRadius="30"
                paddingLeft="30"
                paddingRight="30"
                paddingTop="2"
                paddingBottom="2"
                horizontalAlignment="right"
                verticalAlignment="center"
                col="2"
                row="0"
                backgroundColor="#28b0d2"
              />
            </GridLayout>
          </v-template>
          <v-template>
            <GridLayout
              rows="auto, auto, auto"
              borderRadius="10"
              borderWidth="2"
              borderColor="#efefef"
              margin="15"
              marginBottom="0"
              padding="15"
            >
              <Label
                text="240w VAV Box Step Down Transformer"
                textWrap="true"
                fontWeight="800"
              />
              <GridLayout
                row="1"
                columns="auto, auto, auto, auto"
                marginTop="3"
                marginBottom="5"
              >
                <Image
                  src="~/assets/images/icons/icons8-search-48.png"
                  stretch="aspectFit"
                  height="25"
                  col="0"
                />
                <Label
                  fontWeight="200"
                  fontSize="12"
                  col="1"
                  text="Mechanical & Electrical"
                  textWrap="true"
                  marginLeft="5"
                  verticalAlignment="center"
                />
                <StackLayout
                  height="5"
                  width="5"
                  borderRadius="100%"
                  backgroundColor="#28b0d2"
                  col="2"
                  marginRight="5"
                  marginLeft="5"
                  verticalAlignment="center"
                  horizontalAlignment="center"
                >
                </StackLayout>
                <Label
                  fontWeight="200"
                  fontSize="12"
                  col="3"
                  text="Light Bulbs"
                  textWrap="true"
                  verticalAlignment="center"
                />
              </GridLayout>
              <GridLayout row="2" rows="auto, auto" columns="*, 2*">
                <GridLayout
                  row="0"
                  columns="auto, *"
                  backgroundColor="#3acbc8"
                  margin="3"
                  padding="3"
                  borderRadius="30"
                >
                  <Image
                    src="~/assets/images/icons/icons8-search-48.png"
                    stretch="aspectFit"
                    height="15"
                    col="0"
                    margin="3"
                    marginLeft="5"
                  />
                  <Label
                    marginLeft="5"
                    col="1"
                    text="Add"
                    textWrap="true"
                    color="white"
                    verticalAlignment="center"
                    fontWeight="800"
                    fontSize="12"
                  />
                </GridLayout>
                <GridLayout
                  row="1"
                  columns="auto, *"
                  backgroundColor="#f96066"
                  margin="1"
                  padding="3"
                  borderRadius="30"
                >
                  <Image
                    src="~/assets/images/icons/icons8-search-48.png"
                    stretch="aspectFit"
                    height="15"
                    col="0"
                    margin="3"
                    marginLeft="5"
                  />
                  <Label
                    marginLeft="5"
                    col="1"
                    text="Checkout"
                    textWrap="true"
                    color="white"
                    fontSize="12"
                    verticalAlignment="center"
                    fontWeight="800"
                  />
                </GridLayout>
                <GridLayout
                  row="0"
                  rowSpan="2"
                  col="1"
                  columns="*, *"
                  marginLeft="50"
                  marginRight="30"
                >
                  <StackLayout col="0">
                    <Label text="Quantity:" textWrap="true" fontWeight="200" />
                    <Label
                      text="50"
                      textWrap="true"
                      fontWeight="800"
                      fontSize="30"
                    />
                  </StackLayout>
                  <StackLayout col="1">
                    <Label text="Reorder:" textWrap="true" fontWeight="200" />
                    <Label
                      text="3"
                      textWrap="true"
                      fontWeight="800"
                      fontSize="30"
                    />
                  </StackLayout>
                </GridLayout>
              </GridLayout>
            </GridLayout>
          </v-template>
          <v-template name="footer">
            <StackLayout marginBottom="50"> </StackLayout>
          </v-template>
        </RadListView>
      </StackLayout>
    </StackLayout>
  </Page>
</template>

<script>
export default {
  data() {
    return {
      items: [{}, {}, {}]
    };
  }
};
</script>

<style lang="scss" scoped>
TextField {
  border-bottom-width: 1;
  border-bottom-color: transparent;
}
</style>
