<template>
  <Page actionBarHidden="true">
    <StackLayout>
      <FlexboxLayout flexDirection="column">
        <StackLayout verticalAlignment="center" padding="30" height="30%">
          <StackLayout orientation="horizontal">
            <Image
              width="35"
              src="~/assets/images/NativeScript-Vue.png"
              stretch="aspectFit"
            />
            <Label text="Company Name" textWrap="true" />
          </StackLayout>
        </StackLayout>
        <StackLayout height="70%" padding="30" style="vertical-align: middle;">
          <StackLayout padding="20" style="vertical-align: middle;">
            <Label
              color="#bdbdbd"
              class="t-30"
              text="Welcome back,"
              textWrap="true"
            />
            <Label
              color="#bdbdbd"
              class="t-30"
              text="please login"
              textWrap="true"
            />
            <Label
              color="#bdbdbd"
              class="t-30"
              text="to your account."
              textWrap="true"
            />
          </StackLayout>
          <StackLayout paddingTop="50">
            <StackLayout
              borderWidth="1"
              borderRadius="10"
              borderColor="#bdbdbd"
            >
              <TextField padding="15" hint="Username" text="" />
              <StackLayout class="hr-light"></StackLayout>
              <TextField padding="15" hint="Password" text="" />
            </StackLayout>
            <StackLayout
              marginTop="20"
              padding="20"
              backgroundColor="#1e88e5"
              borderRadius="10"
            >
              <Button color="#ffffff" text="LOGIN" />
            </StackLayout>
            <StackLayout paddingTop="20" paddingBottom="10">
              <Label horizontalAlignment="center" textWrap>
                <FormattedString>
                  <Span text="Forget Username/Password?" class="h5"></Span>
                  <Span text="Reset my account" color="blue" class="h5"></Span>
                </FormattedString>
              </Label>
            </StackLayout>
            <StackLayout paddingTop="5" paddingBottom="5">
              <Label horizontalAlignment="center" textWrap>
                <FormattedString>
                  <Span text="Don't have an account " class="h5"></Span>
                  <Span text="Register here" color="blue" class="h5"></Span>
                </FormattedString>
              </Label>
            </StackLayout>
          </StackLayout>
        </StackLayout>
      </FlexboxLayout>
    </StackLayout>
  </Page>
</template>

<script>
  export default {};
</script>

<style scoped>
  .subdetail {
    color: "e0e0e0";
  }
</style>
