<template>
  <Page actionBarHidden="true" backgroundColor="#F5F5F5">
    <StackLayout>
      <GridLayout
        row="0"
        rows="*"
        columns="auto,*"
        ref="navStatusBar"
        class="navStatusBar"
        verticalAlignment="top"
      >
        <Image
          src="~/assets/images/icons/icons8-left-black-48.png"
          stretch="aspectFit"
          height="20"
          row="0"
          col="0"
          margin="20"
          @tap="$navigateBack()"
        />
        <Label
          col="0"
          colSpan="2"
          text="Login Examples"
          textWrap="true"
          class="h2"
          fontWeight="800"
          verticalAlignment="center"
          horizontalAlignment="center"
          margin="10"
        />
      </GridLayout>
      <ScrollView>
        <StackLayout margin="25">
          <CardView
            ripple="true"
            class="card"
            margin="10"
            ios:shadowRadius="2"
            radius="10"
            v-for="(item, index) in items"
            v-bind:key="index"
          >
            <GridLayout
              columns="*, auto"
              margin="15"
              marginLeft="20"
              @tap="onCardTap(item)"
            >
              <Label
                col="0"
                :text="item.title"
                textWrap="true"
                fontWeight="800"
                class="h2"
              />
              <Image
                col="1"
                src="~/assets/images/icons/icons8-forward-50-black.png"
                stretch="aspectFit"
              />
            </GridLayout>
          </CardView>
        </StackLayout>
      </ScrollView>
    </StackLayout>
  </Page>
</template>

<script>
  import LoginType1 from "./LoginType1.vue";
  import LoginType2 from "./LoginType2.vue";
  import LoginType3 from "./LoginType3.vue";

  export default {
    data() {
      return {
        items: [
          { title: "Login Example 2", module: LoginType1 },
          { title: "Login Examples 3", module: LoginType2 },
          { title: "Login Example 4", module: LoginType3 },
        ],
      };
    },
    methods: {
      onCardTap(item) {
        this.$navigateTo(item.module);
      },
    },
  };
</script>

<style lang="scss" scoped>
  .card {
    background-color: #fff;
    color: #4d4d4d;
  }
</style>
