<template>
  <Page class="page-degree-gradient" actionBarHidden="true">
    <StackLayout>
      <FlexboxLayout flexDirection="column">
        <StackLayout>
          <StackLayout paddingTop="100">
            <StackLayout paddingTop="20">
              <Label
                color="#ffffff"
                class="t-30"
                horizontalAlignment="center"
                text="COMPANY NAME"
                textWrap="true"
              />
            </StackLayout>
          </StackLayout>
          <StackLayout padding="50" paddingTop="100">
            <StackLayout>
              <StackLayout orientation="horizontal">
                <TextField
                  class="form-input"
                  paddingBottom="10"
                  hint="Username"
                  text
                />
              </StackLayout>
              <StackLayout class="hr-light"></StackLayout>
              <StackLayout paddingTop="50" orientation="horizontal">
                <TextField
                  class="form-input"
                  paddingBottom="10"
                  hint="Password"
                  text
                />
              </StackLayout>
              <StackLayout class="hr-light"></StackLayout>
              <StackLayout
                paddingTop="15"
                orientation="horizontal"
                v-if="errorMessages"
              >
                <Image
                  width="20"
                  src="~/assets/images/icons/ic_error.png"
                  stretch="aspectFit"
                />
                <Label
                  paddingLeft="5"
                  paddingTop="4"
                  color="#ffffff"
                  text="Email or Password is incorrect."
                  textWrap="true"
                  class="h3"
                />
              </StackLayout>
            </StackLayout>
            <StackLayout
              marginTop="50"
              padding="5"
              backgroundColor="#ffffff"
              borderRadius="2"
              width="30%"
            >
              <Button color="#2196f3" text="LOGIN" class="h2" />
            </StackLayout>
            <StackLayout paddingTop="40">
              <StackLayout paddingBottom="30">
                <Label horizontalAlignment="center">
                  <FormattedString>
                    <Span
                      color="#ffffff"
                      text="Dont have an account? "
                      class="h3"
                    ></Span>
                    <Span color="#ffffff" text="Sign Up!" class="h3"></Span>
                  </FormattedString>
                </Label>
              </StackLayout>
              <StackLayout>
                <Label horizontalAlignment="center">
                  <FormattedString>
                    <Span
                      color="#ffffff"
                      text="Forget Username/Password? "
                      class="h3"
                    ></Span>
                  </FormattedString>
                </Label>
              </StackLayout>
            </StackLayout>
          </StackLayout>
        </StackLayout>
      </FlexboxLayout>
    </StackLayout>
  </Page>
</template>

<script>
export default {
  data() {
    return {
      errorMessages: "Email Or Password is incorrect."
    };
  }
};
</script>

<style lang="scss">
.right-gradient {
  background: linear-gradient(to right, #373b44, #4286f4);
}

.form-input {
  color: white;
  placeholder-color: white;
}
.page-degree-gradient {
  background: linear-gradient(45deg, #e805fd, #64b3f4, #64b3f4);
}
</style>
