<template>
  <Page class="login-bg" actionBarHidden="true">
    <StackLayout>
      <FlexboxLayout flexDirection="column">
        <StackLayout>
          <StackLayout padding="100">
            <Image
              width="30%"
              src="~/assets/images/NativeScript-Vue.png"
              stretch="aspectFit"
            />
            <StackLayout paddingTop="20">
              <Label
                color="#ffffff"
                class="h2"
                horizontalAlignment="center"
                text="Company Name"
                textWrap="true"
              />
            </StackLayout>
          </StackLayout>
          <StackLayout padding="30">
            <StackLayout>
              <StackLayout orientation="horizontal">
                <Image
                  width="35"
                  src="~/assets/images/icons/ic_name.png"
                  stretch="aspectFit"
                />
                <TextField
                  class="form-input"
                  padding="15"
                  hint="Username"
                  text=""
                />
              </StackLayout>
              <StackLayout class="hr-light"></StackLayout>
              <StackLayout paddingTop="20" orientation="horizontal">
                <Image
                  width="35"
                  src="~/assets/images/icons/ic_password.png"
                  stretch="aspectFit"
                />
                <TextField
                  class="form-input"
                  padding="15"
                  hint="Password"
                  text=""
                />
              </StackLayout>
              <StackLayout class="hr-light"></StackLayout>
            </StackLayout>
            <StackLayout
              class="right-gradient"
              marginTop="20"
              padding="10"
              backgroundColor="#1e88e5"
              borderRadius="10"
            >
              <Button color="#ffffff" text="LOGIN" class="h2" />
            </StackLayout>
            <StackLayout paddingTop="20" paddingBottom="5=10">
              <Label horizontalAlignment="center">
                <FormattedString>
                  <Span
                    color="#e0e0e0"
                    text="Forget Username/Password? "
                    class="h3"
                  ></Span>
                </FormattedString>
              </Label>
            </StackLayout>
          </StackLayout>
        </StackLayout>
      </FlexboxLayout>
    </StackLayout>
  </Page>
</template>

<script>
  export default {};
</script>

<style lang="scss">
  .right-gradient {
    background: linear-gradient(to right, #373b44, #4286f4);
  }
  .login-bg {
    background-image: url("~/assets/images/login/login_bg_1.jpg");
  }
  .form-input {
    color: white;
    placeholder-color: #e0e0e0;
  }
</style>
