<template>
  <Page actionBarHidden="true" backgroundColor="#F5F5F5">
    <StackLayout>
      <GridLayout
        row="0"
        rows="*"
        columns="auto,*"
        ref="navStatusBar"
        class="navStatusBar"
        verticalAlignment="top"
      >
        <Label
          col="1"
          text="Examples"
          textWrap="true"
          class="h2"
          fontWeight="800"
          verticalAlignment="center"
          horizontalAlignment="center"
          margin="10"
        />
      </GridLayout>
      <ScrollView>
        <StackLayout margin="25">
          <CardView
            ripple="true"
            class="card"
            margin="10"
            ios:shadowRadius="2"
            radius="10"
            v-for="(item, index) in items"
            v-bind:key="index"
          >
            <GridLayout
              columns="*, auto"
              margin="15"
              marginLeft="20"
              @tap="onCardTap(item)"
            >
              <Label
                col="0"
                :text="item.title"
                textWrap="true"
                fontWeight="800"
                class="h2"
              />
              <Image
                col="1"
                src="~/assets/images/icons/icons8-forward-50-black.png"
                stretch="aspectFit"
              />
            </GridLayout>
          </CardView>
        </StackLayout>
      </ScrollView>
    </StackLayout>
  </Page>
</template>

<script>
  import CardIndex from "../Card/CardIndex";
  import LoginIndex from "../Login/LoginIndex.vue";

  export default {
    data() {
      return {
        items: [
          { title: "Login Examples", module: LoginIndex },
          { title: "Form Examples", module: CardIndex },
          { title: "Page Examples", module: CardIndex },
          { title: "Home Examples", module: CardIndex },
          { title: "List Examples", module: CardIndex },
          { title: "Food App Example", module: CardIndex },
        ],
      };
    },
    methods: {
      onCardTap(item) {
        this.$navigateTo(item.module);
      },
    },
  };
</script>

<style lang="scss" scoped>
  .card {
    background-color: #fff;
    color: #4d4d4d;
  }
</style>
