<template>
  <Page class="" actionBarHidden="true" backgroundColor="#e91e63">
    <StackLayout>
      <FlexboxLayout flexDirection="column" marginTop="30">
        <GridLayout rows="*">
          <Image
            marginLeft="20"
            src="~/assets/images/icons/icons8-left-black-48.png"
            stretch="aspectFit"
            row="0"
            height="20"
            verticalAlignment="top"
            horizontalAlignment="left"
            @tap="$navigateBack()"
          />

          <StackLayout paddingTop="20" row="0">
            <StackLayout
              padding="30"
              backgroundColor="white"
              margin="20"
              borderRadius="15"
            >
              <StackLayout marginBottom="20" paddingTop="30">
                <Label
                  text="Signup"
                  textWrap="true"
                  fontWeight="800"
                  textAlignment="center"
                  fontSize="20"
                />
              </StackLayout>
              <StackLayout>
                <StackLayout
                  marginTop="5"
                  orientation="horizontal"
                  backgroundColor="#efefef"
                  borderRadius="10"
                >
                  <Image
                    marginLeft="10"
                    width="35"
                    src="~/assets/images/icons/ic_mail_black.png"
                    stretch="aspectFit"
                  />
                  <TextField
                    class="form-input"
                    padding="15"
                    hint="Name"
                    v-model="item.name"
                    style="placeholder-color: #9e9e9e"
                  />
                </StackLayout>
                <StackLayout
                  marginTop="10"
                  orientation="horizontal"
                  backgroundColor="#efefef"
                  borderRadius="10"
                >
                  <Image
                    marginLeft="10"
                    width="35"
                    src="~/assets/images/icons/ic_mail_black.png"
                    stretch="aspectFit"
                  />
                  <TextField
                    class="form-input"
                    padding="15"
                    hint="Email"
                    v-model="item.email"
                    style="placeholder-color: #9e9e9e"
                  />
                </StackLayout>
                <StackLayout
                  marginTop="10"
                  orientation="horizontal"
                  backgroundColor="#efefef"
                  borderRadius="10"
                >
                  <Image
                    marginLeft="10"
                    width="35"
                    src="~/assets/images/icons/ic_mail_black.png"
                    stretch="aspectFit"
                  />
                  <TextField
                    class="form-input"
                    padding="15"
                    hint="Telephone No."
                    v-model="item.telephone_no"
                    style="placeholder-color: #9e9e9e"
                  />
                </StackLayout>
                <StackLayout
                  marginTop="10"
                  orientation="horizontal"
                  backgroundColor="#efefef"
                  borderRadius="10"
                >
                  <Image
                    marginLeft="10"
                    width="35"
                    src="~/assets/images/icons/ic_lock_black.png"
                    stretch="aspectFit"
                  />
                  <StackLayout orientation="horizontal">
                    <TextField
                      class="form-input"
                      padding="15"
                      hint="Password"
                      v-model="item.password"
                      :secure="isSecure"
                      width="80%"
                      style="placeholder-color: #9e9e9e"
                    />
                    <Image
                      width="30"
                      src="~/assets/images/icons/ic_eye_black.png"
                      stretch="aspectFit"
                      @tap="isSecure = !isSecure"
                    />
                  </StackLayout>
                </StackLayout>
                <StackLayout marginTop="10">
                  <Label
                    :text="'Choose your role: ' + item.roleType"
                    textWrap="true"
                    marginBottom="10"
                  />
                  <StackLayout orientation="horizontal">
                    <Button
                      verticalAlignment="center"
                      color="#ffffff"
                      text="MEMBER"
                      class="h4"
                      @tap="item.roleType = 'Member'"
                      padding="2"
                      backgroundColor="#e91e63"
                      :borderWidth="item.roleType == 'Member' ? 2 : 0"
                      borderColor="#000000"
                      borderRadius="10"
                      width="50%"
                      marginRight="5"
                    />

                    <Button
                      verticalAlignment="center"
                      color="#ffffff"
                      text="TRAVEL AGENT"
                      class="h4"
                      @tap="item.roleType = 'Travel Agent'"
                      padding="5"
                      backgroundColor="#e91e63"
                      :borderWidth="item.roleType == 'Travel Agent' ? 2 : 0"
                      borderColor="#000000"
                      borderRadius="10"
                      width="50%"
                      marginRight="5"
                    />
                  </StackLayout>
                </StackLayout>
              </StackLayout>

              <Button
                marginTop="5"
                backgroundColor="#e91e63"
                borderRadius="50"
                color="#ffffff"
                text="SUBMIT"
                class="h2"
                @tap="onSubmitTap"
              />
            </StackLayout>
          </StackLayout>
        </GridLayout>
      </FlexboxLayout>
    </StackLayout>
  </Page>
</template>

<script>
import Home from "../Home/Home";
export default {
  data() {
    return {
      isSecure: true,
      item: {
        password: "password",
        username: "",
        name: "hello",
        roleType: "",
        name: "",
        telephone_no: "",
        email: ""
      }
    };
  },
  methods: {
    onSubmitTap() {
      this.$navigateTo(Home);
    }
  }
};
</script>

<style lang="scss">
.right-gradient {
  background: linear-gradient(to right, #373b44, #4286f4);
}
.login-bg {
  background-image: url("~/assets/images/login/login_bg_1.jpg");
}
.form-input {
  color: black;
  placeholder-color: #e0e0e0;
}
</style>
