<template>
  <Page actionBarHidden="true">
    <StackLayout>
      <GridLayout
        rows="*"
        columns="*, *"
        padding="15"
        paddingBottom="15"
        ref="navStatusBar"
        class="navStatusBar"
        verticalAlignment="top"
        width="100%"
      >
        <StackLayout
          orientation="horizontal"
          row="0"
          col="0"
          horizontalAlignment="left"
          marginLeft="10"
        >
          <Image
            src="~/assets/images/icons/icons8-left-black-48.png"
            stretch="aspectFit"
            height="20"
            row="0"
            col="0"
            @tap="$navigateBack()"
          />
          <Label
            marginLeft="20"
            text="Detail"
            textWrap="true"
            fontWeight="800"
            textAlignment="left"
            fontSize="20"
          />
        </StackLayout>

        <Image
          src="~/assets/images/icons/icons8-share-50.png"
          stretch="aspectFit"
          height="25"
          row="0"
          col="2"
          horizontalAlignment="right"
        />
      </GridLayout>
      <StackLayout class="hr-light"> </StackLayout>
      <ScrollView margin="20" marginTop="0" scrollBarIndicatorVisible="false">
        <StackLayout paddingTop="20">
          <StackLayout borderRadius="20">
            <Image src="~/assets/images/food/food_9.jpg" stretch="aspectFill" />
          </StackLayout>
          <StackLayout paddingTop="15">
            <Label text="Combo" textWrap="true" class="h1" fontWeight="800" />
            <Label text="Fish and Chicken Mix" textWrap="true" />
            <Label
              text="Promotion Ends - 24 Nov 2019"
              textWrap="true"
              fontWeight="800"
              marginTop="5"
            />
          </StackLayout>
          <StackLayout orientation="horizontal">
            <StackLayout margin="10" marginLeft="0" @tap="selectedTab = 0">
              <Label
                text="Ingredients"
                textWrap="true"
                fontSize="18"
                :color="selectedTab == 0 ? 'red' : 'black'"
              />
              <StackLayout
                :borderWidth="selectedTab == 0 ? '2' : '0'"
                borderRadius="20"
                borderColor="red"
              >
              </StackLayout>
            </StackLayout>
            <StackLayout margin="10" @tap="selectedTab = 1">
              <Label
                text="Terms and Conditions"
                textWrap="true"
                fontSize="18"
                :color="selectedTab == 1 ? 'red' : 'black'"
              />
              <StackLayout
                :borderWidth="selectedTab == 1 ? '2' : '0'"
                borderRadius="20"
                borderColor="red"
              >
              </StackLayout>
            </StackLayout>
          </StackLayout>
          <StackLayout marginTop="5">
            <StackLayout v-show="selectedTab == 0">
              <Label :text="item.ingredientsDetails" textWrap="true" />
            </StackLayout>
            <StackLayout v-show="selectedTab == 1">
              <Label :text="item.termsAndConditionsDetails" textWrap="true" />
            </StackLayout>
          </StackLayout>
        </StackLayout>
      </ScrollView>
    </StackLayout>
  </Page>
</template>

<script>
export default {
  data() {
    return {
      selectedTab: 0,
      item: {
        ingredientsDetails: `Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris  nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.`,
        termsAndConditionsDetails: `Mi sit amet mauris commodo quis. Eu nisl nunc mi ipsum. Diam volutpat commodo sed egestas egestas fringilla phasellus faucibus. Et tortor consequat id porta nibh venenatis. Imperdiet sed euismod nisi porta lorem. Placerat duis ultricies lacus sed turpis tincidunt id. Nisi vitae suscipit tellus mauris a diam maecenas. Sit amet nulla facilisi morbi. Mauris in aliquam sem fringilla ut morbi tincidunt augue interdum. Nisi quis eleifend quam adipiscing. Dolor purus non enim praesent elementum. Ornare arcu odio ut sem nulla pharetra.
        `
      }
    };
  }
};
</script>

<style lang="scss" scoped></style>
