<template>
  <Page actionBarHidden="true">
    <StackLayout>
      <ScrollView>
        <GridLayout rows="auto, *">
          <GridLayout
            row="0"
            rows="*"
            ref="navStatusBar"
            class="navStatusBar"
            verticalAlignment="top"
          >
            <Image
              src="~/assets/images/food/food_1.jpg"
              stretch="aspectFill"
              row="0"
              height="400"
              marginTop="-100"
            />

            <Label
              margin="20"
              text="Products"
              textWrap="true"
              row="0"
              class="h1"
              color="white"
              horizontalAlignment="left"
            />
            <Image
              margin="20"
              height="20"
              src="~/assets/images/icons/icons8-left-white-48.png"
              stretch="aspectFit"
              row="0"
              verticalAlignment="top"
              horizontalAlignment="left"
              @tap="$navigateBack()"
            />
          </GridLayout>
          <StackLayout
            row="1"
            backgroundColor="white"
            borderRadius="40"
            marginTop="-50"
          >
            <StackLayout margin="20" marginTop="40">
              <GridLayout columns="*, auto" rows="auto">
                <StackLayout
                  row="0"
                  col="0"
                  backgroundColor="#efefef"
                  borderRadius="20"
                  orientation="horizontal"
                >
                  <Image
                    src="~/assets/images/icons/icons8-search-48.png"
                    stretch="aspectFit"
                    row="0"
                    col="1"
                    marginLeft="20"
                    height="30"
                    horizontalAlignment="left"
                  />
                  <TextField hint="Search" v-model="search" margin="5" />
                </StackLayout>
                <Image
                  src="~/assets/images/icons/icons8-mail-filter-32.png"
                  stretch="aspectFit"
                  row="0"
                  col="1"
                  height="40"
                  marginLeft="10"
                  horizontalAlignment="left"
                />
              </GridLayout>
              <StackLayout marginTop="30">
                <GridLayout
                  rows="auto, auto"
                  columns="auto,*"
                  v-for="(item, index) in items"
                  :key="index"
                  marginBottom="20"
                >
                  <Image
                    borderRadius="20"
                    :src="item.image"
                    stretch="aspectFill"
                    row="0"
                    height="100"
                    width="100"
                    rowSpan="2"
                    col="0"
                    horizontalAlignment="left"
                  />
                  <GridLayout row="0" col="1" columns="*, auto" paddingLeft="5">
                    <StackLayout col="0" padding="5">
                      <Label
                        verticalAlignment="top"
                        :text="item.title"
                        col="0"
                        textWrap="true"
                        fontWeight="800"
                      />
                      <Label
                        verticalAlignment="top"
                        :text="item.description"
                        col="0"
                        textWrap="true"
                        fontWeight="200"
                        class="h4"
                        paddingTop="2"
                      />
                    </StackLayout>
                    <Image
                      @tap="item.isLiked = !item.isLiked"
                      :src="
                        item.isLiked
                          ? '~/assets/images/icons/icons8-heart-filled.png'
                          : '~/assets/images/icons/icons8-heart-outline.png'
                      "
                      stretch="aspectFit"
                      col="1"
                      height="25"
                      horizontalAlignment="left"
                      verticalAlignment="top"
                    />
                  </GridLayout>

                  <GridLayout
                    verticalAlignment="bottom"
                    row="2"
                    col="1"
                    columns="*, auto"
                    padding="5"
                  >
                    <StackLayout orientation="horizontal" col="0">
                      <Image
                        src="~/assets/images/icons/ic_coin.png"
                        stretch="aspectFit"
                        col="1"
                        height="30"
                        horizontalAlignment="left"
                        verticalAlignment="top"
                      />
                      <Label
                        paddingLeft="5"
                        verticalAligment="center"
                        :text="item.points + ' ' + 'points'"
                        col="0"
                        textWrap="true"
                        fontWeight="600"
                      />
                    </StackLayout>

                    <Button
                      color="#ffffff"
                      text="Redeem"
                      class="h3"
                      horizontalAlignment="right"
                      paddingLeft="10"
                      paddingRight="10"
                      paddingTop="2"
                      paddingBottom="2"
                      backgroundColor="#e91e63"
                      borderRadius="10"
                    />
                  </GridLayout>
                </GridLayout>
              </StackLayout>
            </StackLayout>
          </StackLayout>
        </GridLayout>
      </ScrollView>
    </StackLayout>
  </Page>
</template>

<script>
export default {
  data() {
    return {
      search: "",
      items: [
        {
          image: "~/assets/images/food/food_8.jpg",
          title: "Baked Chicken Pot Pie",
          description: "Freshly baked pie with a stuffed crust",
          points: "300",
          isLiked: true
        },
        {
          image: "~/assets/images/food/food_7.jpg",
          title: "Mac 'n' Cheese Burger",
          description: "All your favorites in one",
          points: "200",
          isLiked: false
        },
        {
          image: "~/assets/images/food/food_6.jpg",
          title: "Fettucini Alfredo",
          description:
            "A dinner with the family into something you actually look forward to",
          points: "900",
          isLiked: false
        },
        {
          image: "~/assets/images/food/food_5.jpg",
          title: "Roti Prata",
          description: "Looks and tastes like Indian naan.",
          points: "500",
          isLiked: false
        },
        {
          image: "~/assets/images/food/food_4.jpg",
          title: "Bibimbap",
          description:
            "Mixed vegetables and beef, sitting atop steaming-hot rice",
          points: "100",
          isLiked: false
        }
      ]
    };
  }
};
</script>

<style lang="scss" scoped></style>
