<template>
  <Page>
    <StackLayout>
      <GridLayout
        rows="*"
        columns="*, *"
        padding="15"
        paddingBottom="15"
        ref="navStatusBar"
        class="navStatusBar"
        verticalAlignment="top"
        width="100%"
      >
        <StackLayout
          orientation="horizontal"
          row="0"
          col="0"
          horizontalAlignment="left"
          marginLeft="10"
        >
          <Image
            src="~/assets/images/icons/icons8-left-black-48.png"
            stretch="aspectFit"
            height="20"
            row="0"
            col="0"
            @tap="$navigateBack()"
          />
          <Label
            marginLeft="20"
            text="Detail"
            textWrap="true"
            fontWeight="800"
            textAlignment="left"
            fontSize="20"
          />
        </StackLayout>

        <Image
          src="~/assets/images/icons/icons8-share-50.png"
          stretch="aspectFit"
          height="25"
          row="0"
          col="2"
          horizontalAlignment="right"
        />
      </GridLayout>
    </StackLayout>
  </Page>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped></style>
