<template>
  <StackLayout>
    <StackLayout borderRadius="30" backgroundColor="white">
      <RadListView ref="listView" for="item in items" borderRadius="30">
        <v-template>
          <GridLayout
            rows="auto, auto, auto"
            borderRadius="10"
            borderWidth="2"
            borderColor="#efefef"
            margin="15"
            marginBottom="0"
            padding="15"
          >
            <Label
              text="240w VAV Box Step Down Transformer"
              textWrap="true"
              fontWeight="800"
            />
            <GridLayout
              row="1"
              columns="auto, auto, auto, auto"
              marginTop="3"
              marginBottom="5"
            >
              <Image
                src="~/assets/images/icons/icons8-search-48.png"
                stretch="aspectFit"
                height="25"
                col="0"
              />
              <Label
                fontWeight="200"
                fontSize="12"
                col="1"
                text="Mechanical & Electrical"
                textWrap="true"
                marginLeft="5"
                verticalAlignment="center"
              />
              <StackLayout
                height="5"
                width="5"
                borderRadius="100%"
                backgroundColor="#28b0d2"
                col="2"
                marginRight="5"
                marginLeft="5"
                verticalAlignment="center"
                horizontalAlignment="center"
              >
              </StackLayout>
              <Label
                fontWeight="200"
                fontSize="12"
                col="3"
                text="Light Bulbs"
                textWrap="true"
                verticalAlignment="center"
              />
            </GridLayout>
            <GridLayout row="2" rows="auto, auto" columns="*, 2*">
              <GridLayout
                row="0"
                rowSpan="2"
                columns="auto, *"
                backgroundColor="#f96066"
                margin="3"
                padding="3"
                borderRadius="30"
                verticalAlignment="center"
              >
                <Image
                  src="~/assets/images/icons/icons8-search-48.png"
                  stretch="aspectFit"
                  height="15"
                  col="0"
                  margin="3"
                  marginLeft="5"
                  verticalAlignment="center"
                />
                <Label
                  marginLeft="5"
                  col="1"
                  text="Checkout"
                  textWrap="true"
                  color="white"
                  verticalAlignment="center"
                  fontWeight="800"
                />
              </GridLayout>
              <GridLayout
                row="0"
                rowSpan="2"
                col="1"
                columns="*, *"
                marginLeft="50"
                marginRight="30"
              >
                <StackLayout col="0">
                  <Label
                    text="Available Quantity:"
                    textWrap="true"
                    fontWeight="200"
                  />
                  <Label
                    text="50"
                    textWrap="true"
                    fontWeight="800"
                    fontSize="30"
                  />
                </StackLayout>
                <StackLayout col="1">
                  <Label
                    text="Checkout Quantity:"
                    textWrap="true"
                    fontWeight="200"
                  />
                  <Label
                    text="3"
                    textWrap="true"
                    fontWeight="800"
                    fontSize="30"
                  />
                </StackLayout>
              </GridLayout>
            </GridLayout>
          </GridLayout>
        </v-template>
        <v-template name="footer">
          <StackLayout marginBottom="50"> </StackLayout>
        </v-template>
      </RadListView>
    </StackLayout>
  </StackLayout>
</template>

<script>
export default {
  data() {
    return {
      items: [{}, {}, {}]
    };
  }
};
</script>

<style lang="scss" scoped>
TextField {
  border-bottom-width: 1;
  border-bottom-color: transparent;
}
</style>
