<template>
  <StackLayout>
    <StackLayout borderRadius="30" backgroundColor="white">
      <RadListView ref="listView" for="item in items" borderRadius="30">
        <v-template>
          <GridLayout
            rows="auto, auto, auto, auto"
            borderRadius="10"
            borderWidth="2"
            borderColor="#efefef"
            margin="15"
            marginBottom="0"
            padding="15"
          >
            <GridLayout row="0" columns="auto, auto, auto, *">
              <Label text="Lift not working" textWrap="true" fontWeight="800" />
              <StackLayout
                col="1"
                width="10"
                height="10"
                borderRadius="100%"
                backgroundColor="#efefef"
                marginRight="10"
                marginLeft="10"
              >
              </StackLayout>
              <Label
                col="2"
                text="T10012328"
                textWrap="true"
                fontWeight="800"
              />
              <Label
                text="High"
                textWrap="true"
                borderRadius="15"
                paddingLeft="15"
                paddingRight="15"
                paddingTop="2"
                paddingBottom="2"
                verticalAlignment="center"
                col="3"
                backgroundColor="red"
                horizontalAlignment="right"
                color="white"
                fontWeight="800"
                fontSize="12"
              />
            </GridLayout>
            <Label
              row="1"
              text="Common Area"
              textWrap="true"
              marginBottom="10"
            />
            <GridLayout row="2" rows="auto, auto" columns="auto, *, *">
              <Image
                src="~/assets/images/icons/icons8-left-black-48.png"
                stretch="aspectFit"
                height="50"
                width="50"
                row="0"
                rowSpan="2"
                col="0"
                borderRadius="10"
                borderWidth="1"
                borderColor="#efefef"
                @tap="$navigateBack()"
              />
              <StackLayout
                orientation="horizontal"
                row="0"
                col="1"
                marginLeft="15"
              >
                <Image
                  src="~/assets/images/icons/icons8-left-black-48.png"
                  stretch="aspectFit"
                  height="15"
                  width="15"
                  row="0"
                  col="0"
                  @tap="$navigateBack()"
                />
                <Label text="Lift Lobby 1" textWrap="true" marginLeft="5" />
              </StackLayout>
              <StackLayout
                orientation="horizontal"
                row="0"
                rowSpan="2"
                col="2"
                marginLeft="15"
              >
                <Image
                  src="~/assets/images/icons/icons8-left-black-48.png"
                  stretch="aspectFit"
                  height="15"
                  width="15"
                  row="0"
                  col="0"
                  @tap="$navigateBack()"
                  verticalAlignment="top"
                />
                <Label
                  text="John Doe"
                  textWrap="true"
                  marginLeft="5"
                  verticalAlignment="top"
                />
              </StackLayout>
              <StackLayout
                orientation="horizontal"
                row="1"
                col="1"
                marginLeft="15"
              >
                <Image
                  src="~/assets/images/icons/icons8-left-black-48.png"
                  stretch="aspectFit"
                  height="15"
                  width="15"
                  row="0"
                  col="0"
                  @tap="$navigateBack()"
                />
                <Label text="Lift P1" textWrap="true" marginLeft="5" />
              </StackLayout>
            </GridLayout>
            <GridLayout row="3" columns="auto, *" marginTop="10">
              <Label
                text="Resolved"
                textWrap="true"
                borderRadius="30"
                paddingLeft="30"
                paddingRight="30"
                paddingTop="2"
                paddingBottom="2"
                horizontalAlignment="left"
                verticalAlignment="center"
                col="0"
                fontWeight="800"
                backgroundColor="#28b0d2"
                color="white"
              />
              <StackLayout
                col="1"
                orientation="horizontal"
                horizontalAlignment="right"
              >
                <Image
                  src="~/assets/images/icons/icons8-left-black-48.png"
                  stretch="aspectFit"
                  height="15"
                  width="15"
                  row="0"
                  col="0"
                />
                <Label text="August 30, 2020" textWrap="true" marginLeft="5" />
              </StackLayout>
            </GridLayout>
          </GridLayout>
        </v-template>
        <v-template name="footer">
          <StackLayout marginBottom="50"> </StackLayout>
        </v-template>
      </RadListView>
    </StackLayout>
  </StackLayout>
</template>

<script>
export default {
  data() {
    return {
      items: [{}, {}, {}]
    };
  }
};
</script>

<style lang="scss" scoped>
TextField {
  border-bottom-width: 1;
  border-bottom-color: transparent;
}
</style>
