<template>
  <Page actionBarHidden="true">
    <StackLayout>
      <StackLayout>
        <GridLayout
          rows="auto, auto"
          columns="auto, *, auto"
          padding="15"
          ref="navStatusBar"
          class="navStatusBar"
          verticalAlignment="top"
          width="100%"
          backgroundColor="#2cdfc3"
        >
          <Image
            src="~/assets/images/icons/icons8-left-black-48.png"
            stretch="aspectFit"
            height="20"
            row="0"
            col="0"
            @tap="$navigateBack()"
          />
          <Label
            marginLeft="20"
            text="General Feedback"
            textWrap="true"
            fontWeight="800"
            horizontalAlignment="center"
            color="white"
            fontSize="24"
            row="0"
            col="0"
            colSpan="3"
          />
          <!-- <Image
          src="~/assets/images/icons/icons8-share-50.png"
          stretch="aspectFit"
          height="25"
          row="0"
          col="2"
          horizontalAlignment="right"
        /> -->
          <Label
            row="1"
            col="0"
            colSpan="3"
            text="#T00000123"
            textWrap="true"
            color="white"
            horizontalAlignment="center"
            marginTop="5"
            fontSize="18"
          />
        </GridLayout>
        <GridLayout columns="*, *, *" height="30" backgroundColor="#2cdfc3">
          <Label
            col="0"
            text="Issues"
            horizontalAlignment="center"
            fontSize="20"
            :color="selectedIndex == 0 ? 'white' : 'black'"
            @tap="selectedIndex = 0"
            borderBottomColor="white"
            :borderBottomWidth="selectedIndex == 0 ? 3 : 0"
            fontWeight="200"
          />
          <Label
            col="1"
            text="Inventory"
            fontSize="20"
            horizontalAlignment="center"
            :color="selectedIndex == 1 ? 'white' : 'black'"
            @tap="selectedIndex = 1"
            borderBottomColor="white"
            :borderBottomWidth="selectedIndex == 1 ? 3 : 0"
            fontWeight="200"
          />
          <Label
            col="2"
            text="Workflow"
            textWrap="true"
            fontSize="20"
            horizontalAlignment="center"
            :color="selectedIndex == 2 ? 'white' : 'black'"
            @tap="selectedIndex = 2"
            borderBottomColor="white"
            :borderBottomWidth="selectedIndex == 2 ? 3 : 0"
            fontWeight="200"
          />
        </GridLayout>
        <StackLayout backgroundColor="#f8f9fd">
          <StackLayout v-show="selectedIndex == 0">
            <general-feedback-issue-index></general-feedback-issue-index>
          </StackLayout>
          <StackLayout v-show="selectedIndex == 1">
            <general-feedback-inventory></general-feedback-inventory>
          </StackLayout>
          <StackLayout v-show="selectedIndex == 2">
            <general-feedback-workflow></general-feedback-workflow>
          </StackLayout>
        </StackLayout>
      </StackLayout>
    </StackLayout>
  </Page>
</template>

<script>
import GeneralFeedbackIssueIndex from "./GeneralFeedbackIssueIndex";
import GeneralFeedbackInventory from "./GeneralFeedbackInventory";
import GeneralFeedbackWorkflow from "./GeneralFeedbackWorkflow";

export default {
  data() {
    return {
      selectedIndex: 0
    };
  },
  components: {
    GeneralFeedbackIssueIndex,
    GeneralFeedbackInventory,
    GeneralFeedbackWorkflow
  }
};
</script>

<style lang="scss" scoped></style>
