<template>
  <StackLayout>
    <ScrollView scrollBarIndicatorVisible="false">
      <StackLayout
        margin="15"
        borderRadius="30"
        borderColor="#efefef"
        borderWidth="2"
        padding="15"
      >
        <GridLayout rows="auto, auto">
          <Label
            text="Resolved"
            textWrap="true"
            borderRadius="30"
            paddingLeft="30"
            paddingRight="30"
            paddingTop="2"
            paddingBottom="2"
            horizontalAlignment="right"
            verticalAlignment="center"
            row="0"
            fontWeight="800"
            backgroundColor="#28b0d2"
            color="white"
          />
          <Label
            row="1"
            text="High"
            textWrap="true"
            borderRadius="30"
            paddingLeft="30"
            paddingRight="30"
            paddingTop="2"
            paddingBottom="2"
            marginTop="5"
            horizontalAlignment="right"
            verticalAlignment="center"
            fontWeight="800"
            backgroundColor="red"
            color="white"
          />
        </GridLayout>

        <Label
          marginTop="5"
          text="Lift Not Working"
          textWrap="true"
          fontWeight="800"
          fontSize="20"
          color="black"
        />
        <Label
          marginTop="2"
          text="Common Area"
          textWrap="true"
          fontWeight="200"
        />
        <GridLayout
          rows="auto"
          columns="auto, *"
          marginTop="5"
          marginBottom="5"
        >
          <Image
            src="~/assets/images/icons/icons8-left-black-48.png"
            stretch="aspectFit"
            height="10"
            width="10"
            row="0"
            col="0"
          />
          <Label
            row="0"
            col="1"
            textWrap="true"
            marginLeft="10"
            text="Demo Engineering"
          >
          </Label>
        </GridLayout>
        <GridLayout
          rows="auto"
          columns="auto, *"
          marginTop="5"
          marginBottom="5"
        >
          <Image
            src="~/assets/images/icons/icons8-left-black-48.png"
            stretch="aspectFit"
            height="10"
            width="10"
            row="0"
            col="0"
          />
          <Label row="0" col="1 " textWrap="true" marginLeft="10">
            <Span text="Floor: "></Span>
            <Span text="2" fontWeight="800"></Span>
          </Label>
        </GridLayout>
        <GridLayout
          rows="auto"
          columns="auto, *"
          marginTop="5"
          marginBottom="5"
        >
          <Image
            src="~/assets/images/icons/icons8-left-black-48.png"
            stretch="aspectFit"
            height="10"
            width="10"
            row="0"
            col="0"
          />
          <Label row="0" col="1 " textWrap="true" marginLeft="10">
            <Span text="Location: "></Span>
            <Span text="Lift Lobby 1" fontWeight="800"></Span>
          </Label>
        </GridLayout>
        <GridLayout
          rows="auto"
          columns="auto, *"
          marginTop="5"
          marginBottom="5"
        >
          <Image
            src="~/assets/images/icons/icons8-left-black-48.png"
            stretch="aspectFit"
            height="10"
            width="10"
            row="0"
            col="0"
          />
          <Label row="0" col="1 " textWrap="true" marginLeft="10">
            <Span text="Service: "></Span>
            <Span text="Lift P1" fontWeight="800"></Span>
          </Label>
        </GridLayout>
        <GridLayout
          rows="auto"
          columns="auto, *"
          marginTop="5"
          marginBottom="5"
        >
          <Image
            src="~/assets/images/icons/icons8-left-black-48.png"
            stretch="aspectFit"
            height="10"
            width="10"
            row="0"
            col="0"
          />
          <Label row="0" col="1 " textWrap="true" marginLeft="10">
            <Span text="Due Date: "></Span>
            <Span text="15 August 2020" fontWeight="800"></Span>
          </Label>
        </GridLayout>
        <GridLayout
          rows="auto, auto"
          columns="auto, *"
          marginTop="5"
          marginBottom="5"
        >
          <Image
            src="~/assets/images/icons/icons8-left-black-48.png"
            stretch="aspectFit"
            height="10"
            width="10"
            row="0"
            col="0"
          />
          <Label
            row="0"
            col="1 "
            textWrap="true"
            marginLeft="10"
            text="Description"
          >
          </Label>
          <Label
            row="1"
            col="1 "
            textWrap="true"
            marginLeft="10"
            text="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum"
          >
          </Label>
        </GridLayout>
        <Label
          text="Images"
          textWrap="true"
          fontSize="20"
          fontWeight="800"
          color="black"
          marginTop="10"
        />
        <ScrollView
          orientation="horizontal"
          scrollBarIndicatorVisible="false"
          scrollToHorizontalOffset="100"
          marginBottom="20"
          marginTop="20"
        >
          <StackLayout orientation="horizontal" paddingLeft="10">
            <template v-for="(item, index) in generalFeedbackImgItems">
              <GridLayout
                :key="index"
                rows="auto, auto auto"
                borderRadius="10"
                borderWidth="2"
                borderColor="#efefef"
                padding="10"
                paddingTop="0"
                paddingLeft="0"
                width="140"
                height="130"
                marginRight="10"
              >
              </GridLayout>
            </template>
          </StackLayout>
        </ScrollView>
        <StackLayout marginBottom="30">
          <Label
            text="View Comments"
            textWrap="true"
            borderRadius="30"
            paddingTop="10"
            paddingBottom="10"
            verticalAlignment="center"
            textAlignment="center"
            row="0"
            fontWeight="800"
            fontSize="20"
            backgroundColor="#28b0d2"
            color="white"
          />
        </StackLayout>
      </StackLayout>
    </ScrollView>
  </StackLayout>
</template>

<script>
export default {
  data() {
    return {
      generalFeedbackImgItems: [{}, {}, {}]
    };
  }
};
</script>

<style lang="scss" scoped></style>
