<template>
  <Page actionBarHidden="true">
    <ActionBar title="Category Brand">
      <StackLayout
        orientation="horizontal"
        ios:horizontalAlignment="center"
        android:horizontalAlignment="left"
      >
        <!-- <Image src="res://nativescript_logo" class="action-image"></Image> -->
        <!-- <Label text="NativeScript" class="action-label"></Label> -->
      </StackLayout>
    </ActionBar>
    <StackLayout>
      <CardView
        ripple="true"
        class="card"
        margin="10"
        elevation="40"
        ios:shadowRadius="2"
        radius="10"
        v-for="(item, index) in items"
        v-bind:key="index"
      >
        <StackLayout orientation="horizontal">
          <Label
            width="50%"
            padding="20"
            class="h1"
            row="0"
            textWrap="true"
            :text="item.label"
          />
          <StackLayout width="50%" padding="20">
            <Label
              horizontalAlignment="right"
              :text="item.count + ' ' + 'screens'"
            />
          </StackLayout>
        </StackLayout>
      </CardView>
    </StackLayout>
  </Page>
</template>

<script>
  // import Login from "./Login/Login";
  export default {
    data() {
      return {
        items: [
          { label: "Login", backgroundImg: "", route: "", count: 1 },
          { label: "Register", backgroundImg: "", route: "", count: 1 },
          { label: "Home", backgroundImg: "", route: "", count: 1 },
          { label: "Feeds", backgroundImg: "", route: "", count: 1 },
          { label: "Others", backgroundImg: "", route: "", count: 1 },
          { label: "Cards", backgroundImg: "", route: "", count: 1 },
        ],
      };
    },
  };
</script>

<style scoped>
  ActionBar {
    background-color: #53ba82;
    color: #ffffff;
  }

  .message {
    vertical-align: center;
    text-align: center;
    font-size: 20;
    color: #333333;
  }

  .card {
    background-color: #fff;
    color: #4d4d4d;
  }
</style>
