<template>
  <Page>
    <StackLayout>
      <GridLayout
        row="0"
        rows="*"
        columns="auto,*"
        ref="navStatusBar"
        class="navStatusBar"
        verticalAlignment="top"
      >
        <Image
          margin="20"
          src="~/assets/images/icons/icons8-left-black-48.png"
          stretch="aspectFit"
          row="0"
          col="0"
          height="30"
          horizontalAlignment="left"
        />
      </GridLayout>
      <ScrollView>
        <StackLayout>
          <StackLayout>
            <Image
              margin="20"
              src="~/assets/images/icons/icons8-left-black-48.png"
              stretch="aspectFit"
              row="0"
              col="0"
              height="30"
              horizontalAlignment="left"
              borderRadius="100%"
              borderWidth="1"
            />
            <Label text="Order Confirmation" textWrap="true" />
            <Label
              text="Thank you for ordering the item, you will receive it shortly"
              textWrap="true"
            />
          </StackLayout>
          <StackLayout>
            <Label text="Details" textWrap="true" />
          </StackLayout>
          <GridLayout
            rows="auto, auto, auto, auto"
            columns="*, *"
            marginBottom="50"
          >
            <StackLayout row="0" col="0">
              <Label text="CODE" textWrap="true" />
              <Label text="item.code" textWrap="true" />
            </StackLayout>
            <StackLayout row="0" col="1">
              <Label text="REWARD POINTS" textWrap="true" />
              <Label text="item.points + points" textWrap="true" />
            </StackLayout>
            <StackLayout row="1" col="0">
              <Label text="ORDERED AT" textWrap="true" />
              <Label text="item.order_date" textWrap="true" />
            </StackLayout>
            <StackLayout row="1" col="1">
              <Label text="DELIVERED BY" textWrap="true" />
              <Label text="item.deliver_date" textWrap="true" />
            </StackLayout>
            <StackLayout row="2" col="0">
              <Label text="NAME" textWrap="true" />
              <Label text="item.name" textWrap="true" />
            </StackLayout>
            <StackLayout row="2" col="1">
              <Label text="GROUP" textWrap="true" />
              <Label text="item.group" textWrap="true" />
            </StackLayout>
            <StackLayout row="3" col="0">
              <Label text="ITEM NAME" textWrap="true" />
              <Label text="COMBO B" textWrap="true" />
            </StackLayout>
            <StackLayout row="3" col="1">
              <Label text="QUANTITY" textWrap="true" />
              <Label text="item.quantity + 'box'" textWrap="true" />
            </StackLayout>
          </GridLayout>
          <GridLayout columns="*, *">
            <StackLayout col="0">
              <Label text="Total Cost" textWrap="true" />
              <Label text="item.total_cost" textWrap="true" fontWeight="800" class="h2" />
            </StackLayout>
            <StackLayout
              col="1"
              paddingTop="5"
              paddingBottom="5"
              backgroundColor="#e91e63"
              borderRadius="20"
            >
              <Button color="#ffffff" text="Confirm Order" class="h3" />
            </StackLayout>
          </GridLayout>
        </StackLayout>
      </ScrollView>
    </StackLayout>
  </Page>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped></style>
