<template>
  <Page actionBarHidden="true">
    <GridLayout rows="auto, *, auto">
      <GridLayout
        row="0"
        rows="*"
        columns="*, *, *"
        padding="15"
        ref="navStatusBar"
        class="navStatusBar"
        verticalAlignment="top"
        height="65"
        width="100%"
      >
        <!-- <Image
          src="~/assets/images/icons/ic_account.png"
          stretch="none"
          row="0"
          col="0"
        /> -->

        <Label
          text="Explore Memories"
          textWrap="true"
          row="0"
          col="1"
          fontWeight="800"
          textAlignment="center"
          fontSize="20"
        />
        <!-- <Image
          src="~/assets/images/icons/ic_account.png"
          stretch="none"
          row="0"
          col="2"
          horizontalAlignment="right"
        /> -->
      </GridLayout>
      <ScrollView row="1" v-if="selectedIndex == 0">
        <FlexboxLayout alignItems="flex-start" flexWrap="wrap">
          <StackLayout
            width="50%"
            height="150"
            v-for="(item, index) in items"
            :key="index"
          >
            <CardView
              ripple="true"
              class="card"
              margin="10"
              elevation="30"
              ios:shadowRadius="2"
              radius="10"
            >
              <GridLayout rows="*" borderRadius="10">
                <Image
                  borderRadius="5"
                  height="100%"
                  row="0"
                  :src="item.image"
                  stretch="aspectFill"
                />
                <StackLayout verticalAlignment="bottom" row="1" padding="20">
                  <Label
                    fontWeight="800"
                    :text="item.title"
                    textWrap="true"
                    fontSize="14"
                    color="#ffffff"
                    textAlignment="center"
                  />
                  <Label
                    fontWeight="200"
                    :text="item.date"
                    textWrap="true"
                    fontSize="12"
                    color="#ffffff"
                    textAlignment="center"
                  />
                </StackLayout>
              </GridLayout>
            </CardView>
          </StackLayout>
        </FlexboxLayout>
      </ScrollView>
      <ScrollView row="1" v-if="selectedIndex == 1">
        <StackLayout>
          <StackLayout padding="15">
            <Label
              text="Memory title"
              textWrap="true"
              color="#007AFF"
              fontWeight="500"
            />
            <TextField
              hint="Add memory title"
              text=""
              marginTop="10"
              style="placeholder-color: black"
            />
          </StackLayout>
          <StackLayout padding="15">
            <Image
              borderRadius="20"
              width="100%"
              src="~/assets/images/product/product_2.jpg"
              stretch="aspectFit"
            />
          </StackLayout>
          <StackLayout padding="15">
            <Label
              text="Location"
              textWrap="true"
              color="#007AFF"
              fontWeight="500"
            />
            <TextField
              hint="Add location"
              text=""
              marginTop="10"
              style="placeholder-color: black"
            />
          </StackLayout>
          <StackLayout class="hr-light"> </StackLayout>
          <StackLayout padding="15">
            <Label
              text="Date"
              textWrap="true"
              color="#007AFF"
              fontWeight="500"
            />
            <TextField
              hint="Add date"
              text=""
              marginTop="10"
              style="placeholder-color: black"
            />
          </StackLayout>
          <StackLayout class="hr-light"> </StackLayout>

          <StackLayout padding="15">
            <Label
              text="Tags"
              textWrap="true"
              color="#007AFF"
              fontWeight="500"
            />
            <FlexboxLayout
              marginTop="20"
              alignItems="align-center"
              flexWrap="wrap"
            >
              <Button
                marginRight="5"
                marginLeft="5"
                text="Facade"
                width="22%"
                borderRadius="13"
                borderWidth="1"
                paddingTop="5"
                paddingBottom="5"
                marginBottom="5"
                fontWeight="200"
              />
              <Button
                marginRight="5"
                marginLeft="5"
                text="Outside"
                width="22%"
                borderRadius="13"
                borderWidth="1"
                paddingTop="5"
                paddingBottom="5"
                marginBottom="5"
                fontWeight="200"
              />
              <Button
                marginRight="5"
                marginLeft="5"
                text="Bedroom"
                width="22%"
                borderRadius="13"
                borderWidth="1"
                paddingTop="5"
                paddingBottom="5"
                marginBottom="5"
                fontWeight="200"
              />
              <Button
                marginRight="5"
                marginLeft="5"
                text="Bathroom"
                width="22%"
                borderRadius="13"
                borderWidth="1"
                paddingTop="5"
                paddingBottom="5"
                marginBottom="5"
                fontWeight="200"
              />
              <Button
                marginRight="5"
                marginLeft="5"
                text="People"
                width="22%"
                borderRadius="13"
                borderWidth="1"
                paddingTop="5"
                paddingBottom="5"
                marginBottom="5"
                fontWeight="200"
              />
              <Button
                marginRight="5"
                marginLeft="5"
                text="Restaurant"
                width="22%"
                borderRadius="13"
                borderWidth="1"
                paddingTop="5"
                paddingBottom="5"
                marginBottom="5"
                fontWeight="200"
              />
            </FlexboxLayout>
          </StackLayout>
          <StackLayout class="hr-light"> </StackLayout>
          <StackLayout padding="15">
            <Label
              text="Notes"
              textWrap="true"
              color="#007AFF"
              fontWeight="500"
            />
            <TextField
              hint="Add description"
              text=""
              marginTop="10"
              style="placeholder-color: black"
            />
          </StackLayout>
        </StackLayout>
      </ScrollView>

      <StackLayout
        row="2"
        orientation="horizontal"
        backgroundColor="#FFFFFF"
        height="47"
        width="90%"
        paddingLeft="0"
        paddingRight="0"
        borderRadius="30"
        marginBottom="10"
      >
        <GridLayout rows="*" columns="*,*,*">
          <StackLayout
            @tap="selectedIndex = 0"
            col="0"
            row="0"
            padding="2"
            marginBottom="0"
            borderRadius="40"
          >
            <Image
              height="25"
              width="25"
              src="~/assets/images/icons/ic_account.png"
            ></Image>
          </StackLayout>
          <StackLayout
            @tap="selectedIndex = 1"
            col="1"
            row="0"
            padding="2"
            marginBottom="0"
            borderRadius="40"
          >
            <Image
              height="25"
              width="25"
              src="~/assets/images/icons/ic_account.png"
            ></Image>
          </StackLayout>
          <StackLayout
            @tap="selectedIndex = 2"
            col="2"
            row="0"
            padding="2"
            marginBottom="0"
            borderRadius="40"
          >
            <Image
              height="25"
              width="25"
              src="~/assets/images/icons/ic_account.png"
            ></Image>
          </StackLayout>
        </GridLayout>
      </StackLayout>
    </GridLayout>
  </Page>
</template>

<script>
export default {
  data() {
    return {
      selectedIndex: 1,
      items: [
        {
          title: "THE LAST POST",
          date: "21 January 2014",
          tag: "BLOG",
          image: "~/assets/images/product/product_1.jpg"
        },
        {
          title: "WHY WE MOVED TO US",
          date: "13 July 2015",
          tag: "FEED",
          image: "~/assets/images/product/product_2.jpg"
        },
        {
          title: "WHY WE MOVED TO US",
          date: "21 Dec 2015",
          tag: "BLOG",
          image: "~/assets/images/product/product_3.jpg"
        },
        {
          title: "WHY WE MOVED TO US",
          date: "3 June 2016",
          tag: "POST",
          image: "~/assets/images/product/product_4.jpg"
        },
        {
          title: "THE LAST POST",
          date: "21 January 2014",
          tag: "BLOG",
          image: "~/assets/images/product/product_1.jpg"
        },
        {
          title: "WHY WE MOVED TO US",
          date: "13 July 2015",
          tag: "FEED",
          image: "~/assets/images/product/product_2.jpg"
        },
        {
          title: "WHY WE MOVED TO US",
          date: "21 Dec 2015",
          tag: "BLOG",
          image: "~/assets/images/product/product_3.jpg"
        },
        {
          title: "WHY WE MOVED TO US",
          date: "3 June 2016",
          tag: "POST",
          image: "~/assets/images/product/product_4.jpg"
        }
      ]
    };
  },
  methods: {
    onItemTap() {}
  }
};
</script>

<style lang="scss" scoped>
.card {
  background-color: #fff;
  color: #4d4d4d;
}
</style>
