<template>
  <Page actionBarHidden="true">
    <GridLayout rows="auto, *">
      <GridLayout
        row="0"
        rows="*"
        columns="*, *, *"
        padding="15"
        ref="navStatusBar"
        class="navStatusBar"
        backgroundColor="#fe6c6e"
        verticalAlignment="top"
        height="65"
        width="100%"
      >
        <Image
          src="~/assets/images/icons/ic_account.png"
          stretch="none"
          row="0"
          col="0"
        />

        <Label
          text="Filters"
          textWrap="true"
          row="0"
          col="1"
          fontWeight="800"
          color="white"
          textAlignment="center"
          fontSize="20"
        />
        <Image
          src="~/assets/images/icons/ic_account.png"
          stretch="none"
          row="0"
          col="2"
          horizontalAlignment="right"
        />
      </GridLayout>
      <ListView
        row="1"
        separatorColor="transparent"
        for="item in items"
        @itemTap="onItemTap"
        width="100%"
        backgroundColor="grey"
      >
        <v-template>
          <GridLayout
            rows="auto, auto, auto, auto"
            backgroundColor="white"
            paddingTop="10"
          >
            <StackLayout row="0" paddingLeft="20" paddingRight="20">
              <StackLayout orientation="horizontal">
                <Image
                  width="50"
                  height="50"
                  borderRadius="100%"
                  :src="item.user_image"
                  stretch="aspectFill"
                />
                <StackLayout>
                  <Label
                    padding="10"
                    :text="item.name"
                    textWrap="true"
                    fontWeight="bold"
                  />
                </StackLayout>
              </StackLayout>
            </StackLayout>
            <StackLayout
              row="1"
              paddingTop="10"
              paddingLeft="20"
              paddingRight="20"
            >
              <Image :src="item.image" stretch="aspectFit" borderRadius="5" />
            </StackLayout>
            <StackLayout
              orientation="horizontal"
              row="1"
              paddingLeft="20"
              paddingRight="20"
            >
              <Label
                padding="15"
                width="70%"
                :text="item.title"
                verticalAlignment="bottom"
                textWrap="true"
                color="white"
              />
              <StackLayout
                orientation="horizontal"
                verticalAlignment="bottom"
                width="30%"
              >
                <Label
                  padding="15"
                  verticalAlignment="bottom"
                  :text="'$' + '99'"
                  textWrap="true"
                  color="white"
                  style="horizontal-alignment:right"
                />
                <Image
                  padding="15"
                  verticalAlignment="bottom"
                  src="~/assets/images/icons/ic_thumbnail.png"
                  stretch="aspectFit"
                  height="30"
                  style="horizontal-alignment:right"
                />
              </StackLayout>
            </StackLayout>
            <GridLayout row="2" columns="*, *, *">
              <StackLayout
                padding="10"
                col="0"
                orientation="horizontal"
                horizontalAlignment="center"
                width="100%"
              >
                <Image
                  src="~/assets/images/icons/ic_account.png"
                  stretch="aspectFit"
                  height="20"
                />
                <Label
                  paddingLeft="5"
                  textAlignment="center"
                  text="5"
                  textWrap="true"
                  class="h2"
                />
              </StackLayout>
              <StackLayout
                padding="10"
                col="1"
                orientation="horizontal"
                horizontalAlignment="center"
                width="100%"
              >
                <Image
                  src="~/assets/images/icons/ic_account.png"
                  stretch="aspectFit"
                  height="20"
                />
                <Label
                  paddingLeft="5"
                  textAlignment="center"
                  text="10"
                  textWrap="true"
                  class="h2"
                />
              </StackLayout>
              <StackLayout
                padding="10"
                col="2"
                orientation="horizontal"
                horizontalAlignment="center"
                width="100%"
              >
                <Image
                  src="~/assets/images/icons/ic_account.png"
                  stretch="aspectFit"
                  height="20"
                />
                <Label
                  paddingLeft="5"
                  textAlignment="center"
                  text="20"
                  textWrap="true"
                  class="h2"
                />
              </StackLayout>
            </GridLayout>
            <StackLayout row="3" backgroundColor="#efefef" height="20">
            </StackLayout>
          </GridLayout>
        </v-template>
      </ListView>
    </GridLayout>
  </Page>
</template>

<script>
export default {
  data() {
    return {
      items: [
        {
          title: "THE LAST POST",
          date: "21 January 2014",
          name: "James Warden",
          tag: "BLOG",
          user_image: "~/assets/images/person/person_1.png",
          image: "~/assets/images/product/product_1.jpg"
        },
        {
          title: "THE LAST POST",
          date: "21 January 2014",
          name: "James Warden",
          tag: "BLOG",
          user_image: "~/assets/images/person/person_2.png",
          image: "~/assets/images/product/product_2.jpg"
        },
        {
          title: "THE LAST POST",
          date: "21 January 2014",
          name: "James Warden",
          tag: "BLOG",
          user_image: "~/assets/images/person/person_3.png",
          image: "~/assets/images/product/product_3.jpg"
        },
        {
          title: "THE LAST POST",
          date: "21 January 2014",
          name: "James Warden",
          tag: "BLOG",
          user_image: "~/assets/images/person/person_4.png",
          image: "~/assets/images/product/product_4.jpg"
        }
      ]
    };
  },
  methods: {
    onItemTap() {},
    getLastPostedTime(value) {}
  }
};
</script>

<style lang="scss" scoped>
.card {
  background-color: #fff;
  color: #4d4d4d;
}
</style>
