<template>
  <Page actionBarHidden="true">
    <GridLayout rows="auto, *">
      <GridLayout
        row="0"
        rows="*"
        columns="*, *, *"
        padding="15"
        ref="navStatusBar"
        class="navStatusBar"
        backgroundColor="#fe6c6e"
        verticalAlignment="top"
        height="65"
        width="100%"
      >
        <Image
          src="~/assets/images/icons/ic_account.png"
          stretch="none"
          row="0"
          col="0"
        />

        <Label
          text="Filters"
          textWrap="true"
          row="0"
          col="1"
          fontWeight="800"
          color="white"
          textAlignment="center"
          fontSize="20"
        />
        <Image
          src="~/assets/images/icons/ic_account.png"
          stretch="none"
          row="0"
          col="2"
          horizontalAlignment="right"
        />
      </GridLayout>
      <ScrollView row="1">
        <StackLayout>
          <StackLayout padding="20">
            <Label text="PRODUCTS FOR" textWrap="true" fontWeight="500" />
            <GridLayout
              rows="auto"
              row="auto"
              columns="*, *, *"
              paddingTop="20"
              paddingBottom="10"
            >
              <StackLayout row="0" col="0">
                <Label
                  text="Men"
                  textWrap="true"
                  color="#bdbdbd"
                  textAlignment="center"
                  class="h2"
                />
              </StackLayout>
              <StackLayout row="0" col="1">
                <Label
                  text="Women"
                  textWrap="true"
                  color="#bdbdbd"
                  textAlignment="center"
                  class="h2"
                />
              </StackLayout>
              <StackLayout row="0" col="2">
                <Label
                  text="Both"
                  textWrap="true"
                  color="#bdbdbd"
                  textAlignment="center"
                  class="h2"
                />
              </StackLayout>
            </GridLayout>
          </StackLayout>
          <StackLayout class="hr-light"> </StackLayout>
          <StackLayout padding="20">
            <StackLayout orientation="horizontal">
              <Label
                text="BRAND"
                textWrap="true"
                width="50%"
                fontWeight="500"
                paddingBottom="10"
              />
              <StackLayout width="50%">
                <Image
                  borderRadius="10"
                  borderWidth="1"
                  padding="2"
                  src="~/assets/images/icons/ic_error.png"
                  stretch="aspectFit"
                  height="20"
                  width="20"
                  horizontalAlignment="right"
                />
              </StackLayout>
            </StackLayout>
            <FlexboxLayout flexWrap="wrap">
              <StackLayout
                orientation="horizontal"
                v-for="(item, index) in selectedBrandItems"
                :key="index"
                margin="5"
                padding="5"
                borderRadius="3"
                backgroundColor="#efefef"
              >
                <Label
                  :text="item.name"
                  textWrap="true"
                  paddingRight="10"
                  paddingLeft="10"
                  class="h2"
                />
                <Image
                  height="20"
                  src="~/assets/images/icons/ic_post.png"
                  stretch="aspectFit"
                />
              </StackLayout>
            </FlexboxLayout>
          </StackLayout>
          <StackLayout class="hr-light"> </StackLayout>
          <StackLayout padding="20">
            <StackLayout orientation="horizontal">
              <Label
                text="CATEGORIES"
                textWrap="true"
                width="50%"
                fontWeight="500"
                paddingBottom="10"
              />
              <StackLayout width="50%">
                <Image
                  borderRadius="10"
                  borderWidth="1"
                  padding="2"
                  src="~/assets/images/icons/ic_error.png"
                  stretch="aspectFit"
                  height="20"
                  width="20"
                  horizontalAlignment="right"
                />
              </StackLayout>
            </StackLayout>
            <FlexboxLayout flexWrap="wrap">
              <StackLayout
                orientation="horizontal"
                v-for="(item, index) in selectedCategoryItems"
                :key="index"
                margin="10"
                padding="5"
                borderRadius="3"
                backgroundColor="#efefef"
              >
                <Label
                  :text="item.name"
                  textWrap="true"
                  paddingRight="10"
                  paddingLeft="10"
                  class="h2"
                />
                <Image
                  height="20"
                  src="~/assets/images/icons/ic_post.png"
                  stretch="aspectFit"
                />
              </StackLayout>
            </FlexboxLayout>
          </StackLayout>
          <StackLayout class="hr-light"> </StackLayout>
          <StackLayout padding="20">
            <StackLayout orientation="horizontal">
              <Label
                text="PRICE RANGE"
                textWrap="true"
                width="50%"
                fontWeight="500"
              />
              <Label
                text="RESET"
                textWrap="true"
                textAlignment="right"
                width="50%"
              />
            </StackLayout>
            <StackLayout orientation="horizontal">
              <Label
                text="Min"
                textWrap="true"
                paddingTop="10"
                paddingBottom="10"
              />
            </StackLayout>
            <StackLayout orientation="horizontal">
              <Label text="Max" />
              <TextField hint="" :value="max" />
            </StackLayout>
            <!-- <FlexboxLayout flexWrap="wrap">
              <StackLayout
                orientation="horizontal"
                v-for="(item, index) in selectedCategoryItems"
                :key="index"
              >
                <Label :text="RESET" textWrap="true" />
                <Image
                  height="10"
                  src="~/assets/images/icons/ic_post.png"
                  stretch="aspectFit"
                />
              </StackLayout>
            </FlexboxLayout> -->
          </StackLayout>
          <StackLayout class="hr-light"> </StackLayout>
          <StackLayout padding="20">
            <StackLayout orientation="horizontal">
              <Label
                text="COLORS"
                textWrap="true"
                width="50%"
                fontWeight="500"
              />
              <Label
                text="RESET"
                textWrap="true"
                textAlignment="right"
                width="50%"
              />
            </StackLayout>
            <GridLayout columns="*,*,*,*,*,*" marginTop="20">
              <StackLayout
                col="0"
                backgroundColor="#e53935"
                borderRadius="100%"
                height="40"
              >
              </StackLayout>
              <StackLayout
                col="1"
                backgroundColor="#8e24aa"
                borderRadius="100%"
                height="40"
              >
              </StackLayout>
              <StackLayout
                col="2"
                backgroundColor="#3949ab"
                borderRadius="100%"
                height="40"
              >
              </StackLayout>
              <StackLayout
                col="3"
                backgroundColor="#039be5"
                borderRadius="100%"
                height="40"
              >
              </StackLayout>
              <StackLayout
                col="4"
                backgroundColor="#00897b"
                borderRadius="100%"
                height="40"
              >
              </StackLayout>
              <StackLayout
                col="5"
                backgroundColor="#7cb342"
                borderRadius="100%"
                height="40"
              >
              </StackLayout>
            </GridLayout>
          </StackLayout>
        </StackLayout>
      </ScrollView>
    </GridLayout>
  </Page>
</template>

<script>
export default {
  data() {
    return {
      max: "",
      min: "",
      selectedBrandItems: [
        {
          name: "Adidas"
        },
        {
          name: "Nike"
        }
      ],
      selectedCategoryItems: [
        {
          name: "Tops"
        },
        {
          name: "Bottoms"
        },
        {
          name: "Shoes"
        },
        {
          name: "Under Garment"
        }
      ]
    };
  }
};
</script>

<style lang="scss" scoped></style>
