<template>
  <Page actionBarHidden="true">
    <StackLayout>
      <ScrollView>
        <GridLayout rows="auto, *">
          <GridLayout
            row="0"
            rows="*"
            ref="navStatusBar"
            class="navStatusBar"
            verticalAlignment="top"
          >
            <Image
              src="~/assets/images/generic/generic_1.jpg"
              stretch="aspectFill"
              row="0"
              height="300"
              marginTop="-100"
            />
            <Image
              margin="20"
              src="~/assets/images/icons/icons8-left-white-48.png"
              stretch="aspectFit"
              row="0"
              height="30"
              horizontalAlignment="left"
              verticalAlignment="top"
            />
          </GridLayout>
          <StackLayout row="0" margin="20" marginTop="80">
            <Label
              text="Program"
              textWrap="true"
              color="white"
              class="h2"
              paddingBottom="10"
              fontWeight="500"
            />
            <Label
            horizontalAlignment="left"
            width="70%"
              text="Receive more points when you purchase a minimum of 5 boxes or more"
              textWrap="true"
              color="white"
              class="h3"
              fontWeight="500"
            />
          </StackLayout>
          <Label text="" textWrap="true" />

          <StackLayout row="1" backgroundColor="white">
            <StackLayout margin="20" marginTop="20">
              <StackLayout>
                <Label
                  text="Menu"
                  textWrap="true"
                  fontWeight="bold"
                  class="h2"
                />
              </StackLayout>

              <StackLayout marginTop="10">
                <GridLayout
                  rows="auto, auto"
                  columns="auto,*"
                  v-for="(item, index) in items"
                  :key="index"
                  marginBottom="20"
                >
                  <Image
                    borderRadius="20"
                    :src="item.image"
                    stretch="aspectFill"
                    row="0"
                    height="100"
                    width="100"
                    rowSpan="2"
                    col="0"
                    horizontalAlignment="left"
                  />
                  <GridLayout row="0" col="1" columns="*, auto" paddingLeft="5">
                    <StackLayout col="0" padding="5">
                      <Label
                        verticalAlignment="top"
                        :text="item.title"
                        col="0"
                        textWrap="true"
                        fontWeight="800"
                      />
                      <Label
                        verticalAlignment="top"
                        :text="item.description"
                        col="0"
                        textWrap="true"
                        fontWeight="200"
                        class="h4"
                        paddingTop="2"
                      />
                    </StackLayout>
                    <Image
                      @tap="item.isLiked = !item.isLiked"
                      :src="
                        item.isLiked
                          ? '~/assets/images/icons/icons8-heart-filled.png'
                          : '~/assets/images/icons/icons8-heart-outline.png'
                      "
                      stretch="aspectFit"
                      col="1"
                      height="25"
                      horizontalAlignment="left"
                      verticalAlignment="top"
                    />
                  </GridLayout>

                  <GridLayout
                    verticalAlignment="bottom"
                    row="2"
                    col="1"
                    columns="*, auto"
                    padding="5"
                  >
                    <StackLayout orientation="horizontal" col="0">
                      <Label
                        paddingLeft="5"
                        verticalAligment="center"
                        :text="item.points + ' / ' + 'box'"
                        col="0"
                        textWrap="true"
                        fontWeight="600"
                      />
                    </StackLayout>
                    <StackLayout
                      horizontalAlignment="right"
                      paddingLeft="20"
                      paddingRight="20"
                      paddingTop="2"
                      paddingBottom="2"
                      backgroundColor="#e91e63"
                      borderRadius="10"
                    >
                      <Button color="#ffffff" text="Redeem" class="h3" />
                    </StackLayout>
                  </GridLayout>
                </GridLayout>
              </StackLayout>
            </StackLayout>
          </StackLayout>
        </GridLayout>
      </ScrollView>
    </StackLayout>
  </Page>
</template>

<script>
export default {
  data() {
    return {
      search: "",
      items: [
        {
          image: "~/assets/images/generic/generic_2.jpg",
          title: "Baked Chicken Pot Pie",
          description: "Freshly baked pie with a stuffed crust",
          points: "300",
          isLiked: true
        },
        {
          image: "~/assets/images/generic/generic_3.jpg",
          title: "Mac 'n' Cheese Burger",
          description: "All your favorites in one",
          points: "200",
          isLiked: false
        },
        {
          image: "~/assets/images/generic/generic_4.jpg",
          title: "Fettucini Alfredo",
          description:
            "A dinner with the family into something you actually look forward to",
          points: "900",
          isLiked: false
        },
        {
          image: "~/assets/images/generic/generic_5.jpg",
          title: "Roti Prata",
          description: "Looks and tastes like Indian naan.",
          points: "500",
          isLiked: false
        },
        {
          image: "~/assets/images/generic/generic_2.jpg",
          title: "Bibimbap",
          description:
            "Mixed vegetables and beef, sitting atop steaming-hot rice",
          points: "100",
          isLiked: false
        }
      ]
    };
  }
};
</script>

<style lang="scss" scoped></style>
