<template>
  <Page>
    <ActionBar title="Category Brand">
      <StackLayout
        orientation="horizontal"
        ios:horizontalAlignment="center"
        android:horizontalAlignment="left"
      >
        <Label text="Notification" class="action-label"></Label>
      </StackLayout>
    </ActionBar>
    <GridLayout columns="*" rows="*">
      <RadListView
        ref="listView"
        for="item in items"
        swipeActions="true"
        @itemSwipeProgressStarted="onSwipeStarted"
      >
        <v-template>
          <StackLayout orientation="vertical">
            <Label :text="item.name"></Label>
            <Label :text="item.description"></Label>
          </StackLayout>
        </v-template>
      </RadListView>
    </GridLayout>
  </Page>
</template>

<script>
import { ObservableArray } from "tns-core-modules/data/observable-array";

export default {
  data() {
    return {
      items: new ObservableArray[{ label: "Test 1", backgroundImg: "" }]()
    };
  }
};
</script>

<style scoped>
ActionBar {
  background-color: #53ba82;
  color: #ffffff;
}

.message {
  vertical-align: center;
  text-align: center;
  font-size: 20;
  color: #333333;
}
</style>
