<template>
  <Page actionBarHidden="true">
    <StackLayout>
      <GridLayout
        row="0"
        rows="*"
        columns="auto,*"
        ref="navStatusBar"
        class="navStatusBar"
        verticalAlignment="top"
      >
        <Image
          margin="20"
          src="~/assets/images/icons/icons8-left-black-48.png"
          stretch="aspectFit"
          row="0"
          col="0"
          height="30"
          horizontalAlignment="left"
        />
        <Label row="0" col="1" text="Order" textWrap="true" class="h2" fontWeight="800" />
      </GridLayout>
      <StackLayout class="hr-light" height="2"> </StackLayout>
      <ScrollView>
        
      <StackLayout margin="20">
        <GridLayout rows="auto, auto" columns="auto,*" marginBottom="20">
          <Image
            borderRadius="20"
            :src="item.image"
            stretch="aspectFill"
            row="0"
            height="100"
            width="100"
            rowSpan="2"
            col="0"
            horizontalAlignment="left"
          />
          <GridLayout row="0" col="1" columns="*, auto" paddingLeft="5">
            <StackLayout col="0" padding="5">
              <Label
                verticalAlignment="top"
                :text="item.title"
                col="0"
                textWrap="true"
                fontWeight="800"
              />
              <Label
                verticalAlignment="top"
                :text="item.description"
                col="0"
                textWrap="true"
                fontWeight="200"
                class="h4"
                paddingTop="2"
              />
            </StackLayout>
           
          </GridLayout>

          <GridLayout
            verticalAlignment="bottom"
            row="2"
            col="1"
            columns="*, auto"
            padding="5"
          >
            <StackLayout orientation="horizontal" col="0">
              <Label
                paddingLeft="5"
                verticalAligment="center"
                :text="'$' + item.price + ' / ' + 'box'"
                col="0"
                textWrap="true"
                fontWeight="600"
                class='h3'
              />
            </StackLayout>
           
          </GridLayout>
        </GridLayout>
        <GridLayout rows="auto, auto" columns="*, *">
          <Label
            row="0"
            col="0"
            text="Total Price"
            textWrap="true"
            fontWeight="200"
          />
          <Label
            horizontalAlignment="right"
            row="0"
            col="1"
            text="Amount"
            textWrap="true"
            fontWeight="200"
            marginBottom="10"
          />
          <Label
            row="1"
            col="0"
            :text="'$' + record.amount * item.price"
            textWrap="true"
            fontWeight="800"
            fontSize="24"
          />
          <TextField
            horizontalAlignment="right"
            row="1"
            col="1"
            hint="0"
            borderRadius="10"
            borderWidth="1"
            borderColor="#bdbdbd"
            width="60"
            paddingTop="10"
            paddingBottom="10"
            paddingLeft="10"
            keyboardType="number"
            v-model="record.amount"
          />
        </GridLayout>
        <StackLayout marginTop="20">
          <Label
            text="Fill in the form"
            textWrap="true"
            fontWeight="800"
            class="h2"
          />
          <StackLayout marginTop="10">
            <Label text="Your Name" textWrap="true" marginBottom="5" />
            <TextField
              hint="Name"
              borderRadius="10"
              borderWidth="1"
              borderColor="#bdbdbd"
              width="100%"
              padding="10"
            />
          </StackLayout>
          <StackLayout marginTop="20">
            <Label text="Your Telephone Number" textWrap="true" />
            <TextField
              marginTop="10"
              hint="Telephone Number"
              width="100%"
              borderRadius="10"
              borderWidth="1"
              borderColor="#bdbdbd"
              padding="10"
            />
          </StackLayout>
          <StackLayout marginTop="20">
            <Label text="Dine In / Take Away" textWrap="true" />
            <GridLayout
              columns="*, auto"
              row="auto"
              borderWidth="1"
              borderRadius="10"
              borderColor="#bdbdbd"
              marginTop="10"
              padding="10"
            >
              <TextField col="0" hint="Choose An Option" />
              <Image
              col="1"
                src="~/assets/images/icons/icons8-expand-arrow-50.png"
                stretch="aspectFit"
                width="20"
                paddingRight="10"
              />
            </GridLayout>
          </StackLayout>
          <StackLayout marginTop="20">
            <Label text="Dine In / Take Away" textWrap="true" />
            <GridLayout marginTop="10" columns="2*, *">
                <GridLayout col="0"  columns="*, auto"  borderWidth="1"
              borderRadius="10"
              borderColor="#bdbdbd"
              padding="10" 
               marginRight="20"
              >
                    <TextField col="0" hint="DD/MM/YYYY" />
                      <Image
              col="1"
                src="~/assets/images/icons/icons8-calendar-50.png"
                stretch="aspectFit"
                width="20"
                paddingRight="10"
              />
                  
                </GridLayout>
                 <TextField
            horizontalAlignment="right"
            col="1"
            hint="0"
            borderRadius="10"
            borderWidth="1"
            borderColor="#bdbdbd"
            paddingTop="10"
            width="100%"
            paddingBottom="10"
            paddingLeft="20"
           
            keyboardType="number"
            v-model="record.time"
          />
              
            </GridLayout>
          </StackLayout>
        </StackLayout>
        <StackLayout
        marginTop="40"
        marginBottom="40"
          paddingTop="5"
          paddingBottom="5"
          backgroundColor="#e91e63"
          borderRadius="20"
        >
          <Button color="#ffffff" text="Order" class="h3" />
        </StackLayout>
      </StackLayout>
    </ScrollView>

    </StackLayout>
  </Page>
</template>

<script>
export default {
  data() {
    return {
      item: {
        image: "~/assets/images/generic/generic_1.jpg",
        title: "Chicken Rice",
        description: "Delicacy in many asian countries",
        price: 30
      },
      record: {
        amount: 0,
        time: null
      }
    };
  }
};
</script>

<style lang="scss" scoped></style>
