<template>
  <Page actionBarHidden="true">
    <ActionBar title="Category Brand">
      <StackLayout
        orientation="horizontal"
        ios:horizontalAlignment="center"
        android:horizontalAlignment="left"
      >
        <!-- <Image src="res://nativescript_logo" class="action-image"></Image> -->
        <!-- <Label text="NativeScript" class="action-label"></Label> -->
      </StackLayout>
    </ActionBar>
    <GridLayout rows="auto, *">
      <StackLayout row="0" backgroundColor="#ff77a9">
        <Image
          paddingTop="10"
          height="120"
          width="120"
          borderRadius="100%"
          row="0"
          :src="profile.image"
          stretch="aspectFill"
        />
        <Label
          paddingTop="10"
          color="#fff"
          fontWeight="600"
          horizontalAlignment="center"
          :text="profile.name"
          textWrap="true"
          class="h2"
        />
        <Label
          horizontalAlignment="center"
          :text="profile.occupation"
          textWrap="true"
          color="#fff"
        />
        <StackLayout
          horizontalAlignment="center"
          padding="10"
          paddingBottom="20"
        >
          <StackLayout orientation="horizontal">
            <Image
              marginRight="5"
              height="35"
              width="35"
              src="~/assets/images/icons/ic_post.png"
              stretch="aspectFit"
            />
            <Image
              marginLeft="5"
              height="35"
              width="35"
              src="~/assets/images/icons/ic_post.png"
              stretch="aspectFit"
            />
          </StackLayout>
        </StackLayout>
      </StackLayout>
      <StackLayout row="1" paddingTop="20">
        <StackLayout
          orientation="horizontal"
          v-for="(item, index) in items"
          :key="index"
          paddingLeft="20"
        >
          <Image
            height="30"
            width="30"
            row="0"
            :src="item.iconImage"
            stretch="aspectFit"
          />
          <Label
            verticalAlignment="center"
            width="50%"
            padding="20"
            class="h2"
            fontWeight="800"
            row="0"
            textWrap="true"
            :text="item.label"
          />
        </StackLayout>
      </StackLayout>
    </GridLayout>
  </Page>
</template>

<script>
import Login from "./Login/Login";
export default {
  data() {
    return {
      profile: {
        image: "~/assets/images/person/person_2.png",
        name: "Christine Turner",
        occupation: "Photographer"
      },
      items: [
        {
          label: "Feed",
          iconImage: "~/assets/images/icons/ic_feed.png",
          backgroundImg: "",
          route: "",
          count: 1
        },
        {
          label: "Events",
          iconImage: "~/assets/images/icons/ic_event.png",
          backgroundImg: "",
          route: "",
          count: 1
        },
        {
          label: "Post",
          iconImage: "~/assets/images/icons/ic_post.png",
          backgroundImg: "",
          route: "",
          count: 1
        },
        {
          label: "Notifications",
          iconImage: "~/assets/images/icons/ic_notification.png",
          backgroundImg: "",
          route: "",
          count: 1
        },
        {
          label: "Account",
          iconImage: "~/assets/images/icons/ic_account.png",
          backgroundImg: "",
          route: "",
          count: 1
        },
        {
          label: "Logout",
          iconImage: "~/assets/images/icons/ic_logout.png",
          backgroundImg: "",
          route: "",
          count: 1
        }
      ]
    };
  }
};
</script>

<style scoped>
ActionBar {
  background-color: #53ba82;
  color: #ffffff;
}

.message {
  vertical-align: center;
  text-align: center;
  font-size: 20;
  color: #333333;
}

.card {
  background-color: #fff;
  color: #4d4d4d;
}
</style>
