<template>
  <Page actionBarHidden="true">
    <GridLayout rows="*, auto">
      <StackLayout row="0">
        <StackLayout v-show="selectedIndex == 0">
          <home-index></home-index>
        </StackLayout>
        <StackLayout v-show="selectedIndex == 3">
          <notification-index></notification-index>
        </StackLayout>
      </StackLayout>
      <StackLayout row="1">
        <GridLayout row="1" rows="auto, auto" columns="* ,* ,* ,* ,*">
          <StackLayout
            row="0"
            col="0"
            colSpan="5"
            class="hr-light"
            paddingBottom="10"
          >
          </StackLayout>
          <StackLayout
            row="1"
            @tap="onHomeButtonTap()"
            col="0"
            padding="8"
            horizontalAlignment="center"
          >
            <Image
              height="35"
              width="35"
              src="~/assets/images/icons/ic_home_black.png"
            ></Image>
          </StackLayout>
          <StackLayout
            row="1"
            @tap="onSwitcherTap()"
            col="1"
            padding="8"
            horizontalAlignment="center"
          >
            <Image
              height="35"
              width="35"
              src="~/assets/images/icons/ic_account.png"
            ></Image>
          </StackLayout>
          <StackLayout
            @tap="onAddTap()"
            row="1"
            col="2"
            padding="8"
            horizontalAlignment="center"
            marginTop="-4"
          >
            <Image
              height="50"
              width="50"
              stretch="aspectFit"
              src="~/assets/images/icons/ic_account.png"
              backgroundColor="gray"
              borderRadius="100%"
            ></Image>
          </StackLayout>
          <StackLayout
            @tap="onNotificationsTap()"
            row="1"
            col="3"
            padding="8"
            horizontalAlignment="center"
          >
            <Image
              height="35"
              width="35"
              src="~/assets/images/icons/ic_notification.png"
            ></Image>
          </StackLayout>
          <StackLayout
            @tap="onSettingsTap()"
            row="1"
            col="4"
            padding="8"
            horizontalAlignment="center"
          >
            <Image
              height="35"
              width="35"
              src="~/assets/images/icons/ic_account.png"
              horizontalAlignment="center"
            ></Image>
          </StackLayout>
        </GridLayout>
      </StackLayout>
    </GridLayout>
  </Page>
</template>

<script>
import HomeIndex from "./HomeIndex";
import NotificationIndex from "./HomeNotificationIndex";
import AddIndex from "../Other/AddIndex";

export default {
  data() {
    return {
      selectedIndex: 0
    };
  },
  components: {
    HomeIndex,
    NotificationIndex
  },
  methods: {
    onHomeButtonTap() {
      this.selectedIndex = 0;
    },
    onSwitcherTap() {
      this.selectedIndex = 1;
    },
    onAddTap() {
      // this.selectedIndex = 2;
      this.$showModal(AddIndex, {
        animated: true,
        stretched: true
      }).then(data => {
        if (data) {
          console.log(data);
        }
      });
    },
    onNotificationsTap() {
      this.selectedIndex = 3;
    },
    onSettingsTap() {
      this.selectedIndex = 4;
    },
    onGeneralFeedbackModuleTap() {
      this.$navigateTo();
    },
    onInventoryModuleTap() {
      this.$navigateTo();
    },
    onAnnouncementModuleTap() {
      this.$navigateTo();
    },
    onAssetsTap() {
      this.$navigateTo();
    }
  }
};
</script>
