<template>
  <StackLayout>
    <ScrollView>
      <StackLayout>
        <GridLayout
          ref="navStatusBar"
          class="navStatusBar"
          verticalAlignment="top"
          width="100%"
        >
          <Image
            src="~/assets/images/generic/generic_2.jpg"
            stretch="aspectFill"
            height="400"
            marginTop="-150"
          />
        </GridLayout>
        <StackLayout borderRadius="30" backgroundColor="white" marginTop="-30">
          <StackLayout margin="15" marginBottom="5">
            <Label
              text="Recent Notifications"
              textWrap="true"
              marginBottom="5"
              fontWeight="600"
            />
            <StackLayout
              borderRadius="10"
              borderWidth="2"
              borderColor="#efefef"
              marginTop="10"
              v-for="(item, index) in notificationItems"
              :key="index"
            >
              <GridLayout columns="auto, *, auto">
                <Image
                  col="0"
                  src="~/assets/images/NativeScript-Vue.png"
                  stretch="aspectFit"
                  height="30"
                  margin="10"
                  verticalAlignment="center"
                />
                <StackLayout col="1" marginTop="10" marginBottom="10">
                  <Label
                    text="The order has been received"
                    fontSize="16"
                    fontWeight="600"
                  />
                  <Label
                    text="240v watt power meter has been added to inventory"
                    textWrap
                    fontSize="12"
                    fontWeight="200"
                  />
                </StackLayout>
                <Label
                  col="2"
                  fontSize="20"
                  text="3d"
                  padding="10"
                  textWrap="true"
                  fontWeight="800"
                  verticalAlignment="center"
                  horizontalAlignment="right"
                />
              </GridLayout>
            </StackLayout>
            <StackLayout margin="20"> </StackLayout>
          </StackLayout>
        </StackLayout>
      </StackLayout>
    </ScrollView>
  </StackLayout>
</template>

<script>
export default {
  data() {
    return {
      notificationItems: [{}, {}, {}, {}, {}, {}, {}]
    };
  }
};
</script>

<style lang="scss" scoped></style>
