<template>
  <StackLayout>
    <ScrollView>
      <StackLayout>
        <GridLayout
          rows="auto, auto, auto, auto"
          padding="30"
          paddingBottom="15"
          ref="navStatusBar"
          class="navStatusBar"
          verticalAlignment="top"
          width="100%"
          style="background-image: url('~/assets/images/generic/generic_2.jpg')"
        >
          <Image
            row="0"
            src="~/assets/images/NativeScript-Vue.png"
            stretch="aspectFit"
            height="50"
            horizontalAlignment="left"
          />
          <GridLayout row="1" columns="*, auto" paddingTop="30">
            <StackLayout col="0">
              <Label text="Welcome" class="h2" textWrap="true" color="white" />
              <Label
                text="John Doe"
                class="h1"
                fontWeight="800"
                textWrap="true"
                color="white"
              />
            </StackLayout>
            <Image
              col="1"
              src="~/assets/images/NativeScript-Vue.png"
              stretch="aspectFill"
              height="60"
              width="60"
              horizontalAlignment="right"
              backgroundColor="white"
              borderRadius="100%"
            />
          </GridLayout>
          <GridLayout
            row="2"
            columns="auto, *"
            paddingTop="5"
            borderRadius="30"
            borderWidth="1"
            backgroundColor="black"
            style="opacity: .8"
            paddingBottom="30"
            marginTop="10"
          >
            <Image
              col="0"
              src="~/assets/images/NativeScript-Vue.png"
              stretch="aspectFit"
              height="20"
              margin="10"
              horizontalAlignment="right"
              verticalAlignment="top"
            />
            <StackLayout col="1" marginTop="10">
              <Label
                text="Project Overview"
                class="h3"
                textWrap="true"
                color="white"
              />
              <Label text="iMaintain" class="h1" color="white" />
            </StackLayout>
          </GridLayout>
          <GridLayout
            row="3"
            columns="auto, *"
            backgroundColor="lightblue"
            borderRadius="30"
            margin="50"
            marginBottom="50"
            marginTop="-20"
            paddingTop="10"
            paddingBottom="10"
          >
            <Image
              col="0"
              src="~/assets/images/NativeScript-Vue.png"
              stretch="aspectFit"
              height="20"
              margin="10"
              horizontalAlignment="right"
              verticalAlignment="top"
              marginLeft="20"
            />
            <Label
              col="1"
              text="Scan Asset QR Code"
              textWrap="true"
              verticalAlignment="center"
            />
          </GridLayout>
        </GridLayout>
        <StackLayout borderRadius="30" backgroundColor="white" marginTop="-30">
          <StackLayout margin="15" marginBottom="5">
            <Label
              text="Main Menu"
              textWrap="true"
              marginBottom="5"
              fontWeight="600"
            />
          </StackLayout>
          <GridLayout
            columns="*, *, *, *"
            backgroundColor="white"
            borderRadius="30"
            borderWidth="2"
            borderColor="#efefef"
            margin="15"
            marginTop="0"
            height="60"
            paddingTop="5"
          >
            <StackLayout
              col="0"
              verticalAlignment="center"
              @tap="onGeneralFeedbackTap"
            >
              <Image
                src="~/assets/images/NativeScript-Vue.png"
                stretch="aspectFit"
                height="30"
                verticalAlignment="center"
              />
              <Label
                text="G. Feedback"
                horizontalAlignment="center"
                textWrap="true"
                fontSize="12"
                fontWeight="300"
              />
            </StackLayout>
            <StackLayout
              col="1"
              verticalAlignment="center"
              @tap="onInventoryTap"
            >
              <Image
                src="~/assets/images/NativeScript-Vue.png"
                stretch="aspectFit"
                height="30"
                verticalAlignment="center"
              />
              <Label
                text="Inventory"
                horizontalAlignment="center"
                textWrap="true"
                fontSize="12"
                fontWeight="300"
              />
            </StackLayout>
            <StackLayout
              col="2"
              verticalAlignment="center"
              @tap="onAnnouncementTap"
            >
              <Image
                src="~/assets/images/NativeScript-Vue.png"
                stretch="aspectFit"
                height="30"
                verticalAlignment="center"
              />
              <Label
                text="Announcement"
                horizontalAlignment="center"
                textWrap="true"
                fontSize="12"
                fontWeight="300"
              />
            </StackLayout>
            <StackLayout col="3" verticalAlignment="center" @tap="onAssetTap">
              <Image
                src="~/assets/images/NativeScript-Vue.png"
                stretch="aspectFit"
                height="30"
                verticalAlignment="center"
              />
              <Label
                text="Assets"
                horizontalAlignment="center"
                textWrap="true"
                fontSize="12"
                fontWeight="300"
              />
            </StackLayout>
          </GridLayout>
          <GridLayout rows="auto, auto" columns="*, auto" margin="15">
            <Label
              row="0"
              col="0"
              text="General Feedback Counter"
              textWrap="true"
              marginBottom="5"
              fontWeight="600"
              horizontalAlignment="left"
              verticalAlignment="center"
            />
            <Label
              row="0"
              col="1"
              text="Show All"
              textWrap="true"
              marginBottom="5"
              fontWeight="200"
              horizontalAlignment="right"
              verticalAlignment="center"
              @tap="onGeneralFeedbackTap"
            />
          </GridLayout>
          <ScrollView
            orientation="horizontal"
            scrollBarIndicatorVisible="false"
            scrollToHorizontalOffset="100"
            marginBottom="10"
          >
            <StackLayout orientation="horizontal" paddingLeft="10">
              <template v-for="(item, index) in generalFeedbackItems">
                <GridLayout
                  :key="index"
                  rows="auto, auto auto"
                  borderRadius="10"
                  borderWidth="2"
                  borderColor="#efefef"
                  padding="10"
                  paddingTop="0"
                  paddingLeft="0"
                  width="160"
                  marginRight="10"
                >
                  <Label
                    row="0"
                    :text="item.count"
                    textWrap="true"
                    fontSize="70"
                    horizontalAlignment="right"
                    fontWeight="200"
                  />
                  <StackLayout
                    row="1"
                    :borderColor="item.color"
                    borderWidth="2"
                    borderRadius="5"
                    marginLeft="-5"
                    marginRight="20"
                  >
                  </StackLayout>
                  <Label
                    row="2"
                    :text="item.label"
                    textWrap="false"
                    paddingLeft="5"
                    paddingTop="5"
                    fontSize="12"
                  />
                </GridLayout>
              </template>
            </StackLayout>
          </ScrollView>
          <GridLayout columns="*, *" height="20" margin="15">
            <Label
              col="0"
              text="Latest Issues"
              textWrap="true"
              marginBottom="5"
              fontWeight="600"
              horizontalAlignment="left"
              verticalAlignment="center"
            />
            <Label
              col="1"
              text="Show All"
              textWrap="true"
              marginBottom="5"
              fontWeight="200"
              horizontalAlignment="right"
              verticalAlignment="center"
              @tap="onGeneralFeedbackTap"
            />
          </GridLayout>
          <ScrollView
            orientation="horizontal"
            scrollBarIndicatorVisible="false"
            scrollToHorizontalOffset="100"
            marginBottom="50"
          >
            <StackLayout orientation="horizontal" paddingLeft="10">
              <template v-for="(item, index) in generalFeedbackItems">
                <GridLayout
                  :key="index"
                  rows="auto, auto auto, auto"
                  borderRadius="10"
                  borderWidth="2"
                  borderColor="#efefef"
                  padding="10"
                  paddingTop="0"
                  paddingLeft="0"
                  width="250"
                  marginRight="10"
                >
                  <GridLayout row="0" columns="*, auto" marginTop="10">
                    <StackLayout
                      orientation="horizontal"
                      margin="5"
                      marginLeft="10"
                      col="0"
                    >
                      <Label
                        text="Resolved"
                        textWrap="true"
                        borderRadius="30"
                        color="white"
                        backgroundColor="green"
                        fontSize="10"
                        paddingLeft="20"
                        paddingRight="20"
                        paddingTop="3"
                        paddingBottom="3"
                      />
                    </StackLayout>
                    <Label
                      col="1"
                      margin="5"
                      text="Jan 03, 2020"
                      textWrap="true"
                    />
                  </GridLayout>
                  <StackLayout row="1" marginLeft="10" orientation="horizontal">
                    <Label
                      text="#T000129329"
                      textWrap="true"
                      fontWeight="800"
                    />
                    <StackLayout
                      width="5"
                      height="5"
                      backgroundColor="black"
                      marginRight="5"
                      marginLeft="5"
                      borderRadius="100%"
                    >
                    </StackLayout>
                    <Label text="Engineering Title" fontWeight="800" />
                  </StackLayout>
                  <StackLayout row="2" marginLeft="10" marginBottom="10">
                    <Label
                      text="The issue is about the topic, lorem ispum and dadaadada"
                      fontWeight="200"
                      fontSize="11"
                    />
                  </StackLayout>
                </GridLayout>
              </template>
            </StackLayout>
          </ScrollView>
        </StackLayout>
      </StackLayout>
    </ScrollView>
  </StackLayout>
</template>

<script>
import GeneralFeedbackListing from "../GeneralFeedback/GeneralFeedbackListing";
import AssetListing from "../Assets/AssetListing";
import AnnouncementListing from "../Announcement/AnnouncementListing";
import InventoryListing from "../Inventory/InventoryListing";
export default {
  data() {
    return {
      generalFeedbackItems: [
        {
          count: 12,
          label: "PENDING",
          color: "#fdd835"
        },
        {
          count: 8,
          label: "IN PROGRESS",
          color: "#5d92f4"
        },
        {
          count: 341,
          label: "PENDING INSPECTION",
          color: "#f39c12"
        },
        {
          count: 9,
          label: "Resolved",
          color: "#00d0bd"
        }
      ]
    };
  },
  methods: {
    onGeneralFeedbackTap() {
      this.$navigateTo(GeneralFeedbackListing, {
        transition: {
          name: "slide"
        },
        animated: true
      });
    },
    onInventoryTap() {
      this.$navigateTo(InventoryListing, {
        transition: {
          name: "slide"
        },
        animated: true
      });
    },
    onAnnouncementTap() {
      this.$navigateTo(AnnouncementListing, {
        transition: {
          name: "slide"
        },
        animated: true
      });
    },
    onAssetTap() {
      this.$navigateTo(AssetListing, {
        transition: {
          name: "slide"
        },
        animated: true
      });
    }
  }
};
</script>

<style lang="scss" scoped></style>
