<template>
  <Page actionBarHidden="true">
    <CardView
      ripple="true"
      class="card"
      margin="10"
      elevation="40"
      ios:shadowRadius="2"
      radius="10"
      v-for="(item, index) in items"
      v-bind:key="index"
    >
      <StackLayout orientation="horizontal">
        <Label
          width="50%"
          padding="20"
          class="h1"
          row="0"
          textWrap="true"
          :text="item.label"
        />
        <StackLayout width="50%" padding="20">
          <Label
            horizontalAlignment="right"
            :text="item.count + ' ' + 'screens'"
          />
        </StackLayout>
      </StackLayout>
    </CardView>
  </Page>
</template>

<script>
export default {
  data() {
    return {
      items: []
    };
  }
};
</script>

<style></style>
