<template>
  <Page actionBarHidden="true" backgroundSpanUnderStatusBar="false">
    <GridLayout
      row="0"
      rows="*"
      columns="*"
      padding="15"
      ref="navStatusBar"
      class="actionBarColor"
      verticalAlignment="top"
      height="60"
      width="100%"
    >
      <Image
        v-if="hasNavigateBack"
        col="1"
        row="0"
        @tap="onNavigateBack"
        horizontalAlignment="right"
        class="status-img"
        marginRight="50"
        :src="''"
      />
      <Image
        v-if="appIcon"
        col="0"
        row="0"
        :src="appIcon"
        height="50"
        width="70%"
        horizontalAlignment="left"
        marginLeft="-75"
      />
      <Label :text="actionBarTitle" textWrap="true" />
    </GridLayout>
  </Page>
</template>

<script>
export default {
  data() {
    return {};
  },
  props: {
    hasNavigateBack: {
      type: Boolean,
      default: false
    },
    actionBarIcon: {
      type: Number,
      default: null
    },
    actionBarTitle: {
      type: String,
      default: ""
    }
  },
  methods: {
    onNavigateBack() {
      this.$navigateBack();
    }
  }
};
</script>

<style>
</style>