<template>
  <Page actionBarHidden="true">
    <StackLayout>
      <GridLayout
        rows="*"
        columns="auto, *, auto"
        padding="15"
        paddingBottom="25"
        ref="navStatusBar"
        class="navStatusBar"
        verticalAlignment="top"
        width="100%"
        backgroundColor="#2cdfc3"
      >
        <Image
          src="~/assets/images/icons/icons8-left-black-48.png"
          stretch="aspectFit"
          height="20"
          row="0"
          col="0"
          @tap="$navigateBack()"
        />
        <Label
          marginLeft="20"
          text="Announcements"
          textWrap="true"
          fontWeight="800"
          horizontalAlignment="center"
          color="white"
          fontSize="24"
          row="0"
          col="0"
          colSpan="3"
        />
        <!-- <Image
          src="~/assets/images/icons/icons8-share-50.png"
          stretch="aspectFit"
          height="25"
          row="0"
          col="2"
          horizontalAlignment="right"
        /> -->
      </GridLayout>

      <StackLayout borderRadius="30" backgroundColor="white">
        <RadListView ref="listView" for="item in items" borderRadius="30">
          <v-template name="header">
            <GridLayout
              rows="auto, auto"
              columns="auto, *, auto"
              margin="10"
              marginTop="20"
            >
              <Image
                src="~/assets/images/icons/icons8-search-48.png"
                stretch="aspectFit"
                height="20"
                col="0"
                row="0"
                marginLeft="20"
              />
              <StackLayout col="1" marginLeft="10" row="0" rowSpan="2">
                <Label text="Items" textWrap="true" fontWeight="800" />
                <Label
                  text="View all the available announcement items"
                  textWrap="true"
                  fontWeight="200"
                  fontSize="12"
                />
              </StackLayout>
              <Label
                text="Filter"
                textWrap="true"
                borderRadius="30"
                paddingLeft="30"
                paddingRight="30"
                paddingTop="2"
                paddingBottom="2"
                horizontalAlignment="right"
                verticalAlignment="center"
                col="2"
                row="0"
                backgroundColor="#28b0d2"
                color="white"
              />
            </GridLayout>
          </v-template>
          <v-template>
            <GridLayout
              rows="auto, auto, auto, auto"
              borderRadius="10"
              borderWidth="2"
              borderColor="#efefef"
              margin="15"
              marginBottom="0"
              padding="15"
              @tap="onItemTap(item)"
            >
              <GridLayout row="0" columns="*, auto">
                <Label
                  text="Lift not working"
                  textWrap="true"
                  fontWeight="800"
                />
                <Label
                  col="1"
                  text="Jan 28, 2019"
                  textWrap="true"
                  fontWeight="800"
                  horizontalAlignment="right"
                />
              </GridLayout>
              <Label
                id="myLabel"
                row="1"
                text="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
              />
            </GridLayout>
          </v-template>
          <v-template name="footer">
            <StackLayout marginBottom="50"> </StackLayout>
          </v-template>
        </RadListView>
      </StackLayout>
    </StackLayout>
  </Page>
</template>

<script>
export default {
  data() {
    return {
      items: [{}, {}, {}]
    };
  },
  methods: {
    onItemTap() {}
  }
};
</script>

<style lang="scss" scoped>
TextField {
  border-bottom-width: 1;
  border-bottom-color: transparent;
}
</style>
