<template>
  <Page>
    <ActionBar title="Nativescript" class="actionBarColor">
      <NavigationButton
        ios.systemIcon="9"
        ios.position="left"
        android.systemIcon="ic_menu_back"
        android.position="actionBar"
        @tap="$navigateBack"
      />
    </ActionBar>
    <GridLayout rows="*">
      <!-- <FlexboxLayout
        row="0"
        separatorColor="transparent"
        v-for="(item, index) in items"
        :key="index"
        flexWrap="flex-start"
      >
        <StackLayout width="100%">
          <StackLayout>
            <Image
              style="border-radius: 5 5 0 0"
              :src="item.image"
              stretch="aspectFit"
            />
          </StackLayout>
        
        </StackLayout>
      </FlexboxLayout> -->
      <ScrollView row="1">
        <FlexboxLayout alignItems="flex-start" flexWrap="wrap">
          <StackLayout
            width="50%"
            height="220"
            v-for="(item, index) in items"
            :key="index"
          >
            <GridLayout rows="*" v-if="!item.isWhiteStyle">
              <Image
                height="100%"
                row="0"
                :src="item.image"
                stretch="aspectFill"
              />
              <StackLayout
                verticalAlignment="bottom"
                row="1"
                padding="20"
                paddingTop="30"
                paddingBottom="10"
                backgroundColor="#1976d2"
              >
                <Label
                  fontWeight="bold"
                  :text="item.title"
                  textWrap="true"
                  fontSize="16"
                  color="#ffffff"
                />
                <StackLayout paddingTop="10" orientation="horizontal">
                  <Image
                    height="30"
                    width="30"
                    borderRadius="30"
                    row="0"
                    :src="item.person_image"
                    stretch="aspectFill"
                  />
                  <Label
                    color="#9e9e9e"
                    paddingLeft="10"
                    :text="item.username"
                    textWrap="true"
                  />
                </StackLayout>
              </StackLayout>
            </GridLayout>
            <GridLayout rows="*" v-else>
              <StackLayout
                verticalAlignment="bottom"
                row="1"
                padding="20"
                paddingBottom="10"
              >
                <Label
                  fontWeight="bold"
                  :text="item.title"
                  textWrap="true"
                  fontSize="16"
                />
                <Label
                  color="#9e9e9e"
                  paddingTop="10"
                  :text="item.description"
                  textWrap="true"
                  fontSize="16"
                />
                <StackLayout paddingTop="10" orientation="horizontal">
                  <Image
                    height="30"
                    width="30"
                    borderRadius="30"
                    row="0"
                    :src="item.person_image"
                    stretch="aspectFill"
                  />
                  <Label
                    color="#9e9e9e"
                    paddingLeft="10"
                    :text="item.username"
                    textWrap="true"
                  />
                </StackLayout>
              </StackLayout>
            </GridLayout>
            <!-- <GridLayout rows="*" style="background-color: blue"> </GridLayout> -->
          </StackLayout>
        </FlexboxLayout>
      </ScrollView>
    </GridLayout>
  </Page>
</template>

<script>
const Color = require("tns-core-modules/color").Color;

export default {
  data() {
    return {
      items: [
        // {
        //   title: "THE LAST POST",
        //   date: "21 January 2014",
        //   tag: "BLOG",
        //   image: "~/assets/images/product/product_1.jpg"
        // },
        {
          title: "Differentiate Yourself And Attract More",
          description:
            "Differentiate Yourself And Attract More Attention Sales and Points",
          date: "13 July 2015",
          tag: "FEED",
          image: "~/assets/images/generic/generic_1.jpg",
          person_image: "~/assets/images/person/person_1.png",
          username: "David Off",
          isWhiteStyle: false
        },
        {
          title: "WHY WE MOVED TO US",
          description: "One for all and all for one, helping everybody",
          date: "21 Dec 2015",
          tag: "BLOG",
          image: "~/assets/images/generic/generic_2.jpg",
          person_image: "~/assets/images/person/person_2.png",
          username: "Adeline Ward",
          isWhiteStyle: true
        },
        {
          title: "MIND SHARE FOR ALL",
          description: "We must mind share with viral best practices.",
          date: "3 June 2016",
          tag: "POST",
          image: "~/assets/images/generic/generic_3.jpg",
          person_image: "~/assets/images/person/person_3.png",
          username: "Katey Vega",
          isWhiteStyle: true
        },
        {
          title: "THE LAST POST",
          date: "21 January 2014",
          tag: "BLOG",
          image: "~/assets/images/generic/generic_4.jpg",
          person_image: "~/assets/images/person/person_4.png",
          username: "Tarik Buckley",
          isWhiteStyle: false
        },
        {
          title: "START A BLOG NOW",
          date: "13 July 2015",
          tag: "10 ways to start about blog",
          image: "~/assets/images/generic/generic_5.jpg",
          person_image: "~/assets/images/person/person_5.png",
          username: "Harlee Landry",
          isWhiteStyle: false
        },
        {
          title: "AVOID THESE MISTAKES",
          date: "13 July 2015",
          tag: "FEED",
          image: "~/assets/images/generic/generic_1.jpg",
          person_image: "~/assets/images/person/person_5.png",
          username: "Harlee Landry",
          isWhiteStyle: true
        },
        {
          title: "WHY WE MOVED TO US",
          date: "13 July 2015",
          tag: "FEED",
          image: "~/assets/images/generic/generic_2.jpg",
          person_image: "~/assets/images/person/person_5.png",
          username: "Harlee Landry",
          isWhiteStyle: true
        },
        {
          title: "WHY WE MOVED TO US",
          date: "13 July 2015",
          tag: "FEED",
          image: "~/assets/images/generic/generic_3.jpg",
          person_image: "~/assets/images/person/person_5.png",
          username: "Harlee Landry",
          isWhiteStyle: false
        },
        {
          title: "WHY WE MOVED TO US",
          date: "13 July 2015",
          tag: "FEED",
          image: "~/assets/images/generic/generic_4.jpg",
          person_image: "~/assets/images/person/person_5.png",
          username: "Harlee Landry",
          isWhiteStyle: false
        }
      ]
    };
  },
  methods: {
    onItemTap() {}
  }
};
</script>

<style lang="scss" scoped>
.card {
  background-color: #fff;
  color: #4d4d4d;
}
</style>
