<template>
  <Page actionBarHidden="true" backgroundSpanUnderStatusBar="false">
    <GridLayout
      row="0"
      rows="*"
      columns="*"
      padding="15"
      ref="navStatusBar"
      class="actionBarColor"
      verticalAlignment="top"
      height="60"
      width="100%"
    >
      <Image
        col="0"
        row="0"
        :src="appIcon"
        height="50"
        width="70%"
        horizontalAlignment="left"
        marginLeft="-75"
      />
      <Image
        col="1"
        row="0"
        @tap="onMessageTap"
        horizontalAlignment="right"
        class="status-img"
        marginRight="50"
        :src="messageActionBarIcon"
      />
      <Image
        col="2"
        row="0"
        @tap="onNotificationTap"
        marginRight="-5 "
        horizontalAlignment="right"
        class="status-img"
        :src="notificationActionbarIcon"
      />
    </GridLayout>
    <StackLayout>
      <Label text textWrap="true" />
    </StackLayout>
  </Page>
</template>

<script>
export default {
  data() {
    return {
        appIcon: '',
        notificationActionbarIcon: '',
        messageActionBarIcon: ''
    };
  }
};
</script>

<style scoped>
</style>
