<template>
  <Page actionBarHidden="true">
    <ListView
      separatorColor="transparent"
      for="item in items"
      @itemTap="onItemTap"
    >
      <v-template>
        <CardView
          ripple="true"
          class="card"
          margin="10"
          elevation="30"
          ios:shadowRadius="2"
          radius="5"
        >
          <StackLayout>
            <GridLayout row="*">
              <StackLayout row="0">
                <Image
                  style="border-radius: 5 5 0 0"
                  :src="item.image"
                  stretch="aspectFit"
                />
              </StackLayout>
              <StackLayout row="0" padding="10">
                <Label
                  horizontalAlignment="right"
                  padding="10"
                  borderRadius="20"
                  fontSize="10"
                  backgroundColor="#fff"
                  :text="item.tag"
                  textWrap="true"
                />
              </StackLayout>
            </GridLayout>
            <StackLayout orientation="horizontal">
              <StackLayout width="70%" padding="20">
                <Label :text="item.title" />
                <Label paddingTop="5" :text="item.date" />
              </StackLayout>
              <StackLayout
                width="30%"
                paddingRight="10"
                verticalAlignment="center"
              >
                <Image
                  width="30"
                  horizontalAlignment="right"
                  src="~/assets/images/icons/ic_forward.png"
                  stretch="aspectFit"
                />
              </StackLayout>
            </StackLayout>
          </StackLayout>
        </CardView>
        <!-- Shows the list item label in the default color and style. -->
      </v-template>
    </ListView>
  </Page>
</template>

<script>
export default {
  data() {
    return {
      items: [
        {
          title: "THE LAST POST",
          date: "21 January 2014",
          tag: "BLOG",
          image: "~/assets/images/product/product_1.jpg"
        },
        {
          title: "WHY WE MOVED TO US",
          date: "13 July 2015",
          tag: "FEED",
          image: "~/assets/images/product/product_2.jpg"
        },
        {
          title: "WHY WE MOVED TO US",
          date: "21 Dec 2015",
          tag: "BLOG",
          image: "~/assets/images/product/product_3.jpg"
        },
        {
          title: "WHY WE MOVED TO US",
          date: "3 June 2016",
          tag: "POST",
          image: "~/assets/images/product/product_4.jpg"
        },
          {
          title: "THE LAST POST",
          date: "21 January 2014",
          tag: "BLOG",
          image: "~/assets/images/product/product_1.jpg"
        },
        {
          title: "WHY WE MOVED TO US",
          date: "13 July 2015",
          tag: "FEED",
          image: "~/assets/images/product/product_2.jpg"
        },
        {
          title: "WHY WE MOVED TO US",
          date: "21 Dec 2015",
          tag: "BLOG",
          image: "~/assets/images/product/product_3.jpg"
        },
        {
          title: "WHY WE MOVED TO US",
          date: "3 June 2016",
          tag: "POST",
          image: "~/assets/images/product/product_4.jpg"
        }
      ]
    };
  },
  methods: {
    onItemTap() {}
  }
};
</script>

<style lang="scss" scoped>
.card {
  background-color: #fff;
  color: #4d4d4d;
}
</style>
