<template>
  <Page class="" actionBarHidden="true" backgroundColor="#e91e63">
    <StackLayout>
      <FlexboxLayout flexDirection="column" marginTop="30">
        <GridLayout rows="*">
          <StackLayout paddingTop="50" row="0">
            <StackLayout
              padding="30"
              backgroundColor="white"
              margin="20"
              borderRadius="15"
            >
              <StackLayout marginBottom="20" paddingTop="30">
                <Label
                  text="Login"
                  textWrap="true"
                  fontWeight="800"
                  textAlignment="center"
                  fontSize="20"
                />
                <Label
                  padding="10"
                  text="Welcome to the app"
                  textWrap="true"
                  textAlignment="center"
                  fontSize="18"
                />
              </StackLayout>
              <StackLayout>
                <StackLayout
                  orientation="horizontal"
                  backgroundColor="#efefef"
                  borderRadius="10"
                >
                  <Image
                    marginLeft="10"
                    width="35"
                    src="~/assets/images/icons/ic_mail_black.png"
                    stretch="aspectFit"
                  />
                  <TextField
                    class="form-input"
                    padding="15"
                    hint="Username"
                    v-model="item.username"
                    style="placeholder-color: #9e9e9e"
                  />
                </StackLayout>
                <StackLayout
                  marginTop="20"
                  orientation="horizontal"
                  backgroundColor="#efefef"
                  borderRadius="10"
                >
                  <Image
                    marginLeft="10"
                    width="35"
                    src="~/assets/images/icons/ic_lock_black.png"
                    stretch="aspectFit"
                  />
                  <StackLayout orientation="horizontal">
                    <TextField
                      class="form-input"
                      padding="15"
                      hint="Password"
                      v-model="item.password"
                      :secure="isSecure"
                      width="80%"
                      style="placeholder-color: #9e9e9e"
                    />
                    <Image
                      width="30"
                      src="~/assets/images/icons/ic_eye_black.png"
                      stretch="aspectFit"
                      @tap="isSecure = !isSecure"
                    />
                  </StackLayout>
                </StackLayout>
                <StackLayout marginTop="10">
                  <Label
                    text="Forgot Password?"
                    textWrap="true"
                    textAlignment="right"
                  />
                </StackLayout>
              </StackLayout>
              <Button
                color="#ffffff"
                text="LOGIN"
                class="h2"
                @tap="onLoginTap"
                marginTop="20"
                padding="10"
                backgroundColor="#e91e63"
                borderRadius="50"
              />
            </StackLayout>
            <StackLayout paddingTop="20" paddingBottom="10">
              <Label horizontalAlignment="center">
                <FormattedString>
                  <Span
                    color="#ffffff"
                    text="Dont have an account? "
                    fontSize="20"
                  ></Span>
                </FormattedString>
              </Label>

              <Label
                padding="20"
                text="SIGN UP"
                textWrap="true"
                textAlignment="center"
                fontSize="20"
                @tap="onSignupTap"
              />
            </StackLayout>
          </StackLayout>
        </GridLayout>
      </FlexboxLayout>
    </StackLayout>
  </Page>
</template>

<script>
import Home from "../Home/Home.vue";
import SignupIndex from "../Signup/SignupIndex";
export default {
  data() {
    return {
      isSecure: true,
      item: {
        password: "password",
        username: "",
        name: "hello"
      }
    };
  },
  methods: {
    onLoginTap() {
      console.log("login");
      this.$navigateTo(Home);
    },
    onSignupTap() {
      this.$navigateTo(SignupIndex);
    }
  }
};
</script>

<style lang="scss">
.right-gradient {
  background: linear-gradient(to right, #373b44, #4286f4);
}
.login-bg {
  background-image: url("~/assets/images/login/login_bg_1.jpg");
}
.form-input {
  color: black;
  placeholder-color: #e0e0e0;
}
TextField {
  border-bottom-width: 1;
  border-bottom-color: transparent;
}
</style>
