<template>
  <Page :actionBarHidden="selectedIndex == 0 ? true : false">
    <ActionBar
      :title="selectedIndex == 1 ? 'Activity' : 'Profile'"
      backgroundColor="#ffffff"
    >
      <ActionItem
        @tap="onTapShare"
        ios.systemIcon="9"
        ios.position="right"
        android.systemIcon="ic_menu_share"
        android.position="actionBar"
      />
    </ActionBar>
    <GridLayout rows="*, auto">
      <ScrollView row="0" v-show="selectedIndex == 0">
        <GridLayout rows="*">
          <Image
            marginTop="-200"
            height="500"
            row="0"
            src="~/assets/images/food/food_1.jpg"
            stretch="aspectFill"
            verticalAlignment="top"
          />
          <StackLayout row="0">
            <GridLayout
              columns="*, *"
              paddingTop="15"
              ref="navStatusBar"
              class="navStatusBar"
              width="100%"
            >
              <StackLayout col="0" width="100%" paddingLeft="20">
                <Image
                  width="70"
                  src="~/assets/images/nativescript-white-bg.png"
                  stretch="aspectFit"
                  horizontalAlignment="left"
                />
              </StackLayout>
              <StackLayout col="1" padding="10" paddingRight="30">
                <Image
                  width="30"
                  src="~/assets/images/icons/icons8-doorbell-60.png"
                  stretch="aspectFit"
                  horizontalAlignment="right"
                  marginTop="5"
                  @tap="onNavigateNotificationTap"
                />
              </StackLayout>
            </GridLayout>
            <StackLayout padding="20" paddingTop="30" orientation="horizontal">
              <StackLayout width="50%">
                <StackLayout orientation="horizontal">
                  <Image
                    height="30"
                    src="~/assets/images/icons/ic_coin.png"
                    stretch="aspectFit"
                  />
                  <Label
                    paddingLeft="10"
                    text="Your Points"
                    textWrap="true"
                    color="#ffffff"
                  />
                </StackLayout>
                <Label
                  fontSize="30"
                  fontWeight="900"
                  text="900 points"
                  textWrap="true"
                  color="#ffffff"
                />
              </StackLayout>
              <StackLayout width="50%" verticalAlignment="bottom">
                <!-- <StackLayout
                  horizontalAlignment="right"
                  paddingLeft="30"
                  paddingRight="30"
                  paddingTop="5"
                  paddingBottom="5"
                  backgroundColor="#e91e63"
                  borderRadius="10"
                > -->
                <Button
                  color="#ffffff"
                  text="Redeem"
                  class="h3"
                  backgroundColor="#e91e63"
                  padding="15"
                  borderRadius="10"
                />
                <!-- </StackLayout> -->
              </StackLayout>
            </StackLayout>
            <!-- Carousel Swipe -->
            <StackLayout
              height="350"
              backgroundColor="#ffffff"
              margin="20"
              borderRadius="20"
            >
              <GridLayout height="300" rows="auto, *">
                <Image
                  borderRadius="20"
                  row="0"
                  rowSpan="2"
                  src="~/assets/images/food/food_3.jpg"
                  stretch="aspectFill"
                />
                <StackLayout
                  horizontalAlignment="right"
                  row="0"
                  margin="20"
                  backgroundColor="white"
                  borderRadius="100%"
                >
                  <Image
                    height="40"
                    :src="
                      isSlideLiked
                        ? '~/assets/images/icons/icons8-heart-filled.png'
                        : '~/assets/images/icons/icons8-heart-outline.png'
                    "
                    stretch="aspectFit"
                    margin="5"
                    @tap="isSlideLiked = !isSlideLiked"
                  />
                </StackLayout>

                <StackLayout
                  @tap="isShowingPromotionItem = true"
                  verticalAlignment="bottom"
                  height="140"
                  backgroundColor="white"
                  row="1"
                  borderRadius="20"
                  margin="20"
                  padding="10"
                >
                  <Label
                    text="Combo A"
                    textWrap="true"
                    fontWeight="800"
                    paddingBottom="10"
                    paddingTop="10"
                  />
                  <Label
                    text="Chicken Chop with a side of fries"
                    textWrap="true"
                    paddingBottom="10"
                  />
                  <GridLayout columns="auto, auto, *">
                    <Image
                      col="0"
                      height="30"
                      src="~/assets/images/icons/ic_coin.png"
                      stretch="aspectFit"
                    />
                    <Label
                      col="1"
                      paddingLeft="10"
                      text="300 points"
                      fontSize="16"
                      textWrap="true"
                      fontWeight="800"
                      verticalAlignment="center"
                    />
                    <!-- <StackLayout
                      col="2"
                      horizontalAlignment="right"
                      paddingLeft="20"
                      paddingRight="20"
                      height="35"
                      paddingTop="5"
                    > -->
                    <Button
                      col="2"
                      color="#ffffff"
                      backgroundColor="#e91e63"
                      padding="10"
                      text="Redeem"
                      class="h3"
                      horizontalAlignment="right"
                      borderRadius="10"
                    />
                    <!-- </StackLayout> -->
                  </GridLayout>
                </StackLayout>
              </GridLayout>
            </StackLayout>
            <StackLayout padding="20">
              <Label
                text="Affiliation Program"
                fontWeight="800"
                textWrap="true"
                paddingBottom="10"
                fontSize="20"
              />
              <StackLayout
                backgroundColor="#fdd835"
                orientation="horizontal"
                borderRadius="10"
                @tap="onNavigateAffiliationProgramTap"
              >
                <Image
                  margin="20"
                  height="60"
                  src="~/assets/images/nativescript-white-bg.png"
                  stretch="aspectFit"
                />
                <Label
                  width="50%"
                  text="Lorem ipsum dolor sit amet, consectetur adipiscing elit "
                  textWrap="true"
                  verticalAlignment="center"
                />
                <Image
                  width="20%"
                  margin="10"
                  height="30"
                  src="~/assets/images/icons/icons8-forward-50-white.png"
                  stretch="aspectFit"
                />
              </StackLayout>
            </StackLayout>
            <StackLayout>
              <StackLayout
                paddingLeft="20"
                paddingRight="20"
                paddingBottom="10"
                orientation="horizontal"
              >
                <Label
                  width="50%"
                  text="Today's Special"
                  fontWeight="800"
                  textWrap="true"
                  paddingBottom="0"
                  fontSize="20"
                />
                <StackLayout width="50%">
                  <Label
                    horizontalAlignment="right"
                    text="Show More"
                    textWrap="true"
                    @tap="onTodaysSpecialShowMoreTap"
                  />
                </StackLayout>
              </StackLayout>
              <ScrollView
                orientation="horizontal"
                scrollBarIndicatorVisible="false"
                scrollToHorizontalOffset="100"
                marginBottom="10"
              >
                <StackLayout orientation="horizontal" paddingLeft="10">
                  <StackLayout
                    paddingLeft="10"
                    v-for="(item, index) in todaysSpecialItems"
                    :key="index"
                  >
                    <StackLayout
                      borderRadius="10"
                      width="200"
                      height="100"
                      marginRight="10"
                    >
                      <Image
                        :src="item.backgroundImage"
                        stretch="aspectFill"
                        borderRadius="10"
                      />
                    </StackLayout>
                    <Label
                      fontWeight="600"
                      :text="item.title"
                      textWrap="true"
                      paddingTop="7"
                    />
                    <StackLayout orientation="horizontal">
                      <Image
                        height="20"
                        src="~/assets/images/icons/ic_coin.png"
                        stretch="aspectFit"
                      />
                      <Label
                        :text="item.points"
                        textWrap="true"
                        paddingLeft="5"
                      />
                    </StackLayout>
                  </StackLayout>
                </StackLayout>
              </ScrollView>
            </StackLayout>
            <StackLayout paddingTop="10">
              <StackLayout
                paddingLeft="20"
                paddingRight="20"
                orientation="horizontal"
              >
                <Label
                  width="50%"
                  text="Promotions"
                  fontWeight="800"
                  textWrap="true"
                  paddingBottom="10"
                  fontSize="20"
                />
                <StackLayout width="50%">
                  <Label
                    horizontalAlignment="right"
                    text="Show More"
                    textWrap="true"
                  />
                </StackLayout>
              </StackLayout>
              <ScrollView
                orientation="horizontal"
                scrollBarIndicatorVisible="false"
                scrollToHorizontalOffset="100"
                marginBottom="10"
              >
                <StackLayout orientation="horizontal" paddingLeft="10">
                  <StackLayout
                    paddingLeft="10"
                    v-for="(item, index) in promotionItems"
                    :key="index"
                  >
                    <StackLayout
                      @tap="onPromotionTap"
                      borderRadius="10"
                      width="300"
                      height="100"
                      marginRight="10"
                    >
                      <Image
                        :src="item.backgroundImage"
                        stretch="aspectFill"
                        borderRadius="10"
                      />
                    </StackLayout>
                    <Label
                      fontWeight="600"
                      :text="item.title"
                      textWrap="false"
                      paddingTop="7"
                    />

                    <Label
                      width="300"
                      :text="item.description"
                      fontWeight="200"
                    />
                  </StackLayout>
                </StackLayout>
              </ScrollView>
            </StackLayout>
          </StackLayout>
        </GridLayout>
      </ScrollView>
      <ListView
        for="item in activityItems"
        @itemTap="onItemTap"
        row="0"
        v-show="selectedIndex == 1"
      >
        <v-template>
          <GridLayout columns="auto, *, auto" padding="5">
            <Image
              margin="20"
              col="0"
              width="50"
              borderWidth="1"
              borderRadius="100%"
              src="~/assets/images/nativescript-white-bg.png"
              stretch="aspectFit"
              horizontalAlignment="left"
            />
            <StackLayout col="1" verticalAlignment="center">
              <Label
                :text="item.title"
                class="h3"
                fontWeight="600"
                textWrap="true"
              />
              <Label
                :text="item.description"
                fontWeight="200"
                class="h4"
                textWrap="true"
              />
              <Label
                :text="item.date"
                fontWeight="200"
                class="h4"
                textWrap="true"
              />
            </StackLayout>
            <Image
              col="2"
              width="15"
              margin="10"
              src="~/assets/images/icons/icons8-forward-50-black.png"
              stretch="aspectFit"
              horizontalAlignment="left"
            />
          </GridLayout>
        </v-template>
      </ListView>
      <StackLayout
        row="0"
        height="100%"
        v-show="selectedIndex == 2"
        backgroundColor="#efefef"
      >
        <ScrollView>
          <StackLayout backgroundColor="#efefef">
            <GridLayout
              columns="auto, *"
              margin="20"
              marginBottom="0"
              backgroundColor="white"
              padding="20"
              borderRadius="20"
            >
              <Image
                width="90"
                borderRadius="100%"
                col="0"
                src="~/assets/images/person/person_1.png"
                stretch="aspectFit"
              />
              <StackLayout col="1" paddingLeft="10" verticalAlignment="center">
                <Label
                  :text="profile.username"
                  textWrap="true"
                  fontWeight="700"
                />
                <Label :text="profile.location" textWrap="true" />
              </StackLayout>
            </GridLayout>
            <StackLayout
              margin="20"
              marginBottom="0"
              backgroundColor="white"
              padding="20"
              paddingTop="10"
              paddingBottom="10"
              borderRadius="20"
            >
              <GridLayout
                columns="auto, *, auto"
                backgroundColor="white"
                padding="10"
                borderRadius="20"
                @tap="onTransactionPointTap"
              >
                <Image
                  width="40"
                  col="0"
                  src="~/assets/images/icons/ic_transaction.png"
                  stretch="aspectFit"
                />
                <StackLayout
                  col="1"
                  paddingLeft="10"
                  verticalAlignment="center"
                >
                  <Label
                    text="Transaction Point"
                    class="h2"
                    textWrap="true"
                    fontWeight="700"
                  />
                  <Label
                    text="10 transactions in the past week"
                    class="h6"
                    textWrap="true"
                  />
                </StackLayout>
                <Image
                  horizontalAlignment="right"
                  width="30"
                  col="2"
                  src="~/assets/images/icons/ic_right_black.png"
                  stretch="aspectFit"
                />
              </GridLayout>
              <StackLayout class="hr-light"></StackLayout>
              <GridLayout
                columns="auto, *, auto"
                backgroundColor="white"
                padding="10"
                borderRadius="20"
                @tap="onSavedPromotionsTap"
              >
                <Image
                  width="40"
                  col="0"
                  src="~/assets/images/icons/ic_loyalty.png"
                  stretch="aspectFit"
                />
                <StackLayout
                  col="1"
                  paddingLeft="10"
                  verticalAlignment="center"
                >
                  <Label
                    text="Saved Promotions"
                    class="h2"
                    textWrap="true"
                    fontWeight="700"
                  />
                  <Label text="Bookmark Promo" class="h6" textWrap="true" />
                </StackLayout>
                <Image
                  horizontalAlignment="right"
                  width="30"
                  col="2"
                  src="~/assets/images/icons/ic_right_black.png"
                  stretch="aspectFit"
                />
              </GridLayout>
              <StackLayout class="hr-light"></StackLayout>

              <GridLayout
                columns="auto, *, auto"
                backgroundColor="white"
                padding="10"
                borderRadius="20"
                @tap="onAppDetailsTap"
              >
                <Image
                  width="40"
                  col="0"
                  src="~/assets/images/icons/ic_info.png"
                  stretch="aspectFit"
                />
                <StackLayout
                  col="1"
                  paddingLeft="10"
                  verticalAlignment="center"
                >
                  <Label
                    text="Info"
                    class="h2"
                    textWrap="true"
                    fontWeight="700"
                  />
                  <Label text="App Information" class="h6" textWrap="true" />
                </StackLayout>
                <Image
                  horizontalAlignment="right"
                  width="30"
                  col="2"
                  src="~/assets/images/icons/ic_right_black.png"
                  stretch="aspectFit"
                />
              </GridLayout>
              <StackLayout class="hr-light"></StackLayout>
              <GridLayout
                columns="auto, *, auto"
                backgroundColor="white"
                padding="10"
                borderRadius="20"
                @tap="onProfileTap"
              >
                <Image
                  width="40"
                  col="0"
                  src="~/assets/images/icons/ic_profile.png"
                  stretch="aspectFit"
                />
                <StackLayout
                  col="1"
                  paddingLeft="10"
                  verticalAlignment="center"
                >
                  <Label
                    text="My Profile"
                    class="h2"
                    textWrap="true"
                    fontWeight="700"
                  />
                  <Label text="Profile Settings" class="h6" textWrap="true" />
                </StackLayout>
                <Image
                  horizontalAlignment="right"
                  width="30"
                  col="2"
                  src="~/assets/images/icons/ic_right_black.png"
                  stretch="aspectFit"
                />
              </GridLayout>
            </StackLayout>
            <StackLayout
              margin="20"
              backgroundColor="white"
              padding="20"
              paddingTop="10"
              paddingBottom="10"
              borderRadius="20"
            >
              <GridLayout
                columns="auto, *, auto"
                backgroundColor="white"
                padding="10"
                borderRadius="20"
                @tap="onLogoutTap"
              >
                <Image
                  width="40"
                  col="0"
                  src="~/assets/images/icons/ic_exit.png"
                  stretch="aspectFit"
                />
                <StackLayout
                  col="1"
                  paddingLeft="10"
                  verticalAlignment="center"
                >
                  <Label
                    text="Log Out"
                    class="h2"
                    textWrap="true"
                    fontWeight="700"
                  />
                  <Label
                    text="Sign out from the app"
                    class="h6"
                    textWrap="true"
                  />
                </StackLayout>
                <Image
                  horizontalAlignment="right"
                  width="30"
                  col="2"
                  src="~/assets/images/icons/ic_right_black.png"
                  stretch="aspectFit"
                />
              </GridLayout>
            </StackLayout>
          </StackLayout>
        </ScrollView>
      </StackLayout>
      <StackLayout
        row="2"
        orientation="horizontal"
        backgroundColor="#FFFFFF"
        height="47"
        width="100%"
        paddingLeft="0"
        paddingRight="0"
        marginBottom="10"
        style="border-width: .5 0 0 0"
        borderColor="#e0e0e0"
      >
        <GridLayout rows="*" columns="*,*,*" paddingTop="20">
          <StackLayout
            @tap="selectedIndex = 0"
            col="0"
            row="0"
            padding="2"
            marginBottom="0"
            borderRadius="40"
          >
            <Image
              height="25"
              width="25"
              :src="
                selectedIndex == 0
                  ? '~/assets/images/icons/ic_home_red.png'
                  : '~/assets/images/icons/ic_home_black.png'
              "
            ></Image>
            <Label v-if="selectedIndex == 0" text="Home" textWrap="true" />
          </StackLayout>
          <StackLayout
            @tap="selectedIndex = 1"
            col="1"
            row="0"
            padding="2"
            marginBottom="0"
            borderRadius="40"
          >
            <Image
              height="25"
              width="25"
              :src="
                selectedIndex == 1
                  ? '~/assets/images/icons/ic_feed_red.png'
                  : '~/assets/images/icons/ic_feed_black.png'
              "
            ></Image>
            <Label v-if="selectedIndex == 1" text="Feed" textWrap="true" />
          </StackLayout>
          <StackLayout
            @tap="selectedIndex = 2"
            col="2"
            row="0"
            padding="2"
            marginBottom="0"
            borderRadius="40"
          >
            <Image
              height="25"
              width="25"
              :src="
                selectedIndex == 2
                  ? '~/assets/images/icons/ic_user_red.png'
                  : '~/assets/images/icons/ic_user_black.png'
              "
            ></Image>
            <Label v-if="selectedIndex == 2" text="Account" textWrap="true" />
          </StackLayout>
        </GridLayout>
      </StackLayout>
      <GridLayout
        rows="auto"
        row="0"
        rowSpan="2"
        verticalAlignment="bottom"
        backgroundColor="#ffffff"
        borderRadius="20"
        v-if="isShowingPromotionItem"
      >
        <StackLayout margin="20" row="0" verticalAlignment="top">
          <GridLayout verticalAlignment="top" columns="*, *">
            <Label
              col="0"
              text="Promotion"
              textWrap="true"
              fontWeight="800"
              class="h2"
            />
            <Image
              col="1"
              height="25"
              width="25"
              :src="'~/assets/images/icons/ic_user_red.png'"
              horizontalAlignment="right"
              @tap="isShowingPromotionItem = false"
            ></Image>
          </GridLayout>
          <GridLayout marginTop="20" height="350" rows="*">
            <Image
              borderRadius="20"
              row="0"
              rowSpan="2"
              src="~/assets/images/product/product_2.jpg"
              stretch="aspectFill"
            ></Image>
            <Image
              row="0"
              height="35"
              width="35"
              margin="20"
              :src="'~/assets/images/icons/ic_user_red.png'"
              horizontalAlignment="right"
              verticalAlignment="top"
            ></Image>
          </GridLayout>
          <StackLayout marginTop="20">
            <Label text="Combo B" textWrap="true" fontWeight="800" class="h2" />
            <Label text="Pesto spagetti with meatballs" textWrap="true" />
            <StackLayout orientation="horizontal" paddingTop="10">
              <Image
                height="30"
                src="~/assets/images/icons/ic_coin.png"
                stretch="aspectFit"
              />
              <Label paddingLeft="10" text="300 points" textWrap="true" />
            </StackLayout>
            <StackLayout
              marginTop="20"
              marginBottom="20"
              paddingLeft="30"
              paddingRight="30"
              paddingTop="5"
              paddingBottom="5"
              backgroundColor="#e91e63"
              borderRadius="20"
            >
              <Button
                color="#ffffff"
                text="REDEEM"
                fontWeight="800"
                class="h3"
              />
            </StackLayout>
          </StackLayout>
        </StackLayout>
      </GridLayout>
    </GridLayout>
  </Page>
</template>

<script>
import ProgramAffiliation from "../Affiliation/ProgramAffiliation";
import NotificationFeedListing from "../Notification/NotificationFeedListing";
import ProductListing from "../Product/ProductListing";
import ProductDetail from "../Product/ProductDetail";
import QrCodeIndex from "../Others/QrCodeIndex";
import TransactionDetailIndex from "../Others/TransactionDetailIndex";
import AppDetailsIndex from "../Others/AppDetailsIndex";
import LikeListing from "../Others/LikeListing";
import ProfileForm from "../Others/ProfileForm";
import TransactionPointsListing from "../Others/TransactionPointsListing";
import LoginIndex from "../Login/LoginIndex";

export default {
  data() {
    return {
      selectedIndex: 0,
      isShowingPromotionItem: false,
      isSlideLiked: false,
      activityItems: [
        {
          title: "Points Used",
          description: "-700 points",
          date: "08/12/2019",
          module: QrCodeIndex
        },
        {
          title: "Points Used",
          description: "-300 points",
          date: "08/12/2019",
          module: QrCodeIndex
        },
        {
          title: "Points Earned",
          description: "1000 points",
          date: "08/12/2019",
          module: TransactionDetailIndex
        }
      ],
      promotionItems: [
        {
          backgroundImage: "~/assets/images/food/food_1.jpg",
          title: "Fried Fish Combo",
          description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit"
        },
        {
          backgroundImage: "~/assets/images/food/food_3.jpg",
          title: "Kung Pao Chicken Rice ",
          description: "Esse cillum dolore eu fugiat nulla pariatur"
        },
        {
          backgroundImage: "~/assets/images/food/food_5.jpg",
          title: "Hummus",
          description: "Sed do eiusmod tempor incididunt ut labore et dolore"
        }
      ],
      todaysSpecialItems: [
        {
          backgroundImage: "~/assets/images/food/food_8.jpg",
          title: "Baked Tuna",
          points: 200
        },
        {
          backgroundImage: "~/assets/images/food/food_7.jpg",
          title: "Salted Ice Cream",
          points: 100
        },
        {
          backgroundImage: "~/assets/images/food/food_6.jpg",
          title: "Iced Latte",
          points: 150
        },
        {
          backgroundImage: "~/assets/images/food/food_5.jpg",
          title: "Chicken Pot Pie",
          points: 400
        }
      ],
      items: [
        {
          title: "THE LAST POST",
          date: "21 January 2014",
          tag: "BLOG",
          image: "~/assets/images/product/product_4.jpg"
        },
        {
          title: "WHY WE MOVED TO US",
          date: "13 July 2015",
          tag: "FEED",
          image: "~/assets/images/product/product_3.jpg"
        },
        {
          title: "WHY WE MOVED TO US",
          date: "21 Dec 2015",
          tag: "BLOG",
          image: "~/assets/images/product/product_8.jpg"
        },
        {
          title: "WHY WE MOVED TO US",
          date: "3 June 2016",
          tag: "POST",
          image: "~/assets/images/product/product_4.jpg"
        },
        {
          title: "THE LAST POST",
          date: "21 January 2014",
          tag: "BLOG",
          image: "~/assets/images/product/product_1.jpg"
        },
        {
          title: "WHY WE MOVED TO US",
          date: "13 July 2015",
          tag: "FEED",
          image: "~/assets/images/product/product_2.jpg"
        },
        {
          title: "WHY WE MOVED TO US",
          date: "21 Dec 2015",
          tag: "BLOG",
          image: "~/assets/images/product/product_3.jpg"
        },
        {
          title: "WHY WE MOVED TO US",
          date: "3 June 2016",
          tag: "POST",
          image: "~/assets/images/product/product_4.jpg"
        }
      ],
      profile: {
        username: "John Doe",
        location: "New York City, NY, United Statues"
      }
    };
  },
  methods: {
    onItemTap(event) {
      console.log(event.item);
      let module = event.item.module;
      if (module) {
        this.$navigateTo(module);
      }
    },
    onNavigateAffiliationProgramTap() {
      this.$navigateTo(ProgramAffiliation);
    },
    onNavigateNotificationTap() {
      this.$navigateTo(NotificationFeedListing);
    },
    onTodaysSpecialShowMoreTap() {
      this.$navigateTo(ProductListing);
    },
    onPromotionTap() {
      this.$navigateTo(ProductDetail);
    },
    onTransactionPointTap() {
      this.$navigateTo(TransactionPointsListing);
    },
    onProfileTap() {
      console.log("profile tap");
      this.$navigateTo(ProfileForm);
    },
    onSavedPromotionsTap() {
      this.$navigateTo(LikeListing);
    },
    onAppDetailsTap() {
      this.$navigateTo(AppDetailsIndex);
    },
    onLogoutTap() {
      this.$navigateTo(LoginIndex);
    }
    // onActivityTap(item) {
    //   if (item.module) {
    //     this.$navigateTo(item.module);
    //   }
    // }
  }
};
</script>

<style lang="scss" scoped>
.card {
  background-color: #fff;
  color: #4d4d4d;
}
</style>
