<template>
  <Page actionBarHidden="true">
    <StackLayout>
      <GridLayout
        row="0"
        rows="*"
        columns="auto,*"
        ref="navStatusBar"
        class="navStatusBar"
        verticalAlignment="top"
      >
        <Image
          src="~/assets/images/icons/icons8-left-black-48.png"
          stretch="aspectFit"
          height="20"
          row="0"
          col="0"
          margin="20"
          @tap="$navigateBack()"
        />
        <Label
          col="0"
          colSpan="2"
          text="List Examples"
          textWrap="true"
          class="h2"
          fontWeight="800"
          verticalAlignment="center"
          horizontalAlignment="center"
          margin="10"
        />
      </GridLayout>

      <ScrollView>
        <StackLayout>
          <!-- CARD STYLE 1 -->
          <StackLayout margin="20">
            <Label text="Card Style 1" textWrap="true" class="h2" />
            <GridLayout
              columns="*, auto"
              margin="10"
              borderRadius="20"
              borderWidth="1"
              borderColor="#bdbdbd"
            >
              <Label
                col="0"
                text="Title"
                textWrap="true"
                fontWeight="800"
                class="h3"
                margin="10"
              />
              <Image
                col="1"
                src="~/assets/images/icons/icons8-forward-50-black.png"
                stretch="aspectFit"
                marginRight="10"
                verticalAlignment="center"
              />
            </GridLayout>
          </StackLayout>
          <StackLayout class="hr-light"></StackLayout>
          <!-- CARD STYLE 2 -->
          <StackLayout margin="20">
            <Label text="Card Style 2" textWrap="true" class="h2" />
            <GridLayout
              columns="auto, auto, auto, *, auto"
              margin="10"
              borderRadius="5"
              borderWidth=".5"
              borderColor="#bdbdbd"
            >
              <StackLayout
                col="0"
                width="4"
                backgroundColor="red"
              ></StackLayout>
              <Image
                col="1"
                :src="
                  isHearted
                    ? '~/assets/images/icons/icons8-heart-filled.png'
                    : '~/assets/images/icons/icons8-heart-outline.png'
                "
                stretch="aspectFit"
                marginLeft="10"
                verticalAlignment="center"
                @tap="isHearted = !isHearted"
              />

              <Label
                col="2"
                text="12:00 PM"
                textWrap="true"
                fontWeight="200"
                class="h3"
                margin="10"
                verticalAlignment="center"
              />
              <Label
                col="3"
                text="Introduction to the app"
                textWrap="true"
                fontWeight="800"
                class="h3"
                margin="10"
                verticalAlignment="center"
              />
              <Image
                col="4"
                src="~/assets/images/icons/icons8-forward-50-black.png"
                stretch="aspectFit"
                marginRight="10"
                verticalAlignment="center"
              />
            </GridLayout>
          </StackLayout>
          <StackLayout class="hr-light"></StackLayout>
          <!-- CARD STYLE 3 -->
          <StackLayout margin="20">
            <Label text="Card Style 3" textWrap="true" class="h2" />
            <GridLayout
              columns="auto, auto, auto, *"
              margin="10"
              borderRadius="2"
              borderWidth="0.5"
              borderColor="#bdbdbd"
            >
              <StackLayout
                col="0"
                width="4"
                backgroundColor="blue"
              ></StackLayout>
              <StackLayout col="1" margin="20">
                <Label text="08" fontWeight="500" class="h2" textWrap="true" />
                <Label text="Thu" class="h3" textWrap="true" />
              </StackLayout>

              <StackLayout
                marginTop="20"
                marginBottom="20"
                col="2"
                width="0.5"
                backgroundColor="lightgray"
              ></StackLayout>
              <StackLayout col="3" margin="20">
                <Label
                  text="Welcome to the listing examples"
                  fontWeight="500"
                  class="h2"
                />
                <Label text="Made by John Doe" class="h3" textWrap="true" />
              </StackLayout>
            </GridLayout>
          </StackLayout>
          <StackLayout class="hr-light"></StackLayout>
          <!-- CARD STYLE 4 -->
          <StackLayout margin="20">
            <Label text="List Style 4" textWrap="true" class="h2" />
            <GridLayout columns="auto, *" margin="10">
              <Image
                col="0"
                height="80"
                width="80"
                src="~/assets/images/generic/generic_2.jpg"
                stretch="aspectFill"
              />
              <StackLayout col="1" marginLeft="20">
                <Label
                  text="Guide to app building"
                  class="h2"
                  fontWeight="500"
                />
                <Label text="Scroll through the app to find out more" />
              </StackLayout>
            </GridLayout>
          </StackLayout>
          <StackLayout class="hr-light"></StackLayout>
          <!-- CARD STYLE 5 -->
          <StackLayout>
            <Label
              text="List Style 5"
              textWrap="true"
              class="h2"
              margin="20"
              marginBottom="0"
            />
            <GridLayout columns="auto, *, auto" margin="20">
              <Image
                col="0"
                height="50"
                width="50"
                src="~/assets/images/person/person_1.png"
                stretch="aspectFill"
                borderRadius="100%"
              />
              <StackLayout col="1" marginLeft="20">
                <Label text="John Doe" class="h4" fontWeight="400" />
                <Label text="@ikmalsuzali" class="h5" color="lightgray" />
              </StackLayout>
              <Image
                col="2"
                height="25"
                width="25"
                src="~/assets/images/icons/icons8-add-user-male-60.png"
                stretch="aspectFill"
                verticalAlignment="center"
              />
            </GridLayout>
          </StackLayout>
          <StackLayout class="hr-light"></StackLayout>
          <!-- CARD STYLE 6 -->
          <StackLayout>
            <Label
              text="List Style 6"
              textWrap="true"
              class="h2"
              margin="20"
              marginBottom="0"
            />
            <GridLayout
              columns="auto, *, auto"
              marginTop="10"
              marginBottom="10"
              backgroundColor="#efefef"
            >
              <Image
                col="0"
                height="100"
                width="100"
                src="~/assets/images/person/person_2.png"
                stretch="aspectFill"
              />
              <StackLayout col="1" marginLeft="20" verticalAlignment="center">
                <Label text="John Doe" class="h4" fontWeight="800" />
                <Label text="@ikmalsuzali" class="h5" />
              </StackLayout>
              <StackLayout
                col="2"
                width="10"
                height="10"
                backgroundColor="green"
                borderRadius="100%"
                margin="20"
              ></StackLayout>
            </GridLayout>
          </StackLayout>
          <StackLayout class="hr-light"></StackLayout>
          <!-- CARD STYLE 7 -->
          <StackLayout>
            <Label
              text="List Style 7"
              textWrap="true"
              class="h2"
              margin="20"
              marginBottom="0"
            />
            <GridLayout columns="auto, *, auto" margin="20">
              <Image
                col="0"
                height="70"
                width="70"
                src="~/assets/images/person/person_4.png"
                stretch="aspectFill"
                borderRadius="100%"
              />
              <StackLayout col="1" marginLeft="20">
                <Label text="John Doe" class="h3" fontWeight="400" />
                <Label
                  text="Looking to build apps"
                  class="h4"
                  color="lightgray"
                />
                <Label
                  text="Hey there, I want to introduce you to our latest app"
                  class="h5"
                  color="lightgray"
                />
              </StackLayout>
              <Label
                col="2"
                text="12:30 AM"
                textWrap="true"
                src="~/assets/images/icons/icons8-add-user-male-60.png"
                stretch="aspectFill"
                verticalAlignment="top"
                horizontalAlignment="right"
              />
            </GridLayout>
          </StackLayout>
          <StackLayout class="hr-light"></StackLayout>
          <!-- CARD STYLE 8 -->
          <StackLayout>
            <Label
              text="List Style 8"
              textWrap="true"
              class="h2"
              margin="20"
              marginBottom="0"
            />
            <GridLayout columns="*, auto" margin="20">
              <Label
                col="0"
                text="New Style Shown"
                textWrap="true"
                src="~/assets/images/icons/icons8-add-user-male-60.png"
                stretch="aspectFill"
                verticalAlignment="center"
                horizontalAlignment="left"
                fontSize="20"
              />
              <Label col="1" verticalAlignment="center">
                <FormattedString>
                  <Span text="30" fontWeight="800"></Span>
                  <Span text=" "></Span>
                  <Span text="Points"></Span>
                </FormattedString>
              </Label>
            </GridLayout>
          </StackLayout>
          <StackLayout class="hr-light"></StackLayout>
          <!-- CARD STYLE 9 -->
          <StackLayout>
            <Label
              text="List Style 9"
              textWrap="true"
              class="h2"
              margin="20"
              marginBottom="0"
            />
            <GridLayout columns="auto, *, auto" margin="20">
              <StackLayout
                col="0"
                height="20"
                width="20"
                borderRadius="100%"
                borderWidth="4"
                borderColor="pink"
                margin="3"
                marginRight="10"
              ></StackLayout>
              <StackLayout col="1" verticalAlignment="center">
                <Label
                  text="APPS"
                  textWrap="true"
                  verticalAlignment="center"
                  fontWeight="800"
                  class="h2"
                />
                <Label col="1" verticalAlignment="center">
                  <FormattedString>
                    <Span text="Style 1 developed at" fontSize="12"></Span>
                    <Span text=" "></Span>
                    <Span
                      text="January 5, 2020"
                      fontWeight="800"
                      fontSize="12"
                    ></Span>
                  </FormattedString>
                </Label>
              </StackLayout>
              <StackLayout col="2" verticalAlignment="center">
                <Label text="65%" textWrap="true" fontWeight="800" class="h2" />
                <Label text="Status" textWrap="true" />
              </StackLayout>
            </GridLayout>
          </StackLayout>
          <StackLayout class="hr-light"></StackLayout>
          <!-- CARD STYLE 10 -->
          <StackLayout>
            <Label
              text="List Style 10"
              textWrap="true"
              class="h2"
              margin="20"
              marginBottom="0"
            />
            <GridLayout
              columns="auto, *, auto"
              marginTop="20"
              marginBottom="20"
            >
              <StackLayout
                col="0"
                width="4"
                backgroundColor="lightgreen"
                marginRight="10"
              ></StackLayout>
              <StackLayout col="1">
                <Label
                  text="Business Consultant"
                  textWrap="true"
                  fontWeight="800"
                  class="h2"
                />
                <Label
                  text="Unavailable from 11:00 to 2:00"
                  textWrap="true"
                  fontWeight="200"
                />
              </StackLayout>
              <Label
                col="2"
                margin="10"
                text="View Now"
                textWrap="true"
                verticalAlignment="top"
                horizontalAlignment="right"
              />
            </GridLayout>
          </StackLayout>
          <StackLayout class="hr-light"></StackLayout>
          <!-- CARD STYLE 11 -->
          <StackLayout>
            <Label
              text="List Style 11"
              textWrap="true"
              class="h2"
              margin="20"
              marginBottom="0"
            />
            <GridLayout
              columns="auto, *, auto"
              marginTop="20"
              marginBottom="20"
              style="border-radius: 0 50 50 0;"
              backgroundColor="lightgray"
              marginRight="20"
            >
              <StackLayout
                height="40"
                width="40"
                col="0"
                borderRadius="100%"
                borderWidth="2"
                marginLeft="10"
                borderColor="lightblue"
              >
                <Image
                  src="~/assets/images/icons/icons8-heart-filled.png"
                  stretch="aspectFit"
                  height="20"
                  width="20"
                  margin="10"
                  verticalAlignment="center"
                />
              </StackLayout>

              <StackLayout col="1" margin="10">
                <Label text="$100" textWrap="true" class="h2" />
                <Label text="App Template" textWrap="true" class="h5" />
                <Label
                  text="All you need for speedy development"
                  textWrap="true"
                  fontWeight="200"
                  class="h5"
                />
              </StackLayout>
              <Label
                col="2"
                margin="20"
                text="1:30"
                textWrap="true"
                verticalAlignment="center"
                horizontalAlignment="right"
              />
            </GridLayout>
          </StackLayout>
          <StackLayout class="hr-light"></StackLayout>
          <!-- CARD STYLE 12 -->
          <StackLayout>
            <Label
              text="List Style 12"
              textWrap="true"
              class="h2"
              margin="20"
              marginBottom="0"
            />
            <GridLayout
              rows="auto, auto, auto"
              margin="20"
              backgroundColor="lightgray"
              borderRadius="20"
            >
              <Image
                borderRadius="20"
                row="0"
                rowSpan="3"
                src="~/assets/images/generic/generic_3.jpg"
                stretch="aspectFit"
              />
              <Label
                row="0"
                text="THE ROCK"
                textWrap="true"
                fontWeight="800"
                class="h2"
                margin="20"
                marginBottom="0"
              />
              <Label
                row="1"
                text="Professional Actor"
                textWrap="true"
                fontWeight="200"
                class="h3"
                marginLeft="20"
                marginBottom="5"
              />
              <Button
                row="2"
                width="40%"
                backgroundColor="darkblue"
                color="white"
                text="View Profile"
                class="h3"
                fontWeight="800"
                paddingTop="3"
                paddingBottom="3"
                borderRadius="30"
                horizontalAlignment="left"
                marginLeft="20"
                marginBottom="20"
              />
            </GridLayout>
          </StackLayout>
          <StackLayout class="hr-light"></StackLayout>
          <!-- CARD STYLE 13 -->
          <StackLayout>
            <Label
              text="List Style 13"
              textWrap="true"
              class="h2"
              margin="20"
              marginBottom="0"
            />
            <GridLayout
              rows="auto, auto,"
              margin="20"
              backgroundColor="white"
              borderRadius="10"
              borderWidth="0.5"
              borderColor="lightgray"
            >
              <Image
                row="0"
                src="~/assets/images/generic/generic_4.jpg"
                stretch="aspectFill"
                style="border-radius: 10 10 0 0"
                height="150"
              />
              <Label
                row="1"
                text="Artsy Work"
                textWrap="true"
                margin="20"
                fontWeight="800"
                class="h3"
              />
            </GridLayout>
          </StackLayout>
          <StackLayout class="hr-light"></StackLayout>
        </StackLayout>
      </ScrollView>
    </StackLayout>
  </Page>
</template>

<script>
  export default {
    data() {
      return {
        isHearted: false,
      };
    },
  };
</script>

<style lang="scss" scoped></style>
