<template>
  <Page actionBarHidden="true">
      <StackLayout>
          <Label text="" textWrap="true" />
      </StackLayout>
  </Page>
</template>

<script>

export default {
  data() {
    return {
    };
  }
};
</script>

<style scoped>

</style>
