<template>
  <Page :actionBarHidden="true">
    <StackLayout>
      <GridLayout
        row="0"
        rows="*"
        columns="auto,*"
        ref="navStatusBar"
        class="navStatusBar"
        verticalAlignment="top"
      >
        <Image
          margin="20"
          src="~/assets/images/icons/icons8-left-black-48.png"
          stretch="aspectFit"
          row="0"
          col="0"
          height="20"
          horizontalAlignment="left"
          @tap="$navigateBack()"
        />
        <Label
          col="1"
          text="Notifications"
          textWrap="true"
          class="h2"
          fontWeight="800"
          verticalAlignment="center"
        />
      </GridLayout>
      <StackLayout class="hr-light"> </StackLayout>
      <GridLayout rows="*">
        <ListView
          row="0"
          for="item in notificationItems"
          marginRight="20"
          margingLeft="20"
        >
          <v-template>
            <GridLayout columns="auto, *" padding="20">
              <StackLayout
                col="0"
                padding="10"
                backgroundColor="#d32f2f"
                borderRadius="100%"
              >
                <Image
                  height="30"
                  src="~/assets/images/icons/ic_mail_black.png"
                  stretch="aspectFit"
                />
              </StackLayout>

              <StackLayout verticalAlignment="center" paddingLeft="15" col="1">
                <Label
                  verticalAlignment="center"
                  fontWeight="600"
                  class="h3"
                  :text="item.title"
                  textWrap="true"
                  paddingBottom="5"
                />
                <Label
                  verticalAlignment="center"
                  fontWeight="200"
                  :text="item.date"
                  class="h4"
                  textWrap="true"
                />
              </StackLayout>
            </GridLayout>
          </v-template>
        </ListView>
      </GridLayout>
    </StackLayout>
  </Page>
</template>

<script>
export default {
  data() {
    return {
      notificationItems: [
        {
          title: "New Food is available",
          date: "Nov 12, 2019"
        },
        {
          title: "Points has been updated",
          date: "No 13, 2019"
        },
        {
          title: "Thank you for subscribing",
          date: "No 12, 2019"
        },
        {
          title: "New updates for the system",
          date: "No 11, 2019"
        }
      ]
    };
  }
};
</script>

<style lang="scss" scoped></style>
