<template>
  <Page actionBarHidden="true">
    <StackLayout>
      <GridLayout
        rows="*"
        padding="15"
        paddingBottom="15"
        ref="navStatusBar"
        class="navStatusBar"
        verticalAlignment="top"
        width="100%"
      >
        <Image
          src="~/assets/images/icons/icons8-left-black-48.png"
          stretch="aspectFit"
          height="20"
          row="0"
          @tap="$navigateBack()"
          horizontalAlignment="left"
        />
        <Label
          row="0"
          marginLeft="20"
          text="Sign up"
          textWrap="true"
          fontWeight="800"
          fontSize="20"
          horizontalAlignment="center"
        />
      </GridLayout>
      <ScrollView scrollBarIndicatorVisible="false">
        <StackLayout margin="20">
          <LottieView
            height="200"
            src="registrationAnimation.json"
            :loop="false"
            :autoPlay="true"
          ></LottieView>

          <!-- Name -->
          <StackLayout marginTop="20">
            <Label text="Name" textWrap="true" />
            <TextField
              marginTop="10"
              hint="Fill in your name"
              width="100%"
              borderRadius="10"
              borderWidth="1"
              borderColor="#bdbdbd"
              padding="10"
            />
          </StackLayout>
          <!-- Email -->
          <StackLayout marginTop="20">
            <Label text="Email" textWrap="true" />
            <TextField
              marginTop="10"
              hint="Fill in your email"
              width="100%"
              borderRadius="10"
              borderWidth="1"
              borderColor="#bdbdbd"
              padding="10"
            />
          </StackLayout>
          <!-- Contact number -->
          <StackLayout marginTop="20">
            <Label text="Contact Number" textWrap="true" />
            <TextField
              marginTop="10"
              hint="Fill in your contact no"
              width="100%"
              borderRadius="10"
              borderWidth="1"
              borderColor="#bdbdbd"
              padding="10"
            />
          </StackLayout>
          <!-- Password -->
          <StackLayout marginTop="20">
            <Label text="Password" textWrap="true" />
            <TextField
              marginTop="10"
              hint="Fill in your password"
              width="100%"
              borderRadius="10"
              borderWidth="1"
              borderColor="#bdbdbd"
              padding="10"
              secure
            />
          </StackLayout>
          <!-- Confirm Password -->
          <StackLayout marginTop="20">
            <Label text="Confirm Password" textWrap="true" />
            <TextField
              marginTop="10"
              hint="Confirm in your password"
              width="100%"
              borderRadius="10"
              borderWidth="1"
              borderColor="#bdbdbd"
              padding="10"
              secure
            />
          </StackLayout>
          <Button
            marginTop="50"
            color="#ffffff"
            text="Submit"
            class="h3"
            backgroundColor="#e91e63"
            padding="15"
            borderRadius="20"
          />
        </StackLayout>
      </ScrollView>
    </StackLayout>
  </Page>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped></style>
