<template>
  <Page actionBarHidden="true">
    <GridLayout rows="*, auto">
      <ScrollView row="0">
        <GridLayout rows="*">
          <Image
            marginTop="-200"
            height="400"
            row="0"
            src="~/assets/images/food/food_1.jpg"
            stretch="aspectFill"
            verticalAlignment="top"
          />
          <StackLayout row="0">
            <GridLayout
              columns="*, *"
              paddingTop="15"
              ref="navStatusBar"
              class="navStatusBar"
              width="100%"
            >
              <StackLayout col="0" colSpan="2" width="100%" paddingLeft="20">
                <Image
                  width="20"
                  src="~/assets/images/icons/icons8-left-white-48.png"
                  stretch="aspectFit"
                  horizontalAlignment="left"
                  marginTop="5"
                  @tap="$navigateBack"
                />
                <StackLayout width="70%" horizontalAlignment="left">
                  <Label
                    paddingTop="20"
                    paddingBottom="20"
                    fontWeight="800"
                    class="h2"
                    text="Program Affiliation"
                    textWrap="true"
                    horizontalAlignment="left"
                  />
                  <Label
                    text="Get points when you refer to friends and families"
                    textWrap="true"
                    horizontalAlignment="left"
                  />
                </StackLayout>
              </StackLayout>
            </GridLayout>
          </StackLayout>
        </GridLayout>
      </ScrollView>
    </GridLayout>
  </Page>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped></style>
