<template>
  <StackLayout backgroundColor="white">
    <StackLayout margin="15" @tap="onGeneralFeedbackTap">
      <Label
        text="Add New General Feedback"
        textWrap="true"
        fontWeight="800"
        fontSize="20"
      />
    </StackLayout>
    <StackLayout class="hr-light"> </StackLayout>
    <StackLayout margin="15" @tap="onAssetTap">
      <Label
        text="Add New Asset"
        textWrap="true"
        fontWeight="800"
        fontSize="20"
      />
    </StackLayout>
    <StackLayout class="hr-light"> </StackLayout>
    <StackLayout margin="15" @tap="onInventoryTap">
      <Label
        text="Add New Inventory"
        textWrap="true"
        fontWeight="800"
        fontSize="20"
      />
    </StackLayout>
  </StackLayout>
</template>

<script>
export default {
  data() {
    return {};
  },
  methods: {
    onGeneralFeedbackTap() {
      this.$modal.close(0);
    },
    onAssetTap() {
      this.$modal.close(1);
    },
    onInventoryTap() {
      this.$modal.close(2);
    }
  }
};
</script>

<style lang="scss" scoped></style>
