<template>
  <Page actionBarHidden="true">
    <StackLayout>
      <GridLayout
        row="0"
        rows="*"
        columns="auto,*"
        ref="navStatusBar"
        class="navStatusBar"
        verticalAlignment="top"
      >
        <Image
          margin="20"
          src="~/assets/images/icons/icons8-left-black-48.png"
          stretch="aspectFit"
          row="0"
          col="0"
          height="20"
          horizontalAlignment="left"
          @tap="$navigateBack"
        />
        <Label
          col="1"
          text="App Detail"
          textWrap="true"
          class="h2"
          fontWeight="800"
          verticalAlignment="center"
        />
      </GridLayout>
      <StackLayout class="hr-light"> </StackLayout>
      <StackLayout margin="20">
        <StackLayout>
          <Label
            text="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
            textWrap="true"
          />
          <Label
            marginTop="30"
            text="App 2019 All Rights Reserved."
            textWrap="true"
          />
        </StackLayout>
      </StackLayout>
      <StackLayout height="15" backgroundColor="lightgray"> </StackLayout>
      <StackLayout margin="20">
        <GridLayout rows="auto" columns="*, auto">
          <Label
            row="0"
            col="0"
            text="Contact Us"
            textWrap="true"
            class="h2"
            fontWeight="800"
          />
          <Image
            row="0"
            src="~/assets/images/icons/icons8-forward-50-black.png"
            stretch="aspectFit"
            col="1"
            height="30"
            horizontalAlignment="left"
          />
        </GridLayout>
      </StackLayout>
    </StackLayout>
  </Page>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped></style>
