<template>
  <Page actionBarHidden="true">
    <StackLayout>
      <GridLayout
        row="0"
        rows="*"
        columns="auto,*"
        ref="navStatusBar"
        class="navStatusBar"
        verticalAlignment="top"
      >
        <Image
          margin="20"
          src="~/assets/images/icons/icons8-left-black-48.png"
          stretch="aspectFit"
          row="0"
          col="0"
          height="20"
          horizontalAlignment="left"
          @tap="$navigateBack"
        />
        <Label
          col="1"
          text="Foods you liked"
          textWrap="true"
          class="h2"
          fontWeight="800"
          verticalAlignment="center"
        />
      </GridLayout>
      <StackLayout class="hr-light"> </StackLayout>
      <StackLayout>
        <StackLayout marginTop="30" margin="20">
          <Label
            :text="items.length + ' ' + 'likes'"
            textWrap="true"
            fontWeight="800"
          />

          <GridLayout
            rows="auto, auto"
            columns="auto,*"
            v-for="(item, index) in items"
            :key="index"
            marginBottom="20"
          >
            <Image
              borderRadius="20"
              :src="item.image"
              stretch="aspectFill"
              row="0"
              height="100"
              width="100"
              rowSpan="2"
              col="0"
              horizontalAlignment="left"
            />
            <GridLayout row="0" col="1" columns="*, auto" paddingLeft="5">
              <StackLayout col="0" padding="5">
                <Label
                  verticalAlignment="top"
                  :text="item.title"
                  col="0"
                  textWrap="true"
                  fontWeight="800"
                />
                <Label
                  verticalAlignment="top"
                  :text="item.description"
                  col="0"
                  textWrap="true"
                  fontWeight="200"
                  class="h4"
                  paddingTop="2"
                />
              </StackLayout>
              <Image
                @tap="item.isLiked = !item.isLiked"
                :src="
                  item.isLiked
                    ? '~/assets/images/icons/icons8-heart-filled.png'
                    : '~/assets/images/icons/icons8-heart-outline.png'
                "
                stretch="aspectFit"
                col="1"
                height="25"
                horizontalAlignment="left"
                verticalAlignment="top"
              />
            </GridLayout>

            <GridLayout
              verticalAlignment="bottom"
              row="2"
              col="1"
              columns="*, auto"
              padding="5"
            >
              <StackLayout orientation="horizontal" col="0">
                <Image
                  src="~/assets/images/icons/ic_coin.png"
                  stretch="aspectFit"
                  col="1"
                  height="30"
                  horizontalAlignment="left"
                  verticalAlignment="top"
                />
                <Label
                  paddingLeft="5"
                  verticalAlignment="center"
                  :text="item.points + ' ' + 'points'"
                  col="0"
                  textWrap="true"
                  fontWeight="600"
                />
              </StackLayout>

              <Button
                color="#ffffff"
                text="Redeem"
                class="h3"
                backgroundColor="#e91e63"
                borderRadius="10"
                paddingLeft="20"
                paddingRight="20"
                paddingTop="2"
                paddingBottom="2"
                horizontalAlignment="right"
              />
            </GridLayout>
          </GridLayout>
        </StackLayout>
      </StackLayout>
    </StackLayout>
  </Page>
</template>

<script>
export default {
  data() {
    return {
      items: [
        {
          image: "~/assets/images/generic/generic_2.jpg",
          title: "Baked Chicken Pot Pie",
          description: "Freshly baked pie with a stuffed crust",
          points: "300",
          isLiked: true
        },
        {
          image: "~/assets/images/generic/generic_3.jpg",
          title: "Mac 'n' Cheese Burger",
          description: "All your favorites in one",
          points: "200",
          isLiked: false
        }
      ]
    };
  }
};
</script>

<style lang="scss" scoped></style>
