<template>
  <Page actionBarHidden="true">
    <StackLayout>
      <GridLayout
        row="0"
        rows="*"
        columns="auto,*"
        ref="navStatusBar"
        class="navStatusBar"
        verticalAlignment="top"
      >
        <Image
          margin="20"
          src="~/assets/images/icons/icons8-left-black-48.png"
          stretch="aspectFit"
          row="0"
          col="0"
          height="20"
          horizontalAlignment="left"
          @tap="$navigateBack()"
        />
        <Label
          col="1"
          text="Profile Form"
          textWrap="true"
          class="h2"
          fontWeight="800"
          verticalAlignment="center"
        />
      </GridLayout>
      <StackLayout class="hr-light"> </StackLayout>
      <StackLayout>
        <ScrollView scrollBarIndicatorVisible="false">
          <StackLayout margin="20">
            <Label
              text="You are make changes regarding your profile here"
              textWrap="true"
            />
            <GridLayout rows="auto" margin="20">
              <Image
                row="0"
                src="~/assets/images/person/person_1.png"
                stretch="aspectFit"
                width="30%"
                borderRadius="100%"
              />
              <Image
                row="0"
                src="~/assets/images/icons/icons8-camera.48.png"
                stretch="aspectFit"
                width="40"
                verticalAlignment="center"
                horizontalAlignment="center"
              />
            </GridLayout>
            <!-- <GridLayout row="0" col="1" columns="*, auto" paddingLeft="5">
              <StackLayout col="0" padding="5">
                <Label
                  verticalAlignment="top"
                  :text="item.title"
                  col="0"
                  textWrap="true"
                  fontWeight="800"
                />
                <Label
                  verticalAlignment="top"
                  :text="item.description"
                  col="0"
                  textWrap="true"
                  fontWeight="200"
                  class="h4"
                  paddingTop="2"
                />
              </StackLayout>
            </GridLayout> -->
            <StackLayout marginTop="10">
              <Label text="Your Name" textWrap="true" marginBottom="5" />
              <TextField
                hint="Name"
                borderRadius="10"
                borderWidth="1"
                borderColor="#bdbdbd"
                width="100%"
                padding="10"
              />
            </StackLayout>
            <StackLayout marginTop="10">
              <Label text="Telephone No." textWrap="true" marginBottom="5" />
              <TextField
                hint="Telephone No."
                borderRadius="10"
                borderWidth="1"
                borderColor="#bdbdbd"
                width="100%"
                padding="10"
              />
            </StackLayout>
            <StackLayout marginTop="10">
              <Label text="Address" textWrap="true" marginBottom="5" />
              <TextField
                hint="Address"
                borderRadius="10"
                borderWidth="1"
                borderColor="#bdbdbd"
                width="100%"
                padding="10"
              />
            </StackLayout>
            <StackLayout marginTop="20">
              <Label text="Email" textWrap="true" />
              <GridLayout
                columns="*, auto"
                row="auto"
                borderWidth="1"
                borderRadius="10"
                borderColor="#bdbdbd"
                marginTop="5"
                padding="5"
                class="form"
              >
                <TextField
                  col="0"
                  hint="Email"
                  class="tfstyle"
                  v-model="item.email"
                  disabled
                />
                <Label
                  col="1"
                  text="Update"
                  textWrap="true"
                  color="blue"
                  verticalAlignment="center"
                  @tap="onEmailTap"
                />
              </GridLayout>
            </StackLayout>
            <StackLayout marginTop="20">
              <Label text="Password" textWrap="true" />
              <GridLayout
                columns="*, auto"
                row="auto"
                borderWidth="1"
                borderRadius="10"
                borderColor="#bdbdbd"
                marginTop="5"
                padding="0"
                class="input"
              >
                <TextField
                  col="0"
                  hint="Password"
                  class="tfstyle"
                  margin="0"
                  disabled
                  v-model="item.password"
                  secure
                />
                <Label
                  col="1"
                  text="Update"
                  textWrap="true"
                  color="blue"
                  verticalAlignment="center"
                  @tap="onPasswordTap"
                />
              </GridLayout>
            </StackLayout>
            <Button
              margin="30"
              color="#ffffff"
              text="UPDATE"
              class="h3"
              fontWeight="800"
              paddingTop="5"
              paddingBottom="5"
              backgroundColor="#e91e63"
              borderRadius="20"
            />
          </StackLayout>
        </ScrollView>
      </StackLayout>
    </StackLayout>
  </Page>
</template>

<script>
import UpdateEmailForm from "../Others/UpdateEmailForm";
import UpdatePasswordForm from "../Others/UpdatePasswordForm";
export default {
  data() {
    return {
      item: {
        password: "password",
        email: "ikmalsuzali@gmail.com"
      }
    };
  },
  methods: {
    onPasswordTap() {
      this.$navigateTo(UpdatePasswordForm);
    },
    onEmailTap() {
      this.$navigateTo(UpdateEmailForm);
    }
  }
};
</script>

<style lang="scss" scoped>
.tfstyle {
  border-bottom-width: 1;
  border-bottom-color: transparent;
}

TextField {
  border-bottom-width: 1;
  border-bottom-color: transparent;
}
</style>
