<template>
  <Page actionBarHidden="true">
    <GridLayout rows="auto, *, auto">
      <Image
        src="~/assets/images/food/food_1.jpg"
        stretch="aspectFill"
        row="0"
        rowSpan="3"
        height="300"
        marginTop="-100"
        verticalAlignment="top"
      />

      <StackLayout row="1" padding="20" marginTop="0">
        <ScrollView scrollBarIndicatorVisible="false">
          <StackLayout>
            <Image
              src="~/assets/images/icons/icons8-dollar-taiwan-dollar-exchange-100.png"
              stretch="aspectFit"
              height="150"
              width="150"
              horizontalAlignment="center"
            />
            <Label
              horizontalAlignment="center"
              text="Redeem Points"
              textWrap="true"
              fontWeight="800"
              class="h2"
              paddingBottom="10"
            />
            <Image
              src="~/assets/images/qr_code.png"
              stretch="aspectFit"
              width="50%"
              horizontalAlignment="center"
            />
            <Label
              horizontalAlignment="center"
              text="Promotions ends November 19, 2019 "
              textWrap="true"
              paddingBottom="20"
              class="h6"
            />
            <StackLayout>
              <StackLayout paddingBottom="20">
                <Label
                  text="Combo B"
                  textWrap="true"
                  fontWeight="800"
                  class="h3"
                />
                <Label
                  text="Baked Chicken and Rice"
                  textWrap="true"
                  fontWeight="200"
                />
              </StackLayout>
              <StackLayout>
                <Label
                  text="Note:"
                  textWrap="true"
                  fontWeight="800"
                  class="h3"
                />
                <Label
                  text="Show QR Code to the cashier to redeem the item"
                  textWrap="true"
                  fontWeight="200"
                />
              </StackLayout>
            </StackLayout>
          </StackLayout>
        </ScrollView>
      </StackLayout>
      <CardView
        row="2"
        ripple="true"
        class="card"
        margin="10"
        elevation="30"
        ios:shadowRadius="2"
        radius="5"
        style="  background-color: #fff; color: #4d4d4d;"
      >
        <GridLayout columns="*, *" padding="20">
          <Label
            col="0"
            text="Total Redeem Points"
            textWrap="true"
            fontWeight="800"
            class="h4"
          />
          <Label
            col="1"
            text="800 points"
            textWrap="true"
            horizontalAlignment="right"
            fontWeight="800"
            color="orange"
            fontSize="20"
          />
        </GridLayout>
      </CardView>
      <Image
        margin="20"
        src="~/assets/images/icons/icons8-delete-white-48.png"
        stretch="aspectFit"
        row="1"
        width="20"
        height="20"
        horizontalAlignment="right"
        verticalAlignment="top"
        @tap="$navigateBack()"
      />
      <!-- <GridLayout
        row="0"
        rows="*"
        ref="navStatusBar"
        class="navStatusBar"
        verticalAlignment="top"
      >
      
      </GridLayout> -->
    </GridLayout>
  </Page>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped></style>
