<template>
  <Page actionBarHidden="true">
    <StackLayout>
      <GridLayout
        row="0"
        rows="*"
        columns="auto,*"
        ref="navStatusBar"
        class="navStatusBar"
        verticalAlignment="top"
      >
        <Image
          margin="20"
          src="~/assets/images/icons/icons8-left-black-48.png"
          stretch="aspectFit"
          row="0"
          col="0"
          height="20"
          horizontalAlignment="left"
          @tap="$navigateBack"
        />
        <Label
          row="0"
          col="1"
          text="App Detail"
          textWrap="true"
          verticalAlignment="center"
          class="h2"
          fontWeight="800"
        />
      </GridLayout>
      <StackLayout class="hr-light"> </StackLayout>
      <StackLayout marginTop="30" margin="20">
        <GridLayout
          rows="auto"
          columns="auto,*"
          v-for="(item, index) in items"
          :key="index"
          marginBottom="40"
        >
          <StackLayout row="0" col="0">
            <Label
              :text="item.title"
              fontWeight="800"
              class="h2"
              textWrap="true"
            />
            <Label :text="item.points" textWrap="true" />
          </StackLayout>
          <Label
            row="0"
            col="1"
            :text="item.date"
            textWrap="true"
            horizontalAlignment="right"
          />
        </GridLayout>
      </StackLayout>
    </StackLayout>
  </Page>
</template>

<script>
export default {
  data() {
    return {
      items: [
        {
          title: "Points Earned",
          points: "+ 300",
          date: this.randomDate(new Date(2012, 0, 1), new Date())
        },
        {
          title: "Points Used",
          points: "- 500",
          date: this.randomDate(new Date(2012, 0, 1), new Date())
        },
        {
          title: "Points Used",
          points: "- 800",
          date: this.randomDate(new Date(2012, 0, 1), new Date())
        }
      ]
    };
  },
  methods: {
    randomDate(start, end) {
      let date = new Date(
        start.getTime() + Math.random() * (end.getTime() - start.getTime())
      );
      return date.toLocaleDateString("en-US");
    }
  }
};
</script>

<style lang="scss" scoped></style>
