<template>
  <Page actionBarHidden="true">
    <StackLayout>
      <GridLayout
        columns="*"
        ref="navStatusBar"
        class="navStatusBar"
        verticalAlignment="top"
      >
        <Image
          margin="20"
          src="~/assets/images/icons/icons8-multiply-50.png"
          stretch="aspectFit"
          col="0"
          height="20"
          horizontalAlignment="right"
        />
      </GridLayout>
      <ScrollView>
        <GridLayout rows="*">
          <StackLayout>
            <Image
              src="~/assets/images/icons/icons8-check-file-64.png"
              stretch="aspectFit"
              col="0"
              width="15%"
              horizontalAlignment="center"
              fontWeight="800"
              fontSize="20"
            />
            <Label
              horizontalAlignment="center"
              text="Congratulations"
              textWrap="true"
              fontWeight="800"
              fontSize="20"
              margin="10"
            />
            <Label
              horizontalAlignment="center"
              text="You received points for your transaction"
              textWrap="true"
            />
            <StackLayout
              backgroundColor="lightgray"
              color="#3cfcfcf"
              marginTop="10"
            >
              <Label
                text="Details"
                textWrap="true"
                margin="10"
                marginLeft="15"
                fontWeight="800"
              />
            </StackLayout>
            <GridLayout
              rows="auto, auto, auto, auto"
              columns="*, *"
              marginTop="20"
              marginLeft="15"
              marginRight="15"
            >
              <StackLayout row="0" col="0">
                <Label text="CODE" textWrap="true" margin="5" fontSize="12" />
                <Label
                  text="A451A04"
                  textWrap="true"
                  margin="5"
                  fontWeight="800"
                />
              </StackLayout>
              <StackLayout row="0" col="1">
                <Label
                  text="REWARD POINTS"
                  textWrap="true"
                  margin="5"
                  fontSize="12"
                />
                <Label
                  text="1000 Points"
                  textWrap="true"
                  margin="5"
                  fontWeight="800"
                />
              </StackLayout>
              <StackLayout row="1" col="0">
                <Label
                  text="TRANSACTION DATE"
                  textWrap="true"
                  margin="5"
                  fontSize="12"
                />
                <Label
                  text="14 JANUARY, 2019"
                  textWrap="true"
                  margin="5"
                  fontWeight="800"
                />
              </StackLayout>
              <StackLayout row="1" col="1">
                <Label
                  text="DELIVERY ORDER"
                  textWrap="true"
                  margin="5"
                  fontSize="12"
                />
                <Label
                  text="10 FEBUARY, 2019"
                  textWrap="true"
                  margin="5"
                  fontWeight="800"
                />
              </StackLayout>
              <StackLayout row="2" col="0">
                <Label text="NAME" textWrap="true" margin="5" fontSize="12" />
                <Label
                  text="JOHN DOE"
                  textWrap="true"
                  margin="5"
                  fontWeight="800"
                />
              </StackLayout>
              <StackLayout row="2" col="1">
                <Label text="GROUP" textWrap="true" margin="5" fontSize="12" />
                <Label
                  text="NSGROUP"
                  textWrap="true"
                  margin="5"
                  fontWeight="800"
                />
              </StackLayout>
              <StackLayout row="3" col="0">
                <Label
                  text="ORDER NAME"
                  textWrap="true"
                  margin="5"
                  fontSize="12"
                />
                <Label
                  text="CHICKEN RICE"
                  textWrap="true"
                  margin="5"
                  fontWeight="800"
                />
              </StackLayout>
              <StackLayout row="3" col="1">
                <Label
                  text="ORDER (#)"
                  textWrap="true"
                  margin="5"
                  fontSize="12"
                />
                <Label text="5" textWrap="true" margin="5" fontWeight="800" />
              </StackLayout>
            </GridLayout>
            <GridLayout columns="*," margin="20">
              <StackLayout col="0">
                <Label
                  text="TOTAL COST"
                  textWrap="true"
                  margin="5"
                  fontSize="12"
                />
                <Label
                  text="$1000.00"
                  textWrap="true"
                  margin="5"
                  fontSize="20"
                  fontWeight="800"
                />
              </StackLayout>
              <Button
                col="1"
                horizontalAlignment="right"
                color="#ffffff"
                text="Confirm"
                class="h3"
                backgroundColor="#e91e63"
                padding="10"
                borderRadius="20"
              />
            </GridLayout>
            <!-- <StackLayout
              orientation="horizontal"
              marginTop="20"
              marginLeft="20"
            >
              <StackLayout width="60%">
                <Label
                  text="TOTAL COST"
                  textWrap="true"
                  margin="5"
                  fontSize="12"
                />
                <Label
                  text="$1000.00"
                  textWrap="true"
                  margin="5"
                  fontSize="20"
                  fontWeight="800"
                />
              </StackLayout>
              <StackLayout>
               
              </StackLayout>
            </StackLayout> -->
          </StackLayout>
        </GridLayout>
      </ScrollView>
    </StackLayout>
  </Page>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped></style>
