<template>
  <Page actionBarHidden="true">
    <StackLayout>
      <GridLayout
        row="0"
        rows="*"
        columns="auto,*"
        ref="navStatusBar"
        class="navStatusBar"
        verticalAlignment="top"
      >
        <Image
          margin="20"
          src="~/assets/images/icons/icons8-left-black-48.png"
          stretch="aspectFit"
          row="0"
          col="0"
          height="20"
          horizontalAlignment="left"
          @tap="$navigateBack()"
        />
        <Label
          col="1"
          text="Update Password"
          textWrap="true"
          class="h2"
          fontWeight="800"
          verticalAlignment="center"
        />
      </GridLayout>
      <StackLayout class="hr-light"> </StackLayout>
      <StackLayout>
        <Image
          height="100"
          src="~/assets/images/NativeScript-Vue.png"
          stretch="aspectFit"
        />
        <StackLayout marginTop="20">
          <Label text="Your Current Password" textWrap="true" />
          <TextField
            marginTop="10"
            hint="Current Password"
            width="100%"
            borderRadius="10"
            borderWidth="1"
            borderColor="#bdbdbd"
            padding="10"
          />
        </StackLayout>
        <StackLayout marginTop="20">
          <Label text="Your New Password" textWrap="true" />
          <TextField
            marginTop="10"
            hint="New Password"
            width="100%"
            borderRadius="10"
            borderWidth="1"
            borderColor="#bdbdbd"
            padding="10"
          />
        </StackLayout>
        <StackLayout marginTop="20">
          <Label text="Confirm Your Password" textWrap="true" />
          <TextField
            marginTop="10"
            hint="Password Confirmation"
            width="100%"
            borderRadius="10"
            borderWidth="1"
            borderColor="#bdbdbd"
            padding="10"
          />
        </StackLayout>
        <Button
          color="#ffffff"
          text="UPDATE"
          class="h3"
          paddingTop="5"
          paddingBottom="5"
          backgroundColor="#e91e63"
          borderRadius="20"
          margin="40"
        />
      </StackLayout>
    </StackLayout>
  </Page>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped></style>
